Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

Add changeset
  .changeset/little-mangos-accept.md
Due: none

fix `codemirror` import for `onHasCompletion` (#2265)
  .changeset/little-mangos-accept.md
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

Re-add graphql-language-service-server as a dep
  packages/graphql-language-service-cli/package.json
Due: graphql-language-service

add changeset
  .changeset/spicy-suits-ring.md
Due: none

Re-add graphql-language-service-server as a dep (#2267)
  .changeset/spicy-suits-ring.md
  packages/graphql-language-service-cli/package.json
Due: graphql-language-service

remove dependency on `global`
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add changeset
  .changeset/funny-jokes-divide.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

remove dependency on `global` (#2268)
  .changeset/funny-jokes-divide.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

a few bugfixes related to config handling impacting vim and potentially other users
  .changeset/wet-bobcats-chew.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: graphql-language-service, graphql-language-service-server

fix typos in READMEs
  README.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql/README.md
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service/README.md
  packages/monaco-graphql/README.md
Due: graphiql, graphql-language-service, graphql-language-service-server

enable `react/jsx-curly-brace-presence` and disable `react/jsx-no-literals`
  .eslintrc.js
  examples/graphiql-webpack/src/index.jsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  packages/graphiql-2-rfc-context/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql-2-rfc-context/src/components/common/Layout.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/List/List.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Nav.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Resizer/Resizer.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Tabs.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Toolbar.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Type.stories.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/Directive.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

turn `valid-typeof` as `error`
  .eslintrc.js
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
Due: none

finish migration, this should publish
  .changeset/big-ads-pull.md
  .eslintignore
  package.json
  packages/vscode-graphql/README.md
  packages/vscode-graphql/package.json
Due: none

finish migration, this should publish (#2276)
  .changeset/big-ads-pull.md
  .eslintignore
  package.json
  packages/vscode-graphql/README.md
  packages/vscode-graphql/package.json
Due: none

LSP on config change bug fixes for #2230 (#2271)
  .changeset/wet-bobcats-chew.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: graphql-language-service, graphql-language-service-server

fix: warn with no graphql config, instead of error (#1669)
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

use release not publish script
  package.json
  packages/vscode-graphql/package.json
Due: none

use release not publish script (#2279)
  package.json
  packages/vscode-graphql/package.json
Due: none

Create blue-baboons-begin.md
  .changeset/blue-baboons-begin.md
Due: none

turn `valid-typeof` as `error` (#2274)
  .changeset/blue-baboons-begin.md
  .eslintrc.js
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
Due: none

vsce does not work with yarn workspaces
  packages/vscode-graphql/package.json
  packages/vscode-graphql/yarn.lock
Due: none

use patched vsce (#2281)
  packages/vscode-graphql/package.json
  packages/vscode-graphql/yarn.lock
Due: none

manually add PAT token
  packages/vscode-graphql/package.json
Due: none

manually add PAT token (#2282)
  packages/vscode-graphql/package.json
Due: none

more vscode-graphql migration
  packages/vscode-graphql/.vscodeignore
  packages/vscode-graphql/package.json
Due: none

more vscode-graphql migration (#2283)
  packages/vscode-graphql/.vscodeignore
  packages/vscode-graphql/package.json
Due: none

enable `react/jsx-no-useless-fragment`
  .eslintignore
  .eslintrc.js
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
Due: none

enable `react/no-unused-state`
  .eslintrc.js
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
Due: none

Update April 12th Agenda
  working-group/agendas/2022/2022-04-12.md
Due: none

fix typos in READMEs (#2272)
  README.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql/README.md
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service/README.md
  packages/monaco-graphql/README.md
Due: graphiql, graphql-language-service, graphql-language-service-server

release `vscode-graphql@4.0.3` from the monorepo
  .changeset/old-mugs-buy.md
  .vscode/tasks.json
  package.json
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/vscode-graphql/.vscodeignore
  packages/vscode-graphql/esbuild.js
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/extension.ts
  packages/vscode-graphql/src/server/index.ts
  packages/vscode-graphql/tsconfig.json
  packages/vscode-graphql/yarn.lock
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

releases work, disable pre-release for now
  package.json
  packages/graphql-language-service-server/README.md
  packages/monaco-graphql/README.md
  packages/vscode-graphql/package.json
  scripts/canary-release.js
Due: graphql-language-service, graphql-language-service-server

release `vscode-graphql@0.4.2` from the monorepo (#2288)
  .changeset/old-mugs-buy.md
  .vscode/tasks.json
  package.json
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/README.md
  packages/vscode-graphql/.vscodeignore
  packages/vscode-graphql/esbuild.js
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/extension.ts
  packages/vscode-graphql/src/server/index.ts
  packages/vscode-graphql/tsconfig.json
  packages/vscode-graphql/yarn.lock
  scripts/canary-release.js
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

Update tsconfig.esm.json
  packages/graphql-language-service/tsconfig.esm.json
Due: graphql-language-service

Update 2022-04-12.md
  working-group/agendas/2022/2022-04-12.md
Due: none

fix: A query request was sent for subscriptions after tab change
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Updated changeset for es6 target for language service
  .changeset/chilled-pillows-warn.md
Due: none

added the changeset
  .changeset/light-rocks-smell.md
  yarn.lock
Due: none

fix: A query request was sent for subscriptions after tab change (#2312)
  .changeset/light-rocks-smell.md
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

Update tsconfig.esm.json to not target ESNext (#2291)
  .changeset/chilled-pillows-warn.md
  packages/graphql-language-service/tsconfig.esm.json
Due: graphql-language-service
