Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

Update packages/graphiql-react/src/schema.tsx
  packages/graphiql-react/src/schema.tsx
Due: none

review comments and added a changeset
  .changeset/friendly-flies-battle.md
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

Upgrade to ts-node 10.x
  custom-words.txt
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/vscode-graphql/esbuild.js
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

re-export GraphiQL provider
  packages/graphiql/src/index.tsx
Due: graphiql

Upgrade to ts-node 10.x (#2658)
  custom-words.txt
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/vscode-graphql/esbuild.js
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

disabling codecov but not removing.
  .codecov.yml
  .github/workflows/pr-tests.yml
Due: none

add changeset for vscode bugfix
  .changeset/famous-dragons-confess-1.md
Due: none

add changeset for vscode bugfix (#2660)
  .changeset/famous-dragons-confess-1.md
Due: none

Version Packages (#2645)
  .changeset/famous-dragons-confess-1.md
  .changeset/famous-dragons-confess.md
  .changeset/quick-pumas-fly.md
  .changeset/silly-squids-cheat.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: graphiql, graphql-language-service, graphql-language-service-server

disabling codecov but not removing. (#2659)
  .codecov.yml
  .github/workflows/pr-tests.yml
Due: none

Revert "Upgrade to ts-node 10.x (#2658)"
  .changeset/six-yaks-heal.md
  custom-words.txt
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/vscode-graphql/esbuild.js
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

upgrade node actions setup while im here
  .github/workflows/canary.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-graphql-compat-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
Due: none

reduce co2 usage by running less unneccesary GH actions workflows
  .github/workflows/canary.yml
  .github/workflows/pr-graphql-compat-check.yml
Due: none

remove node 12 from workflow
  .github/workflows/pr-tests.yml
Due: none

only test regressions on merge to main?
  .github/workflows/license-check.yml
  .github/workflows/pr-graphql-compat-check.yml
  .github/workflows/pr-tests.yml
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

reduce co2 usage by running less unnecessary GH actions workflows
  .github/workflows/canary.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-graphql-compat-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

fix on PR merge
  .github/workflows/pr-graphql-compat-check.yml
  .github/workflows/release.yml
Due: none

upgrade changesets
  package.json
  yarn.lock
Due: none

pre-releases for /next branches
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-graphql-compat-check.yml
  .github/workflows/pr-tests-node-matrix.yml
  .github/workflows/pr-tests.yml
  .github/workflows/pre-release.yml
  scripts/canary-release.js
  scripts/pre-release.js
Due: none

prevent things from going very awry! haha
  .github/workflows/pre-release.yml
  scripts/pre-release.js
Due: none

make sure to disable canary for next/ branches
  .github/workflows/canary.yml
Due: none

[v2] add provider component and deduplicate prop type definitions (#2650)
  .changeset/five-pillows-fail.md
  .changeset/mighty-cobras-occur.md
  .changeset/spotty-boxes-shout.md
  .changeset/spotty-fans-lie.md
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/tabs.ts
  packages/graphiql-react/src/editor/types.ts
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/src/explorer/context.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/history/context.tsx
  packages/graphiql-react/src/history/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/provider.tsx
  packages/graphiql-react/src/schema.tsx
  packages/graphiql-react/src/storage.tsx
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/index.tsx
Due: graphiql

add JSDocs for context types
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/src/explorer/components/doc-explorer.tsx
  packages/graphiql-react/src/explorer/context.tsx
  packages/graphiql-react/src/history/context.tsx
  packages/graphiql-react/src/schema.tsx
Due: none

add README for `@graphiql/react`
  custom-words.txt
  packages/graphiql-react/README.md
  packages/graphiql-react/package.json
Due: none

add JSDocs for component props and hooks
  .changeset/chilly-radios-tap.md
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/src/explorer/components/argument.tsx
  packages/graphiql-react/src/explorer/components/default-value.tsx
  packages/graphiql-react/src/explorer/components/deprecation-reason.tsx
  packages/graphiql-react/src/explorer/components/directive.tsx
  packages/graphiql-react/src/explorer/components/field-documentation.tsx
  packages/graphiql-react/src/explorer/components/field-link.tsx
  packages/graphiql-react/src/explorer/components/schema-documentation.tsx
  packages/graphiql-react/src/explorer/components/section.tsx
  packages/graphiql-react/src/explorer/components/type-documentation.tsx
  packages/graphiql-react/src/explorer/components/type-link.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: only override sdl when it can build a valid schema
  examples/monaco-graphql-webpack/src/schema.ts
Due: none

fix: clear validation debounce timer on dispose
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

fix: pass uri option to getAutocompleteSuggestions
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/monaco-graphql/src/LanguageService.ts
Due: graphql-language-service, graphql-language-service-server

refactor: use enum for document mode
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
Due: graphql-language-service

fix: test from autocomplete change
  packages/codemirror-graphql/src/__tests__/hint-test.ts
Due: none

style: fix no-shadow eslint rule
  .eslintrc.js
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
Due: graphql-language-service

fix: provide input or output types for fields and input values
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
Due: graphql-language-service

feat: provide autocomplete suggestions for type system sdl
  packages/graphql-language-service/src/interface/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
Due: graphql-language-service

test: add VSCode launch configuration to run focused tests in watch mode
  .vscode/launch.json
Due: none

test: add type system sdl editor to monaco-graphql-webpack example
  examples/monaco-graphql-webpack/babel.config.js
  examples/monaco-graphql-webpack/src/editors.ts
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/schema.ts
  examples/monaco-graphql-webpack/src/style.css
Due: none

fix: parser evaluates extension def keywords
  packages/graphql-language-service/src/parser/Rules.ts
  packages/graphql-language-service/src/parser/types.ts
Due: graphql-language-service

chore: add changeset
  .changeset/chatty-timers-heal.md
  .changeset/smart-cats-marry.md
Due: none
