Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

fix API docs link
  packages/graphiql/README.md
Due: graphiql

chore: extend `eslint:recommended` config (#2507)
  .eslintrc.js
  examples/graphiql-2-rfc-context/__mocks__/codemirror.js
  examples/graphiql-2-rfc-context/__mocks__/codemirror.ts
  examples/graphiql-2-rfc-context/src/components/DocExplorer/TypeDoc.tsx
  examples/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  examples/graphiql-2-rfc-context/src/components/__tests__/helpers/storage.js
  packages/graphiql/__mocks__/codemirror.ts
Due: graphiql

don't enter pre-release mode in changeset
  .changeset/pre.json
Due: none

more elaborate changeset message
  .changeset/gentle-forks-rule.md
Due: none

add `UnstyledButton` ui component
  .changeset/long-gorillas-act.md
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
Due: graphiql

rename `Unstyled` to `UnStyled` for spell checking
  .changeset/long-gorillas-act.md
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

implement new design for editors layout
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/style/root.css
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/style.css
Due: graphiql

add icons to `@graphiql/react`
  .changeset/nice-garlics-help.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/icons/chevron-down.svg
  packages/graphiql-react/src/icons/chevron-up.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  yarn.lock
Due: graphiql

make tiny change for deploy preview 🤞
  .changeset/nice-garlics-help.md
Due: none

remove unused class and whitespace in `className`
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

this will do it, i think?
  .changeset/nice-garlics-help.md
Due: none

add missing `caller` arguments
  .changeset/short-gifts-heal.md
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/execution.tsx
Due: none

add missing `caller` arguments (#2526)
  .changeset/short-gifts-heal.md
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/execution.tsx
Due: none

Version Packages (#2527)
  .changeset/short-gifts-heal.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

[redesign] layout for editor components (#2515)
  .changeset/long-gorillas-act.md
  .changeset/nice-garlics-help.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/icons/chevron-down.svg
  packages/graphiql-react/src/icons/chevron-up.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

set default background color for editors
  .changeset/serious-actors-accept.md
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/style.css
Due: graphiql

set default background color for editors (#2528)
  .changeset/serious-actors-accept.md
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/style.css
Due: graphiql

use graphql-config legacy mode by default
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

create changeset
  .changeset/early-games-pretend.md
Due: none

remove LS scope from changeset
  .changeset/early-games-pretend.md
Due: none

clean up repository references, more readmes and links
  packages/codemirror-graphql/package.json
  packages/graphiql-react/README.md
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/README.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/README.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/README.md
  packages/vscode-graphql/README.md
Due: graphiql, graphql-language-service, graphql-language-service-server

set default background colors via css variables
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

set default background colors via css variables (#2530)
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

move editor styles to `@graphiql/react`
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql/src/style.css
Due: graphiql

move editor styles to `@graphiql/react` (#2532)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql/src/style.css
Due: graphiql

chore: fix watch-vscode broken script
  package.json
Due: none

feat: add gql call expressions language support
  .changeset/three-rice-matter.md
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

feat: add with-parenthese gql calls support
  packages/vscode-graphql/grammars/graphql.js.json
Due: none

update changelog
  .changeset/three-rice-matter.md
  custom-words.txt
Due: none

remove unused embedded graphql lookup
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

feat: add gql call expressions support (#2509)
  .changeset/three-rice-matter.md
  custom-words.txt
  package.json
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/vscode-graphql/grammars/graphql.js.json
Due: graphql-language-service, graphql-language-service-server

add more tests for findGraphQLTags, fix cache/schema tests
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
Due: graphql-language-service, graphql-language-service-server

add more tests for findGraphQLTags, fix cache/schema tests (#2533)
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
Due: graphql-language-service, graphql-language-service-server

fix: watch mode in vscode-graphql compile script
  packages/vscode-graphql/esbuild.js
Due: none

fix: watch mode in vscode-graphql compile script (#2536)
  packages/vscode-graphql/esbuild.js
Due: none

refresh editor after hiding
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
