Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

refactor: friendlier to read diagnostic codes
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-server/src/Logger.ts
Due: graphql-language-service-interface

refactor: friendlier to read diagnostic codes (#1497)
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-server/src/Logger.ts
Due: graphql-language-service-interface

removing package-lock.json
  packages/graphiql-rendergraphiql-middlewares/package-lock.json
Due: none

improvement: changes to LSP to prepare for monaco
  examples/graphiql-webpack/package.json
  packages/graphql-language-service-interface/src/GraphQLCache.ts
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/.graphqlrc.yml
  packages/graphql-language-service-interface/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-interface/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service-interface/src/__tests__/__queries__/definitionQuery.graphql
  packages/graphql-language-service-interface/src/__tests__/__queries__/testFragment.graphql
  packages/graphql-language-service-interface/src/__tests__/__queries__/testQuery.graphql
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/findGraphQLTags.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-interface/src/parseDocument.ts
  packages/graphql-language-service-interface/src/stringToHash.ts
  packages/graphql-language-service-interface/tsconfig.esm.json
  packages/graphql-language-service-interface/tsconfig.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-parser/tsconfig.esm.json
  packages/graphql-language-service-parser/tsconfig.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/index.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service-server/tsconfig.esm.json
  packages/graphql-language-service-server/tsconfig.json
  packages/graphql-language-service-types/tsconfig.esm.json
  packages/graphql-language-service-types/tsconfig.json
  packages/graphql-language-service-utils/tsconfig.esm.json
  packages/graphql-language-service-utils/tsconfig.json
  packages/graphql-language-service/src/client.ts
  packages/graphql-language-service/tsconfig.json
  packages/graphql-languageservice/tsconfig.esm.json
  packages/graphql-languageservice/tsconfig.json
  yarn.lock
Due: graphql-language-service-interface, graphql-language-service-utils

improvement: changes to LSP to prepare for monaco
  examples/graphiql-webpack/package.json
Due: none

feat: set up monaco service
  packages/graphiql-ide-storage/src/index.ts/StorageAPI.ts
  packages/graphiql-ide-storage/src/index.ts/index.ts
  packages/monaco-graphql/src/BrowserLoader.ts
  packages/monaco-graphql/src/StorageAPI.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  resources/tsconfig.build.esm.json
Due: none

feat: set up monaco service
  .vscode/launch.json
  packages/graphiql-ide-storage/package.json
  packages/graphiql-ide-storage/src/index.ts/StorageAPI.ts
  packages/graphiql-ide-storage/src/index.ts/index.ts
  packages/graphiql-ide-storage/tsconfig.esm.json
  packages/graphiql-ide-storage/tsconfig.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/state/GraphiQLWorkspaceProvider.tsx
  packages/graphiql/src/utility/QueryStore.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  packages/graphql-languageservice/package.json
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/BrowserLoader.ts
  packages/monaco-graphql/src/StorageAPI.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql

feat: more work on monaco service
  .vscode/launch.json
  packages/graphiql/src/state/GraphiQLWorkspaceProvider.tsx
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.d.ts
Due: graphiql, graphql-language-service-interface

feat: Monaco graphql Completion (#1428)
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/src/workerManager.ts
Due: graphql-language-service-interface

feat: revert IDE, cli move
  packages/graphiql-ide-storage/package.json
  packages/graphiql-ide-storage/src/index.ts/index.ts
  packages/graphiql-ide-storage/tsconfig.esm.json
  packages/graphiql-ide-storage/tsconfig.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/QueryStore.ts
  packages/graphiql/src/utility/StorageAPI.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphql-language-service/.npmignore~HEAD
  packages/graphql-language-service/.npmignore~feat: revert IDE, cli move
  packages/graphql-language-service/LICENSE~HEAD
  packages/graphql-language-service/LICENSE~feat: revert IDE, cli move
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql

improvement: graphqlWorker does all parsing
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
Due: none

improvement: reorganize
  packages/graphql-language-service-interface/src/__tests__/queries/definitionQuery.graphql
  packages/graphql-language-service-interface/src/__tests__/queries/testQuery.graphql
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/.graphqlrc.yml
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-languageservice/package.json
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/StorageAPI.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  yarn.lock
Due: graphql-language-service-interface

improvement: diagnostics in mode setup
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-types/src/index.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
Due: graphql-language-service-interface

improvement: more work on monaco
  examples/monaco-webpack/babel.config.js
  examples/monaco-webpack/package.json
  examples/monaco-webpack/src/index.html.ejs
  examples/monaco-webpack/src/index.ts
  examples/monaco-webpack/tsconfig.json
  examples/monaco-webpack/webpack.config.js
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/BrowserLoader.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphql-language-service-interface

improvement: set up example and attempt to load monaco plugin
  examples/monaco-webpack/babel.config.js
  examples/monaco-webpack/package.json
  examples/monaco-webpack/src/index.html.ejs
  examples/monaco-webpack/src/index.ts
  examples/monaco-webpack/webpack.config.js
  packages/graphiql/.gitignore
  packages/graphiql/tsconfig.esm.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/BrowserLoader.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  yarn.lock
Due: graphiql, graphql-language-service-interface

improvement: worker almost working
  .gitignore
  examples/monaco-webpack/babel.config.js
  examples/monaco-webpack/package.json
  examples/monaco-webpack/src/index.ts
  examples/monaco-webpack/tsconfig.json
  examples/monaco-webpack/webpack.config.js
  package.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: graphql-language-service-interface

feat: add basic results, variables pane, formatting example, actions
  .github/ISSUE_TEMPLATE/Bug_Report.md
  examples/monaco-webpack/package.json
  examples/monaco-webpack/src/index.html.ejs
  examples/monaco-webpack/src/index.ts
  yarn.lock
Due: none

fix: convert range offset
  packages/monaco-graphql/src/graphql.worker.ts
Due: none

fix: convert completion kind
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

fix: hover range
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/languageFeatures.ts
Due: graphql-language-service-interface

Hookup Completions
  examples/monaco-webpack/src/index.ts
  packages/monaco-graphql/src/graphql.worker.ts
Due: none

Hover
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

chore: get CI passing
  examples/monaco-webpack/package.json
  jest.config.js
  packages/monaco-graphql/package.json
Due: none

improvement: worker, diagnostics working
  examples/monaco-webpack/babel.config.js
  examples/monaco-webpack/src/index.ts
  examples/monaco-webpack/webpack.config.js
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/graphqlWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/schema.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: graphql-language-service-interface

fix: formatting
  examples/monaco-webpack/src/index.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

chore: reconcile config version
  packages/graphql-language-service/.npmignore~HEAD
  packages/graphql-language-service/.npmignore~feat: revert IDE, cli move
  packages/graphql-language-service/LICENSE
  packages/graphql-language-service/LICENSE~feat: revert IDE, cli move
  packages/graphql-languageservice/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: none

RSVP done
  working-group/agendas/2020-05-12.md
Due: none

feat: Monaco Mode - Phase 2 - Mode & Worker (#1459)
  .eslintignore
  .gitignore
  examples/monaco-graphql-webpack/babel.config.js
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/tsconfig.json
  examples/monaco-graphql-webpack/webpack.config.js
  jest.config.js
  packages/graphiql/.gitignore
  packages/graphql-language-service-interface/src/__tests__/__queries__/testQuery.graphql
  packages/graphql-language-service-interface/src/index.ts
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/src/index.ts
  packages/graphql-languageservice/package.json
  packages/graphql-languageservice/src/LanguageService.ts
  packages/graphql-languageservice/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/defaults.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  resources/pretty.js
  resources/tsconfig.base.cjs.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql, graphql-language-service-interface

RSVP done (#1499)
  working-group/agendas/2020-05-12.md
Due: none

Add CII best practices badge
  README.md
Due: none

Create netlify.yml
  .github/workflows/netlify.yml
Due: none

update build command in netlify.yml
  .github/workflows/netlify.yml
Due: none

ci: add secrets, publish just typedoc
  .github/workflows/netlify.yml
Due: none

chore: netlify schema urls are broken
  examples/graphiql-webpack/src/index.jsx
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/src/defaults.ts
Due: none

chore: and the renderExample of course
  packages/graphiql/resources/renderExample.js
Due: graphiql

chore: netlify swapi schema urls are broken (#1507)
  examples/graphiql-webpack/src/index.jsx
  examples/monaco-graphql-webpack/src/index.ts
  packages/graphiql/resources/renderExample.js
  packages/monaco-graphql/src/defaults.ts
Due: graphiql

ci : update condition for deplying to netlify
  .github/workflows/netlify.yml
Due: none

ci: add danger file to ci
  .github/workflows/ci.yml
  dangerfile.ts
  examples/monaco-graphql-webpack/webpack.config.js
  package.json
  packages/monaco-graphql/src/languageFeatures.ts
  yarn.lock
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
