Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

ci: fix netlify master build, restore docs links
  README.md
  netlify.toml
  packages/graphiql/.gitignore
  packages/monaco-graphql/README.md
Due: graphiql

ci: fix netlify master build, restore docs links (#1602)
  README.md
  netlify.toml
  packages/graphiql/.gitignore
  packages/monaco-graphql/README.md
Due: graphiql

chore: fix typedocs link
  README.md
  packages/monaco-graphql/README.md
Due: none

chore: add only the fields which are deprecated to deprecation list
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
Due: graphiql

chore: fix typedocs link (#1603)
  README.md
  packages/monaco-graphql/README.md
Due: none

feat: 1606 - dynamic imports for codemirror
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

docs: address #1609 issue
  examples/graphiql-create-react-app/README.md
Due: none

chore(test): set up for monorepo test running (#1594)
  jest.config.base.js
  jest.config.js
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/jest.config.js
  packages/graphiql/jest.config.js
  packages/graphql-language-service-cli/jest.config.js
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-parser/jest.config.js
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-types/jest.config.js
  packages/graphql-language-service-utils/jest.config.js
  packages/graphql-language-service/jest.config.js
  packages/monaco-graphql/jest.config.js
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feat(merge): make fragment merging type-aware (#1542)
  packages/graphiql/jest.config.js
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

Update README to point to graphql-config v2
  README.md
Due: none

0.2.23
  package-lock.json
  package.json
Due: none

docs: Fixed watchman link to point at Facebook docs (#179)
  README.md
Due: none

fix: update vscode configuration and startServer debug (#178)
  .vscode/settings.json
  package.json
  src/extension.ts
Due: none

0.2.24
  package-lock.json
  package.json
Due: none

0.2.25
  package-lock.json
  package.json
Due: none

0.2.26
  package-lock.json
  package.json
Due: none

0.2.27
  package-lock.json
  package.json
Due: none

feat: grammar - directive definitions, comments (#183)
  grammars/graphql.json
Due: none

0.2.28
  package-lock.json
  package.json
Due: none

Create ..?*_
  12919d549b90c90a]@cc19f159f16c6793.$$./..?*_
Due: none

feat: add restart option to vscode-graphql command pallate (#186)
  package.json
  src/extension.ts
Due: none

0.2.29
  package-lock.json
  package.json
Due: none

fix: regression for variable def completion #1622
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

Show directives inside of FieldDoc.
  packages/graphiql/src/components/DocExplorer/Directive.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
Due: graphiql

.
  packages/graphiql/src/components/DocExplorer/Directive.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
Due: graphiql

.
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
Due: graphiql

improvement: completion for defined variables
  packages/graphql-language-service-interface/src/autocompleteUtils.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

fix: regression for variable def completion #1622 (#1624)
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

fix: monaco adjustment for variable completion insertText
  packages/monaco-graphql/src/utils.ts
Due: none

improvement: completion for defined variables (#1627)
  packages/graphql-language-service-interface/src/autocompleteUtils.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/src/utils.ts
Due: graphql-language-service-interface

improvement: graphql config support in lsp server
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-types/package.json
  yarn.lock
Due: graphql-language-service-interface

fix: test graphqlconfig for 3.0
  packages/graphql-language-service-server/src/__tests__/.graphqlrc.yml
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
Due: none

feat: pre-cache graphql-config 3 schema and files
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service-interface

improvement: cache config getSchema as file using common tmpdir
  packages/graphiql/index.html
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: graphiql

fix: revert RuleKinds usage and clean up autocomplete
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

fix: variable definition bug
  packages/graphiql/index.html
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: graphiql, graphql-language-service-interface

Update `codemirror-graphql` to use Jest and remove other testing deps
  .eslintrc.js
  package.json
  packages/codemirror-graphql/jest.config.js
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/lint-test.js
  packages/codemirror-graphql/src/__tests__/mode-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/results/__tests__/mode-test.js
  packages/codemirror-graphql/src/utils/__tests__/jsonParse-test.js
  packages/codemirror-graphql/src/variables/__tests__/hint-test.js
  packages/codemirror-graphql/src/variables/__tests__/lint-test.js
  packages/codemirror-graphql/src/variables/__tests__/mode-test.js
  yarn.lock
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
