Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

try to fix stuff
  .github/workflows/canary.yml
  package.json
  scripts/canary-release.js
Due: none

fixes
  .github/workflows/canary.yml
Due: none

fixes for canary release comment
  .github/workflows/canary.yml
Due: none

experiment with actual change
  .changeset/tender-pumas-jump.md
Due: none

delete experiment file
  .changeset/tender-pumas-jump.md
Due: none

fixes
  .changeset/great-parrots-think.md
Due: none

remove temp file
  .changeset/great-parrots-think.md
Due: none

Merge pull request from GHSA-x4r7-m2q9-69c8
  README.md
  SECURITY.md
  docs/security/2021-introspection-schema-xss.md
  packages/graphiql/README.md
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/onHasCompletion.ts
  packages/graphiql/test/bad-schema.js
  packages/graphiql/test/beforeDevServer.js
  packages/graphiql/test/e2e-server.js
  yarn.lock
Due: graphiql

changeset
  .changeset/new-changeset.md
Due: none

docs: fix patch release number
  docs/security/2021-introspection-schema-xss.md
Due: none

Fix XSS version number in README
  README.md
Due: none

Fixed advisory URL
  README.md
Due: none

Correct npm readme version number and links
  .changeset/changeset-file-name.md
Due: none

clarify
  .changeset/changeset-file-name.md
Due: none

attribute
  .changeset/changeset-file-name.md
Due: none

Changeset: Correct npm readme fix version number and links (#2005)
  .changeset/changeset-file-name.md
Due: none

Automatic canary releases workflow based on Changesets (#2000)
  .github/workflows/canary.yml
  package.json
  scripts/canary-release.js
Due: none

chore: fix deploy previews, leaner yarn lock
  .github/workflows/deploy-preview.yml
  .gitignore
  examples/graphiql-webpack/README.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/README.md
  package.json
  yarn.lock
Due: none

chore: deploy previews, remove examples workspaces
  .github/workflows/deploy-preview.yml
  .gitignore
  examples/graphiql-create-fetcher/README.md
  examples/graphiql-create-react-app/README.md
  examples/graphiql-webpack/README.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/package.json
  package.json
  yarn.lock
Due: none

safelist argparser
  js-green-licenses.json
Due: none

safelist argparser (#2011)
  js-green-licenses.json
Due: none

temp
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

tests work? :)
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
Due: graphiql

almost done
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphiql/src/utility/mergeAst.ts
  packages/graphiql/src/utility/onHasCompletion.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/getOutline.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service-utils/src/fragmentDependencies.ts
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
  packages/monaco-graphql/src/api.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

upgrade to support `graphql@16.0.0-rc.7.experimental-stream-defer.4`
  .changeset/great-eyes-try.md
Due: none

remove new line
  packages/graphiql/cypress/integration/prettify.spec.ts
Due: graphiql

upgrade examples
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  yarn.lock
Due: none

build: upgrade 16.0.0-experimental-stream-defer.5
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

Update .changeset/great-eyes-try.md
  .changeset/great-eyes-try.md
Due: none

chore: cypress spec expected error message
  packages/graphiql/cypress/integration/init.spec.ts
Due: graphiql

build: remove codemirror dependency from lsp (#1998)
  .changeset/forty-apes-retire.md
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

changelog credit for graphql 16 upgrade
  .changeset/great-eyes-try.md
Due: none

Add missing changesets
  .changeset/large-points-add.md
  .changeset/slow-cooks-hear.md
  .changeset/thirty-doors-trade.md
Due: none

Add missing changesets (#2013)
  .changeset/large-points-add.md
  .changeset/slow-cooks-hear.md
  .changeset/thirty-doors-trade.md
Due: none

Configure changesets to automatically publish internal dependents
  .changeset/config.json
Due: none

Configure changesets to automatically publish internal dependents (#2016)
  .changeset/config.json
Due: none

chore: enable header editor by default
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

`graphql-ws` is now a `peerDependency`
  .changeset/lovely-cycles-call.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/graphqlWs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/afterDevServer.js
  packages/graphiql/test/e2e-server.js
  packages/graphiql/test/schema.js
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  yarn.lock
Due: graphiql
