Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

fix: add missing nullthrows dependency to graphql-language-service-utils
  packages/graphql-language-service-utils/package.json
Due: graphql-language-service-utils

fix: add missing nullthrows dependency to utils (#1753)
  packages/graphql-language-service-utils/package.json
Due: graphql-language-service-utils

fix: update lockfile, add eslint rule to prevent the last bug
  .eslintrc.js
  yarn.lock
Due: none

fix: update lockfile, add eslint rule to prevent the last bug (#1754)
  .eslintrc.js
  yarn.lock
Due: none

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

Add maintainers section, including new ones!
  README.md
Due: none

fix broken graphql-config link in Readme.md for graphql-language-service-cl
  packages/graphql-language-service-cli/README.md
Due: none

fix: unify how observables are consumed within GraphiQL
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: unify how observables are consumed within GraphiQL (#1762)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: fix broken graphql-config link in graphql-language-service-cli readme (#1761)
  packages/graphql-language-service-cli/README.md
Due: none

chore: update active maintainers list
  README.md
Due: none

docs: Add maintainers section, including new maintainers (#1759)
  README.md
Due: none

test: update `codemirror-graphql` to use jest
  .eslintrc.js
  package.json
  packages/codemirror-graphql/jest.config.js
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/watch.js
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/lint-test.js
  packages/codemirror-graphql/src/__tests__/mode-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/results/__tests__/mode-test.js
  packages/codemirror-graphql/src/utils/__tests__/jsonParse-test.js
  packages/codemirror-graphql/src/variables/__tests__/hint-test.js
  packages/codemirror-graphql/src/variables/__tests__/lint-test.js
  packages/codemirror-graphql/src/variables/__tests__/mode-test.js
  yarn.lock
Due: none

test: update `codemirror-graphql` to use jest (#1763)
  .eslintrc.js
  package.json
  packages/codemirror-graphql/jest.config.js
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/watch.js
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/lint-test.js
  packages/codemirror-graphql/src/__tests__/mode-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/results/__tests__/mode-test.js
  packages/codemirror-graphql/src/utils/__tests__/jsonParse-test.js
  packages/codemirror-graphql/src/variables/__tests__/hint-test.js
  packages/codemirror-graphql/src/variables/__tests__/lint-test.js
  packages/codemirror-graphql/src/variables/__tests__/mode-test.js
  yarn.lock
Due: none

feat: export more components and utilities from GraphiQL
  packages/graphiql/src/index.ts
Due: graphiql

fix: named GraphiQL export
  package.json
  packages/graphiql/src/index.ts
  yarn.lock
Due: graphiql

chore: cleanup mocha artefacts
  .eslintrc.js
  .flowconfig
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/bootJSDOM.js
  packages/codemirror-graphql/resources/mochaBootload.js
  packages/codemirror-graphql/resources/watch.js
  packages/graphiql/cypress/plugins/index.js
  packages/graphiql/cypress/support/index.js
  resources/test.config.js
  yarn.lock
Due: graphiql

chore: cleanup mocha artefacts (#1764)
  .eslintrc.js
  .flowconfig
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/bootJSDOM.js
  packages/codemirror-graphql/resources/mochaBootload.js
  packages/codemirror-graphql/resources/watch.js
  packages/graphiql/cypress/plugins/index.js
  packages/graphiql/cypress/support/index.js
  resources/test.config.js
  yarn.lock
Due: graphiql

improvement: export more types and modules
  package.json
  packages/graphiql/cypress/support/index.js
  packages/graphiql/src/index.ts
  yarn.lock
Due: graphiql

improvement: export more types and modules (#1765)
  package.json
  packages/graphiql/cypress/support/index.js
  packages/graphiql/src/index.ts
  yarn.lock
Due: graphiql

chore: remove lockfile from example
  examples/monaco-graphql-webpack/yarn.lock
Due: none

fix: run onToggleDocs when setting docExplorerOpen to false
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: new encapsulation for transport spec
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  package.json
  packages/graphiql-build-fetcher/README.md
  packages/graphiql-build-fetcher/jest.config.js
  packages/graphiql-build-fetcher/package.json
  packages/graphiql-build-fetcher/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-build-fetcher/src/__tests__/lib.spec.ts
  packages/graphiql-build-fetcher/src/buildFetcher.ts
  packages/graphiql-build-fetcher/src/index.ts
  packages/graphiql-build-fetcher/src/lib.ts
  packages/graphiql-build-fetcher/src/types.ts
  packages/graphiql-build-fetcher/test/server.ts
  packages/graphiql-build-fetcher/tsconfig.esm.json
  packages/graphiql-build-fetcher/tsconfig.json
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql-toolkit/tsconfig.esm.json
  packages/graphiql-toolkit/tsconfig.json
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ImagePreview.tsx
  packages/graphiql/src/components/ToolbarSelect.tsx
  packages/graphiql/src/index.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql

chore: format/eslint fixes
  .eslintrc.js
  package.json
  packages/graphiql-2-rfc-context/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql-2-rfc-context/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql-build-fetcher/README.md
  packages/graphiql-build-fetcher/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-build-fetcher/src/__tests__/lib.spec.ts
  packages/graphiql-build-fetcher/src/buildFetcher.ts
  packages/graphiql-build-fetcher/src/index.ts
  packages/graphiql-build-fetcher/src/types.ts
  packages/graphiql-build-fetcher/test/server.ts
  packages/graphiql-build-fetcher/tsconfig.esm.json
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql-toolkit/tsconfig.esm.json
  packages/graphiql-toolkit/tsconfig.json
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql/test/e2e-server.js
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  yarn.lock
Due: graphiql

fix: set docExplorerOpen state to storage too
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: iterate over increments in GraphiQL, stream fetcher in netlify!
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-build-fetcher/README.md
  packages/graphiql-build-fetcher/package.json
  packages/graphiql-build-fetcher/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-build-fetcher/src/__tests__/lib.spec.ts
  packages/graphiql-build-fetcher/src/buildFetcher.ts
  packages/graphiql-build-fetcher/src/lib.ts
  packages/graphiql-build-fetcher/src/types.ts
  packages/graphiql-build-fetcher/test/server.ts
  packages/graphiql-toolkit/README.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/beforeDevServer.js
  packages/graphiql/test/schema.js
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  resources/tsconfig.base.esm.json
  yarn.lock
Due: graphiql, graphql-language-service-interface

chore: types, cleanup, rename it, end to end tests
  .npmrc
  package.json
  packages/graphiql-build-fetcher/package.json
  packages/graphiql-build-fetcher/src/index.ts
  packages/graphiql-build-fetcher/test/server.ts
  packages/graphiql-create-fetcher/README.md
  packages/graphiql-create-fetcher/jest.config.js
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-create-fetcher/src/__tests__/lib.spec.ts
  packages/graphiql-create-fetcher/src/createFetcher.ts
  packages/graphiql-create-fetcher/src/index.ts
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-create-fetcher/src/types.ts
  packages/graphiql-create-fetcher/tsconfig.esm.json
  packages/graphiql-create-fetcher/tsconfig.json
  packages/graphiql-toolkit/README.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql-toolkit/tsconfig.esm.json
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/schema.js
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql

chore: improve/stabilize e2e tests
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/test/schema.js
Due: graphiql

chore: attempt netlify function
  .gitignore
  functions/schema-demo.js
  package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  yarn.lock
Due: graphiql

feat: move to meros
  packages/graphiql-create-fetcher/README.md
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/createFetcher.ts
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

chore: should be an await :eyes:
  packages/graphiql-create-fetcher/src/lib.ts
Due: none

fix: now we are properly setting the data
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

fix: Search icon misalignment
  packages/graphiql/src/css/doc-explorer.css
Due: graphiql

chore: applied PR feedback
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: unit tests and mocks
  packages/graphiql-create-fetcher/src/__tests__/buildFetcher.spec.ts
Due: none

fix: cypress tests resolved
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
Due: graphiql

chore: dset can take an array
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
