Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

pin undici, config versions in lsp to fix introspection bug (#2624)
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service/package.json
  packages/vscode-graphql/package.json
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

pin undici, config versions in lsp to fix introspection bug (#2624)
  .changeset/curly-poets-pump.md
Due: none

make syntax extension private again?
  .changeset/curly-poets-pump.md
  packages/vscode-graphql-syntax/package.json
Due: none

changeset & publishing fix for LSP bugfix (#2623)
  .changeset/curly-poets-pump.md
  packages/vscode-graphql-syntax/package.json
Due: none

revise syntax extension readme
  packages/vscode-graphql-syntax/README.md
Due: none

revise syntax extension readme (#2617)
  packages/vscode-graphql-syntax/README.md
Due: none

Version Packages (#2625)
  .changeset/curly-poets-pump.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

make dropdown menu accessible
  .changeset/five-pillows-fail.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/menu.css
  packages/graphiql-react/src/ui/menu.tsx
  packages/graphiql-react/src/utility/component-group.ts
  yarn.lock
Due: none

manually re-trigger introspection (#2618)
  .changeset/shy-parents-bow.md
  .changeset/wild-rings-leave.md
  packages/graphiql-react/src/schema.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
Due: graphiql

Version Packages (#2633)
  .changeset/shy-parents-bow.md
  .changeset/wild-rings-leave.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

set default background colors via css variables (#2530)
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

implement footer in new design (#2540)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] implement new design for history plugin (#2571)
  .changeset/fifty-elephants-divide.md
  .changeset/fluffy-pianos-mix.md
  .changeset/mean-chefs-happen.md
  babel.config.js
  packages/graphiql-react/jest.config.js
  packages/graphiql-react/mocks/svg.js
  packages/graphiql-react/package.json
  packages/graphiql-react/src/history/__tests__/components.spec.tsx
  packages/graphiql-react/src/history/components.tsx
  packages/graphiql-react/src/history/hooks.ts
  packages/graphiql-react/src/history/index.ts
  packages/graphiql-react/src/history/style.css
  packages/graphiql-react/src/icons/close.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/pen.svg
  packages/graphiql-react/src/icons/star-filled.svg
  packages/graphiql-react/src/icons/star.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/lint.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/components/__tests__/QueryHistory.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/css/history.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] layout for editor components (#2515)
  .changeset/long-gorillas-act.md
  .changeset/nice-garlics-help.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/icons/chevron-down.svg
  packages/graphiql-react/src/icons/chevron-up.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

[redesign] implement new toolbar design (#2524)
  .changeset/real-waves-enjoy.md
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql-react/src/icons/copy.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/merge.svg
  packages/graphiql-react/src/icons/play.svg
  packages/graphiql-react/src/icons/prettify.svg
  packages/graphiql-react/src/icons/stop.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/button.tsx
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/toolbar/index.ts
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarGroup.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

add caller argument to editor hooks (#2538)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

move editor styles to `@graphiql/react` (#2532)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] implement sidebar (#2543)
  packages/graphiql-react/src/icons/docs.svg
  packages/graphiql-react/src/icons/history.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/keyboard-shortcut.svg
  packages/graphiql-react/src/icons/reload.svg
  packages/graphiql-react/src/icons/settings.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarButton.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

set default background color for editors (#2528)
  .changeset/serious-actors-accept.md
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/style.css
Due: graphiql

refresh editor after hiding (#2537)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add prerelease versions
  .changeset/pre.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
Due: graphiql

extract loading spinner to `@graphiql/react` (#2581)
  .changeset/smooth-countries-shout.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/spinner.css
  packages/graphiql-react/src/ui/spinner.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

fix opening doc explorer when clicking references (#2578)
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add `Search` component to `@graphiql/react` (#2586)
  .changeset/five-pillows-fail.md
  custom-words.txt
  packages/graphiql-react/package.json
  packages/graphiql-react/src/explorer/components/__tests__/test-utils.ts
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/explorer/components/search.tsx
  packages/graphiql-react/src/explorer/components/type-link.tsx
  packages/graphiql-react/src/explorer/components/utils.tsx
  packages/graphiql-react/src/explorer/context.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/magnifying-glass.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/SearchBox.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  yarn.lock
Due: graphiql

move remaining doc explorer component to `@graphiql/react` (#2587)
  .changeset/five-pillows-fail.md
  .changeset/red-zoos-divide.md
  packages/graphiql-react/src/explorer/components/__tests__/doc-explorer.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/example-schema.ts
  packages/graphiql-react/src/explorer/components/__tests__/field-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/type-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/doc-explorer.tsx
  packages/graphiql-react/src/explorer/components/field-documentation.tsx
  packages/graphiql-react/src/explorer/components/schema-documentation.tsx
  packages/graphiql-react/src/explorer/components/type-documentation.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/test-utils.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.tsx
Due: graphiql

increment versions from release
  .changeset/pre.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
Due: graphiql

[redesign] implement new design for tabs (#2592)
  .changeset/five-pillows-fail.md
  .changeset/spotty-fans-lie.md
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/plus.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/tabs.css
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql-react/src/utility/compose.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

move tab components to `@graphiql/react` (#2591)
  .changeset/five-pillows-fail.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

[redesign] docs (#2588)
  .changeset/five-pillows-fail.md
  .changeset/red-zoos-divide.md
  packages/graphiql-react/src/explorer/components/__tests__/doc-explorer.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/example-schema.ts
  packages/graphiql-react/src/explorer/components/__tests__/field-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/type-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/deprecation-reason.css
  packages/graphiql-react/src/explorer/components/deprecation-reason.tsx
  packages/graphiql-react/src/explorer/components/doc-explorer.css
  packages/graphiql-react/src/explorer/components/doc-explorer.tsx
  packages/graphiql-react/src/explorer/components/field-documentation.tsx
  packages/graphiql-react/src/explorer/components/schema-documentation.css
  packages/graphiql-react/src/explorer/components/schema-documentation.tsx
  packages/graphiql-react/src/explorer/components/section.css
  packages/graphiql-react/src/explorer/components/section.tsx
  packages/graphiql-react/src/explorer/components/type-documentation.css
  packages/graphiql-react/src/explorer/components/type-documentation.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/icons/argument.svg
  packages/graphiql-react/src/icons/chevron-left.svg
  packages/graphiql-react/src/icons/deprecated-argument.svg
  packages/graphiql-react/src/icons/deprecated-enum-value.svg
  packages/graphiql-react/src/icons/deprecated-field.svg
  packages/graphiql-react/src/icons/directive.svg
  packages/graphiql-react/src/icons/enum-value.svg
  packages/graphiql-react/src/icons/field.svg
  packages/graphiql-react/src/icons/implements.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/root-type.svg
  packages/graphiql-react/src/icons/type.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/style.css
Due: graphiql

make dropdown menu accessible (#2627)
  .changeset/five-pillows-fail.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/menu.css
  packages/graphiql-react/src/ui/menu.tsx
  packages/graphiql-react/src/utility/component-group.ts
  yarn.lock
Due: none

[redesign] add dark mode (#2596)
  .changeset/five-pillows-fail.md
  .changeset/ninety-pumpkins-reflect.md
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/theme.ts
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/ui/button-group.css
  packages/graphiql-react/src/ui/button-group.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

[redesign] add settings dialog (#2595)
  .changeset/five-pillows-fail.md
  .changeset/tender-impalas-provide.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/dialog.css
  packages/graphiql-react/src/ui/dialog.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

add back styles for editor search (#2599)
  packages/graphiql-react/src/editor/style/codemirror.css
Due: none

add a dialog that shows all available shortkeys (#2601)
  .changeset/green-mayflies-notice.md
  packages/graphiql-react/src/style/root.css
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

leverage nesting
  packages/graphiql-react/src/explorer/components/doc-explorer.css
Due: none

ensure correct focus outlines and remove visited styles
  packages/graphiql-react/src/explorer/components/doc-explorer.css
  packages/graphiql-react/src/explorer/components/field-link.css
  packages/graphiql-react/src/explorer/components/type-link.css
  packages/graphiql-react/src/style/root.css
Due: none

fix hiding the headline on focus
  packages/graphiql-react/src/explorer/components/doc-explorer.css
Due: none

fix selector specificity for link styling
  packages/graphiql-react/src/explorer/components/doc-explorer.css
  packages/graphiql-react/src/explorer/components/field-link.css
  packages/graphiql-react/src/explorer/components/type-link.css
  packages/graphiql-react/src/index.ts
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
