Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

create StorageContext and HistoryContext in @graphiql/react and move over the logic from graphiql
  .changeset/popular-pears-beg.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/history.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/storage.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/QueryHistory.spec.tsx
Due: graphiql

fix this in method
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix toggling history
  packages/graphiql-react/src/history.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

use up-to-date version for toolkit
  packages/graphiql-react/package.json
Due: none

demote version bump to patch
  .changeset/popular-pears-beg.md
Due: none

add `StorageContext` and `HistoryContext` to `@graphiql/react` (#2413)
  .changeset/gold-zebras-agree.md
  .changeset/popular-pears-beg.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/history.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/storage.tsx
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/QueryHistory.spec.tsx
Due: graphiql

move mergeAst to toolkit
  .changeset/serious-buses-hear.md
  packages/graphiql-toolkit/src/graphql-helpers/__tests__/merge-ast.spec.ts
  packages/graphiql-toolkit/src/graphql-helpers/index.ts
  packages/graphiql-toolkit/src/graphql-helpers/merge-ast.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
Due: graphiql

move fillLeafs to toolkit
  .changeset/cool-dolls-study.md
  packages/graphiql-toolkit/src/graphql-helpers/auto-complete.ts
  packages/graphiql-toolkit/src/graphql-helpers/index.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
Due: graphiql

remove unused utility module
  packages/graphiql/src/utility/getQueryFacts.ts
Due: graphiql

move getSelectedOperationName to toolkit
  .changeset/wicked-comics-move.md
  packages/graphiql-toolkit/src/graphql-helpers/index.ts
  packages/graphiql-toolkit/src/graphql-helpers/operation-name.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
Due: graphiql

demote version bump to patch
  .changeset/cool-dolls-study.md
  .changeset/serious-buses-hear.md
  .changeset/wicked-comics-move.md
Due: none

move GraphQL utils from `graphiql` to `@graphiql/toolkit` (#2419)
  .changeset/cool-dolls-study.md
  .changeset/serious-buses-hear.md
  .changeset/wicked-comics-move.md
  packages/graphiql-toolkit/src/graphql-helpers/__tests__/merge-ast.spec.ts
  packages/graphiql-toolkit/src/graphql-helpers/auto-complete.ts
  packages/graphiql-toolkit/src/graphql-helpers/index.ts
  packages/graphiql-toolkit/src/graphql-helpers/merge-ast.ts
  packages/graphiql-toolkit/src/graphql-helpers/operation-name.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql/src/utility/getQueryFacts.ts
Due: graphiql

move auto-complete logic to context
  .changeset/three-bugs-develop.md
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

set initial value for editors
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

fix tests
  packages/graphiql-react/src/schema/context.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
Due: graphiql

make editor context non-null
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

consume schema context in doc explorer
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add schema context
  .changeset/unlucky-chefs-hope.md
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/schema/context.tsx
  packages/graphiql-react/src/schema/hooks.ts
  packages/graphiql-react/src/schema/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

replace schema from state with schema from context
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

stop fetching and validating schema in GraphiQL component
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/explorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/introspectionQueries.ts
Due: graphiql

avoid passing schema as prop to query editor
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

remove unused prop
  packages/graphiql-react/src/editor/context.tsx
Due: none

adjust changesets
  .changeset/spicy-moose-look.md
  .changeset/three-bugs-develop.md
  .changeset/unlucky-chefs-hope.md
Due: none

add `SchemaContext` to `@graphiql/react` (#2420)
  .changeset/spicy-moose-look.md
  .changeset/three-bugs-develop.md
  .changeset/unlucky-chefs-hope.md
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/explorer.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/schema/context.tsx
  packages/graphiql-react/src/schema/hooks.ts
  packages/graphiql-react/src/schema/index.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/utility/introspectionQueries.ts
Due: graphiql

Version Packages (#2433)
  .changeset/cool-dolls-study.md
  .changeset/gold-zebras-agree.md
  .changeset/popular-pears-beg.md
  .changeset/serious-buses-hear.md
  .changeset/spicy-moose-look.md
  .changeset/three-bugs-develop.md
  .changeset/unlucky-chefs-hope.md
  .changeset/wicked-comics-move.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/CHANGELOG.md
  packages/graphiql-toolkit/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

fix mocks for tests
  packages/graphiql/__mocks__/@graphiql/react.ts
Due: graphiql

use operation facts from editor in `ExecuteButton`
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

stop deriving query facts in `GraphiQL` component
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

derive operation facts as part of `useQueryEditor` hook
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

derive default editor values from storage
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/utility/debounce.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

refactor execute button to functional component
  packages/graphiql/src/components/ExecuteButton.tsx
Due: graphiql

remove unused dependencies and mocks
  packages/graphiql/package.json
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/components/__tests__/helpers/codeMirror.js
  packages/graphiql/src/components/__tests__/helpers/storage.js
Due: graphiql

add changeset
  .changeset/brave-ways-enjoy.md
  .changeset/hungry-lions-rescue.md
Due: none

chore: use the same TypeScript version
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-parcel/package.json
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  packages/graphql-language-service/package.json
  yarn.lock
Due: graphiql, graphql-language-service

fix: resolve TypeScript errors
  packages/codemirror-graphql/src/utils/jsonParse.ts
  packages/codemirror-graphql/src/variables/lint.ts
  packages/graphiql/src/components/ToolbarButton.tsx
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/getDiagnostics.ts
  packages/graphql-language-service/src/parser/Rules.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

chore: resolve GraphQL to version 17.0.0-alpha.1 via package.json
  package.json
  yarn.lock
Due: none

move logic for deriving operation facts to `@graphiql/react` (#2435)
  .changeset/brave-ways-enjoy.md
  .changeset/hungry-lions-rescue.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/utility/debounce.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/components/__tests__/helpers/codeMirror.js
  packages/graphiql/src/components/__tests__/helpers/storage.js
Due: graphiql

inline logic for clicking references to get to the docs
  .changeset/tough-jobs-shave.md
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

inline onClick handlers for info tooltips and remove `onHintInformationRender` props
  .changeset/tough-jobs-shave.md
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

move visibility state of doc explorer to explorer context in `@graphiql/react`
  .changeset/warm-kings-rhyme.md
  packages/graphiql-react/src/explorer.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
