Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: cleanup
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
Due: none

chore: typos
  packages/monaco-graphql/README.md
Due: none

chore: fix link
  packages/monaco-graphql/README.md
Due: none

fix: get deploy preview working, fix types
  examples/graphiql-webpack/src/index.jsx
  examples/graphiql-webpack/webpack.config.js
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
Due: none

fix: add secret
  .github/workflows/ci.yml
Due: none

fix: add secret
  .github/workflows/ci.yml
  package.json
Due: none

chore: cleanup actions
  .github/workflows/fork.yml.archived
  .github/workflows/issue.yml.archived
  .github/workflows/review-submitted.yml.archived
Due: none

chore: no bin PATH for actions?
  .github/workflows/ci.yml
  package.json
Due: none

feat: add tabs in session context
  packages/graphiql/src/api/actions/sessionActions.ts
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: improve nav component
  packages/graphiql/src/components/common/Layout.stories.tsx
  packages/graphiql/src/components/common/Nav.stories.tsx
  packages/graphiql/src/components/common/Nav.tsx
Due: graphiql

chore: re-schedule working group
  working-group/agendas/2020-05-17.md
Due: none

Update and rename 2020-05-17.md to 2020-05-21.md
  working-group/agendas/2020-05-21.md
Due: none

Add Harshith to May WG
  working-group/agendas/2020-05-21.md
Due: none

Add Harshith to May WG (#1529)
  working-group/agendas/2020-05-21.md
Due: none

feat: Add support for i18n
  packages/graphiql/package.json
  packages/graphiql/resources/build.sh
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/i18n.ts
  packages/graphiql/src/index.ts
  packages/graphiql/src/locales/en/DocExplorer.json
  packages/graphiql/src/locales/en/Editor.json
  packages/graphiql/src/locales/en/Errors.json
  packages/graphiql/src/locales/en/Toolbar.json
  packages/graphiql/src/locales/en/translation.json
  packages/graphiql/src/locales/ru/DocExplorer.json
  packages/graphiql/src/locales/ru/Editor.json
  packages/graphiql/src/locales/ru/Errors.json
  packages/graphiql/src/locales/ru/Toolbar.json
  packages/graphiql/src/locales/ru/translation.json
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  resources/tsconfig.base.cjs.json
Due: graphiql

chore: use bound class method style
  packages/monaco-graphql/src/api.ts
Due: none

feat: monaco-graphql docs, api, improvements (#1521)
  .gitignore
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/types.d.ts
  examples/monaco-graphql-webpack/webpack.config.js
  netlify.toml
  package.json
  packages/graphql-language-service-interface/src/autocompleteUtils.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/types.ts
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-languageservice/README.md
  packages/graphql-languageservice/src/LanguageService.ts
  packages/graphql-languageservice/src/index.ts
  packages/graphql-languageservice/src/schemaLoader.ts
  packages/graphql-languageservice/tsconfig.json
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/defaults.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
  typedoc.json
  yarn.lock
Due: graphql-language-service-interface

chore: reset version to 0.1.0
  examples/monaco-graphql-webpack/package.json
  packages/graphiql/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/graphql-languageservice/CHANGELOG.md
  packages/graphql-languageservice/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feat: schema provider using context/useReducer
  packages/graphiql/src/state/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/state/__tests__/GraphiQLSchemaProvider.spec.tsx
  packages/graphiql/src/state/__tests__/util.tsx
  packages/graphiql/src/state/common.ts
  packages/graphiql/src/state/types.ts
  packages/graphiql/src/state/useReducers.ts
  packages/graphiql/src/types.d.ts
Due: graphiql

feat: migrate to context and useReducers
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  jest.config.js
  netlify.toml
  package.json
  packages/graphiql/package.json
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/hooks/useOperation.ts
  packages/graphiql/src/hooks/useQueryFacts.ts
  packages/graphiql/src/hooks/useSchema.ts
  packages/graphiql/src/state/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/state/GraphiQLSessionProvider.tsx
  packages/graphiql/src/state/__tests__/GraphiQLSchemaProvider.spec.tsx
  packages/graphiql/src/state/common.ts
  packages/graphiql/src/state/schemaActions.ts
  packages/graphiql/src/state/sessionActions.ts
  packages/graphiql/src/state/types.ts
  packages/graphiql/src/state/useReducers.ts
  packages/graphiql/src/types.ts
  packages/graphiql/src/utility/observableToPromise.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-languageservice/README.md
  packages/monaco-graphql/src/languageFeatures.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface

feat: first pass graphiql redesign using new layout component (#19)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/new-components/Logo.tsx
  packages/graphiql/src/new-components/Nav.tsx
  packages/graphiql/src/new-components/themes/README.md
  packages/graphiql/src/new-components/themes/default/Layout.tsx
  packages/graphiql/src/new-components/themes/default/index.ts
Due: graphiql

feat: add support for i18n (#1526)
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/tsconfig.json
  packages/graphiql/package.json
  packages/graphiql/resources/build.sh
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/i18n.ts
  packages/graphiql/src/index.ts
  packages/graphiql/src/locales/en/DocExplorer.json
  packages/graphiql/src/locales/en/Editor.json
  packages/graphiql/src/locales/en/Errors.json
  packages/graphiql/src/locales/en/Toolbar.json
  packages/graphiql/src/locales/en/translation.json
  packages/graphiql/src/locales/ru/DocExplorer.json
  packages/graphiql/src/locales/ru/Editor.json
  packages/graphiql/src/locales/ru/Errors.json
  packages/graphiql/src/locales/ru/Toolbar.json
  packages/graphiql/src/locales/ru/translation.json
  packages/graphiql/src/types/index.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/src/languageFeatures.ts
  resources/tsconfig.base.cjs.json
  yarn.lock
Due: graphiql, graphql-language-service-interface

improvement: add run op to context menu as well
  examples/monaco-graphql-webpack/src/index.ts
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
Due: graphiql

fix: graphiql non-relative import issues
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.tsx
  packages/graphiql/src/new-components/themes/decorators.tsx
  packages/graphiql/src/new-components/themes/types.ts
  packages/graphiql/tsconfig.json
Due: graphiql

fix: graphiql non-relative import issues (#1534) fixes #1530
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.tsx
  packages/graphiql/src/new-components/themes/decorators.tsx
  packages/graphiql/src/new-components/themes/types.ts
  packages/graphiql/tsconfig.json
Due: graphiql

chore: Update cypress e2e tests
  packages/graphiql/cypress/integration/init.spec.js
Due: graphiql

refactor: made language service api generic
  packages/graphql-languageservice/src/LanguageService.ts
  packages/graphql-languageservice/src/http/HttpLanguageService.ts
  packages/graphql-languageservice/src/http/fetcher.ts
  packages/graphql-languageservice/src/http/queryExecutor.ts
  packages/graphql-languageservice/src/http/schemaLoader.ts
  packages/graphql-languageservice/src/index.ts
  packages/graphql-languageservice/src/queryExecutor.ts
  packages/graphql-languageservice/src/schemaLoader.ts
Due: none

fix: typescript build
  packages/monaco-graphql/tsconfig.json
  resources/tsconfig.build.esm.json
Due: none

improvement: readme and a simple bin to warn users
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service/README.md
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/temp-bin.ts
Due: none

chore: add worker loader to examples
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
Due: none

docs: improve wording
  packages/graphql-language-service-cli/README.md
Due: none

chore: eslintignore updates
  .eslintignore
Due: none

chore: eslintignore updates (#1539)
  .eslintignore
Due: none

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
