Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

fix: languageserver filepath on Windows (#1715)
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
Due: none

chore: picked wrong choice on merge commit
  packages/graphql-language-service-server/src/Logger.ts
Due: none

chore: revert outputstream change (#1721)
  packages/graphql-language-service-server/src/Logger.ts
Due: none

chore(release): publish
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

chore: bump lsp server, graphql-config (#261)
  CHANGELOG.md
  package-lock.json
  package.json
  yarn.lock
Due: none

0.3.13
  package-lock.json
  package.json
Due: none

feat: provide custom validation rules
  packages/codemirror-graphql/src/lint.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
Due: graphiql

docs: document validationRules property
  packages/graphiql/README.md
Due: graphiql

fix typo
  packages/codemirror-graphql/src/lint.js
Due: none

add codemirror-graphql lint test
  packages/codemirror-graphql/src/__tests__/lint-test.js
Due: none

add test for getDiagnostics
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
Due: graphql-language-service-interface

feat: provide validation rules via props (#1716)
  packages/codemirror-graphql/src/__tests__/lint-test.js
  packages/codemirror-graphql/src/lint.js
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
Due: graphiql, graphql-language-service-interface

feat: add AsyncIterable support to fetcher function
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: adjust error message
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

docs: document AsyncIterable return
  packages/graphiql/README.md
Due: graphiql

fix: change type to AsyncIterable which is more flexible aka covers more use-cases
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: iOS Safari support for AsyncGenerator
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: fix formatting
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

test: modify test code
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
Due: none

chore: cleanup test code for GraphQL cache (#1725)
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
Due: none

feat: add AsyncIterable support to fetcher function (#1724)
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: GraphQLAPI.setSchemaConfig README example
  packages/monaco-graphql/README.md
Due: none

chore: add cypress ts support and a suite for doc explorer
  package.json
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/cypress/plugins/cy-ts-preprocessor.js
  packages/graphiql/cypress/plugins/index.js
  packages/graphiql/cypress/support/commands.js
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/cypress/support/index.js
  packages/graphiql/cypress/tsconfig.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  yarn.lock
Due: graphiql

chore: collect coverage
  package.json
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/cypress/plugins/index.js
  yarn.lock
Due: graphiql

chore: collect coverage on e2e step
  .github/workflows/ci.yml
  package.json
Due: none

chore: run e2e suite in ci
  package.json
  packages/graphiql/cypress/integration/docs.spec.ts
Due: graphiql

chore: gather coverage in client!
  .github/workflows/ci.yml
  package.json
  packages/graphiql/cypress/plugins/index.js
  packages/graphiql/cypress/support/index.js
  packages/graphiql/resources/renderExample.js
Due: graphiql

chore: add cypress ts support and a suite for doc explorer (#1727)
  .github/workflows/ci.yml
  package.json
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/cypress/plugins/cy-ts-preprocessor.js
  packages/graphiql/cypress/plugins/index.js
  packages/graphiql/cypress/support/commands.js
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/cypress/support/index.js
  packages/graphiql/cypress/tsconfig.json
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  yarn.lock
Due: graphiql

fix: GraphQLAPI.setSchemaConfig README example (#1726)
  packages/monaco-graphql/README.md
Due: none

fix: dont use new deprecation rule yet
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

chore(release): publish
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

fix: display schema description if available
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
Due: graphiql

fix: fix linting issue
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
Due: graphiql

use cheap invariant
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

maybe fix lint?
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

remove assert
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface
