Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

Update packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
Due: none

remove json-schema type from dependencies
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/utils/getVariablesJSONSchema.ts
Due: none

fixup paths, consolidate docs
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service/README.md
  packages/graphql-language-service/src/index.ts
Due: none

cleanup root readme
  README.md
Due: none

ensure tests still work without build
  jest.config.base.js
Due: none

final tweaks
  .changeset/afraid-fishes-appear.md
  .codecov.yml
  jest.config.base.js
Due: none

Add password to GraphiQL call
  working-group/agendas/2022-03-08.md
Due: none

Add password to GraphiQL call (#2225)
  working-group/agendas/2022-03-08.md
Due: none

fix: typo in GraphQLCache.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
Due: none

fix: typo in GraphQLCache.ts (#2228)
  packages/graphql-language-service-server/src/GraphQLCache.ts
Due: none

feat: add cspell setting
  cspell.json
  custom-words.txt
Due: none

feat: add lib cspell
  package.json
  yarn.lock
Due: none

fix: typo
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

chore: add command
  package.json
Due: none

fix: typo
  examples/monaco-graphql-webpack/src/editors.ts
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/codemirror-graphql/src/utils/mode-factory.ts
  packages/graphiql-2-rfc-context/src/api/hooks/useValueRef.ts
  packages/graphiql-2-rfc-context/src/components/common/Resizer/Resizer.tsx
  packages/graphiql-2-rfc-context/src/components/common/Resizer/types.ts
  packages/graphiql-2-rfc-context/src/components/common/themes/types.ts
  packages/graphiql-2-rfc-context/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/Rules.ts
  packages/graphql-language-service/src/parser/__tests__/CharacterStream-test.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParser-test.ts
  packages/graphql-language-service/src/parser/__tests__/RuleHelpers-test.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
  packages/graphql-language-service/src/parser/types.ts
  packages/graphql-language-service/src/types.js.flow
  packages/graphql-language-service/src/utils/validateWithCustomRules.ts
  packages/monaco-graphql/src/LanguageService.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/workerManager.ts
Due: none

fix: typo .ts, .tsx
  packages/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  packages/graphiql-2-rfc-context/src/components/VariableEditor.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Toolbar.stories.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getDefinition.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
Due: graphiql

fix: typo .md
  docs/security/2021-introspection-schema-xss.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql/CHANGELOG.md
  packages/graphiql/README.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
  working-group/README.md
Due: graphiql

fix: typo .js
  packages/graphiql/test/schema.js
Due: graphiql

fix: re-setting
  cspell.json
  custom-words.txt
  package.json
Due: none

Merge branch 'main' into feat/add_cspell
  .changeset/tasty-pillows-compare.md
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphiql/src/css/codemirror.css
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
  working-group/agendas/2022-03-08.md
  yarn.lock
Due: graphiql

fix: intialize => initializeMode
  custom-words.txt
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
Due: graphql-language-service-utils

fix: exclude css files from cspell check
  .vscode/extensions.json
  cspell.json
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  packages/graphiql/src/css/codemirror.css
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/README.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
  resources/custom-words.txt
  yarn.lock
Due: graphiql

Initial implementation of vscode-graphql inside the graphiql repo
  .vscode/launch.json
  package.json
  packages/vscode-graphql/.gitignore
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/LICENSE
  packages/vscode-graphql/assets/images/logo.png
  packages/vscode-graphql/grammars/graphql.js.json
  packages/vscode-graphql/grammars/graphql.json
  packages/vscode-graphql/grammars/graphql.markdown.codeblock.json
  packages/vscode-graphql/grammars/graphql.re.json
  packages/vscode-graphql/grammars/graphql.rescript.json
  packages/vscode-graphql/language/language-configuration.json
  packages/vscode-graphql/package.json
  packages/vscode-graphql/snippets/graphql.json
  packages/vscode-graphql/src/apis/statusBar.ts
  packages/vscode-graphql/src/extension.ts
  packages/vscode-graphql/src/server/index.ts
  packages/vscode-graphql/tsconfig.json
  yarn.lock
Due: none

Use the new VS Code API for icons
  packages/vscode-graphql/assets/graphql-fonts.woff
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/apis/statusBar.ts
Due: none

Use older, more consistent typescript
  packages/vscode-graphql/package.json
  yarn.lock
Due: none

wg cleanup & add 2022 wg agendas
  working-group/agendas/2019/2019-05-14.md
  working-group/agendas/2019/2019-06-18.md
  working-group/agendas/2019/2019-08-21.md
  working-group/agendas/2020/2020-03-10.md
  working-group/agendas/2020/2020-04-14.md
  working-group/agendas/2020/2020-05-21.md
  working-group/agendas/2021/2021-10-12.md
  working-group/agendas/2022/2022-01-11.md
  working-group/agendas/2022/2022-02-22-monaco.md
  working-group/agendas/2022/2022-03-08.md
  working-group/agendas/2022/2022-04-12.md
  working-group/agendas/2022/2022-05-10.md
  working-group/agendas/2022/2022-06-14.md
  working-group/agendas/2022/2022-07-12.md
  working-group/agendas/2022/2022-08-09.md
  working-group/agendas/2022/2022-09-13.md
  working-group/agendas/2022/2022-10-11.md
  working-group/agendas/2022/2022-11-08.md
  working-group/agendas/2022/2022-12-13.md
Due: none

fix lockfile and imports
  packages/graphql-language-service-cli/package.json
  yarn.lock
Due: none

create changeset
  .changeset/giant-hats-camp.md
Due: none

wg cleanup & add 2022 wg agendas (#2241)
  working-group/agendas/2019/2019-05-14.md
  working-group/agendas/2019/2019-06-18.md
  working-group/agendas/2019/2019-08-21.md
  working-group/agendas/2020/2020-03-10.md
  working-group/agendas/2020/2020-04-14.md
  working-group/agendas/2020/2020-05-21.md
  working-group/agendas/2021/2021-10-12.md
  working-group/agendas/2022/2022-01-11.md
  working-group/agendas/2022/2022-02-22-monaco.md
  working-group/agendas/2022/2022-03-08.md
  working-group/agendas/2022/2022-04-12.md
  working-group/agendas/2022/2022-05-10.md
  working-group/agendas/2022/2022-06-14.md
  working-group/agendas/2022/2022-07-12.md
  working-group/agendas/2022/2022-08-09.md
  working-group/agendas/2022/2022-09-13.md
  working-group/agendas/2022/2022-10-11.md
  working-group/agendas/2022/2022-11-08.md
  working-group/agendas/2022/2022-12-13.md
Due: none
