Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

Fix code example in README.md
  packages/graphiql/README.md
Due: graphiql

docs: Fixing a dead link in graphiql-cdn
  packages/graphiql/README.md
Due: graphiql

freedom
  README.md
Due: none

visibility 🇵🇸 🖤 (#1860)
  README.md
Due: none

docs: Fixing a dead link in graphiql-cdn (#1858)
  packages/graphiql/README.md
Due: graphiql

Update README.md
  README.md
Due: none

Corrected controversial message in README
  README.md
Due: none

Remove political crap from open source projects.
  README.md
Due: none

trigger CLA check
  README.md
Due: none

Stand with Israel message in README.md
  README.md
Due: none

Improve README to reflect reality
  README.md
Due: none

Removed political statement from readme
  README.md
Due: none

fix: remove statement pending discussion
  README.md
Due: none

typo (#1855)
  README.md
Due: none

fix: updating #999 font colors to #666
  packages/graphiql-2-rfc-context/src/components/common/themes/default/index.ts
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/codemirror.css
  packages/graphiql/src/css/doc-explorer.css
Due: graphiql

feat: render markdown content urls as links
  packages/graphiql/src/components/DocExplorer/MarkdownContent.tsx
  packages/graphiql/test/schema.js
Due: graphiql

feat: export ToolbarSelectOption and ToolbarMenuItem
  .changeset/strange-pugs-brush.md
  packages/graphiql/src/index.ts
Due: graphiql

feat: render markdown content urls as links (#1885)
  packages/graphiql/src/components/DocExplorer/MarkdownContent.tsx
  packages/graphiql/test/schema.js
Due: graphiql

feat: export ToolbarSelectOption and ToolbarMenuItem (#1889)
  .changeset/strange-pugs-brush.md
  packages/graphiql/src/index.ts
Due: graphiql

Create graphiql-api
  graphiql-api
Due: none

Create cii-best-practices
  cii-best-practices
Due: none

Create Javascript-Post-Method.java
  Javascript-Post-Method.java
Due: none

Create Python3-Get-Request.py
  Python3-Get-Request.py
Due: none

Create Python3-POST-Request.py
  Python3-POST-Request.py
Due: none

Create Curl-Get-Methon.py
  Curl-Get-Methon.py
Due: none

Create Curl-POST-Method.py
  Curl-POST-Method.py
Due: none

fix: create a new util to manage historyStore out of query history component
  .changeset/short-mirrors-occur.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/utility/HistoryStore.ts
Due: graphiql

feat: add a new prop to pass in maxHistoryLength
  .changeset/short-mirrors-occur.md
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/utility/HistoryStore.ts
Due: graphiql

Fix theme on result window
  packages/graphiql/src/css/app.css
Due: graphiql

Add changeset
  .changeset/three-ligers-tie.md
Due: none

fix: new util to manage historyStore outside of query history component (#1914)
  .changeset/short-mirrors-occur.md
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/utility/HistoryStore.ts
Due: graphiql

Fix css theme override on result window (#1923)
  .changeset/three-ligers-tie.md
  packages/graphiql/src/css/app.css
Due: graphiql

add discord invite links to the community graphql server
  README.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-toolkit/README.md
  packages/graphiql/README.md
  packages/graphql-language-service-interface/README.md
  packages/graphql-language-service-parser/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-utils/README.md
  packages/graphql-language-service/README.md
  packages/monaco-graphql/README.md
  working-group/README.md
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

add discord invite links to the community graphql server (#1924)
  README.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-toolkit/README.md
  packages/graphiql/README.md
  packages/graphql-language-service-interface/README.md
  packages/graphql-language-service-parser/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-utils/README.md
  packages/graphql-language-service/README.md
  packages/monaco-graphql/README.md
  working-group/README.md
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

docs: Fix usage of graphiql in umd
  packages/graphiql/README.md
Due: graphiql

fix(graphiql): add react 17, 18 in peerDependencies
  packages/graphiql/package.json
Due: graphiql

chore: add changeset
  .changeset/hungry-seals-fix.md
Due: none

feat: add source.svelte to injectTo file targets (#300)
  package.json
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
