Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

chore: upgraded dset
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

chore: upgraded dset to v3
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

improvement: move incremental client from fmg to meros (#1774)
  packages/graphiql-create-fetcher/README.md
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-create-fetcher/src/createFetcher.ts
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

chore: documentation cleanup
  packages/graphiql-create-fetcher/src/createFetcher.ts
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-create-fetcher/src/types.ts
  packages/graphiql-toolkit/src/types.ts
  packages/graphiql/README.md
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/schema.js
Due: graphiql

Add EasyCLA instructions
  CONTRIBUTING.md
  README.md
Due: none

Add EasyCLA instructions (#279)
  README.md
Due: none

0.3.14
  package-lock.json
  package.json
Due: none

Add EasyCLA instructions
  README.md
Due: none

Add instructions for EasyCLA
  README.md
Due: none

Add instructions for EasyCLA (#1781)
  README.md
Due: none

fix: run onToggleDocs when setting docExplorerOpen to false (#1768)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: fix block string parsing in language parser
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
Due: none

feat: upgrades meros to not eagerly yield
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

feat: support tri-state results
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: format if/else to be more readable
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: revert IDE auto-format
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: Filter falsey error arrays
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: fix e2e's and enxure extensions coem along for the ride
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: e2e's should now pass
  packages/graphiql-create-fetcher/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

feat: upgrades meros to not eagerly yield (#1783)
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

fix: Search icon misalignment (#1776)
  packages/graphiql/src/css/doc-explorer.css
Due: graphiql

chore: adds changelog for meros changes
  .changeset/cuddly-items-exist.md
Due: none

chore: use new changelog format, so we can thank our pr people
  .changeset/config.json
  package.json
  yarn.lock
Due: none

chore: changelog for icon
  .changeset/fuzzy-laws-happen.md
Due: none

chore: reference pr numbers
  .changeset/cuddly-items-exist.md
  .changeset/fuzzy-laws-happen.md
Due: none

cleanup
  packages/graphiql-create-fetcher/CHANGELOG.md
  packages/graphiql-toolkit/CHANGELOG.md
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

this is SO much more laborious than lerna, lol
  packages/graphiql/CHANGELOG.md
Due: graphiql

A new 2.0 architectural RFC
  resources/graphiql-2-architecture-rfc.png
Due: none

Update EasyCLA info
  DEVELOPMENT.md
  README.md
Due: none

map github token for publish action
  .github/workflows/release.yml
Due: none

Update EasyCLA info (#282)
  README.md
Due: none

0.3.15
  package-lock.json
  package.json
Due: none

Move @graphiql/create-fetcher to @graphiql/toolkit
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/jest.config.js
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/__tests__/buildFetcher.spec.ts
  packages/graphiql-toolkit/src/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/createFetcher.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/lib.ts
  packages/graphiql-toolkit/src/types.ts
Due: none

feat: [RFC] Introduce Query Params
  packages/graphiql-2-rfc-context/src/api/actions/browserActions.ts
  packages/graphiql-2-rfc-context/src/api/hooks/index.ts
  packages/graphiql-2-rfc-context/src/api/hooks/useQueryParams.ts
  packages/graphiql-2-rfc-context/src/api/index.ts
  packages/graphiql-2-rfc-context/src/api/providers/GraphiQLBrowserProvider.tsx
  packages/graphiql-2-rfc-context/src/api/providers/GraphiQLSchemaProvider.tsx
  packages/graphiql-2-rfc-context/src/api/types.ts
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  packages/graphiql-2-rfc-context/src/components/QueryEditor.tsx
  packages/graphiql-2-rfc-context/src/components/VariableEditor.tsx
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/queryString.ts
Due: none

added regression test for state.rule bug Fixes #899
  packages/graphql-language-service-parser/src/__tests__/CharacterStream-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
Due: none

Remove @graphiql/create-fetcher package
  .changeset/good-experts-flash.md
  packages/graphiql-create-fetcher/CHANGELOG.md
  packages/graphiql-create-fetcher/README.md
  packages/graphiql-create-fetcher/jest.config.js
  packages/graphiql-create-fetcher/package.json
  packages/graphiql-create-fetcher/src/createFetcher.ts
  packages/graphiql-create-fetcher/src/index.ts
  packages/graphiql-create-fetcher/src/lib.ts
  packages/graphiql-create-fetcher/src/types.ts
  packages/graphiql-create-fetcher/tsconfig.esm.json
  packages/graphiql-create-fetcher/tsconfig.json
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql/README.md
  packages/graphiql/package.json
  packages/graphiql/src/cdn.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
  yarn.lock
Due: graphiql

Migrated codemirror-graphql to typescript
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/codemirror.d.ts
  packages/codemirror-graphql/src/hint.js
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/info.js
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/jump.js
  packages/codemirror-graphql/src/jump.ts
  packages/codemirror-graphql/src/lint.ts
  packages/codemirror-graphql/src/mode.ts
  packages/codemirror-graphql/src/utils/SchemaReference.ts
  packages/codemirror-graphql/src/utils/collectVariables.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/hintList.ts
  packages/codemirror-graphql/src/utils/info-addon.ts
  packages/codemirror-graphql/src/utils/jsonParse.ts
  packages/codemirror-graphql/src/utils/jump-addon.ts
  packages/codemirror-graphql/src/utils/runParser.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/codemirror-graphql/src/variables/lint.ts
  packages/codemirror-graphql/src/variables/mode.ts
  packages/codemirror-graphql/tsconfig.esm.json
  packages/codemirror-graphql/tsconfig.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/index.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
Due: graphql-language-service-interface

Migrated codemirror-graphql tests to typescript
  packages/codemirror-graphql/jest.config.js
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/codemirror-graphql/src/__tests__/lint-test.ts
  packages/codemirror-graphql/src/__tests__/mode-test.ts
  packages/codemirror-graphql/src/__tests__/testSchema.ts
  packages/codemirror-graphql/src/codemirror.d.ts
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/results/__tests__/mode-test.ts
  packages/codemirror-graphql/src/results/mode.ts
  packages/codemirror-graphql/src/utils/__tests__/jsonParse-test.ts
  packages/codemirror-graphql/src/variables/__tests__/hint-test.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/__tests__/mode-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/codemirror-graphql/src/variables/lint.ts
  packages/codemirror-graphql/src/variables/mode.ts
  packages/codemirror-graphql/tsconfig.json
Due: none
