Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

Fix wrong request type after restoring a subscription
  .changeset/old-laws-compare.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Fix typo in validateWithCustomRules.ts
  packages/graphql-language-service/src/utils/validateWithCustomRules.ts
Due: graphql-language-service

Fix typo in validateWithCustomRules.ts (#2318)
  packages/graphql-language-service/src/utils/validateWithCustomRules.ts
Due: graphql-language-service

fix: Fix pnpm warning caused by bin field pointing to non-existing file
  packages/graphql-language-service/bin.cjs
  packages/graphql-language-service/package.json
Due: graphql-language-service

feat: Migrate yarn => pnpm, update lockfile and monorepo config
  .yarnrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

feat: Globally replace yarn with pnpm
  .github/workflows/canary.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-graphql-15-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
  .vscode/settings.json
  DEVELOPMENT.md
  examples/cm6-graphql-parcel/README.md
  examples/graphiql-create-react-app/README.md
  examples/graphiql-create-react-app/public/index.html
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/README.md
  examples/monaco-graphql-react-vite/README.md
  examples/monaco-graphql-webpack/README.md
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/.gitignore
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-2-rfc-context/resources/build.sh
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql/.gitignore
  packages/graphiql/README.md
  packages/graphiql/package.json
  packages/graphiql/resources/build.sh
  packages/graphql-language-service-cli/.npmignore
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-server/.npmignore
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service/src/temp-bin.ts
  packages/monaco-graphql/README.md
  packages/vscode-graphql/package.json
  resources/README.md
  scripts/canary-release.js
  scripts/prepublish.sh
  scripts/pretty.js
  working-group/agendas/2022/2022-02-22-monaco.md
Due: graphiql, graphql-language-service, graphql-language-service-server

chore: Replace bahmutov/npm-install with pnpm/action-setup
  .github/workflows/canary.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-graphql-15-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
Due: none

chore: remove npm/yarn workspace configuration to avoid false auto-detection
  package.json
Due: none

chore: When to update pnpm installs
  .github/workflows/pr-graphql-15-check.yml
Due: none

chore: Rollback all dependencies to the version declared in yarn.lock
  pnpm-lock.yaml
Due: none

fix: fix ts error
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/LanguageService.ts
  packages/monaco-graphql/src/typings/refs.d.ts
Due: none

chore: run pnpm format
  scripts/canary-release.js
Due: none

fix: Fix bug that setTimeout was not cleaned up before component unload
  packages/graphiql/src/components/DocExplorer/SearchBox.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/debounce.ts
Due: graphiql

fix: move @codemirror packages to peer deps, upgrade to 0.20.0
  examples/cm6-graphql-parcel/package.json
  examples/cm6-graphql-parcel/src/index.ts
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/cm6-legacy/mode.ts
  yarn.lock
Due: none

Add changeset
  .changeset/sixty-squids-peel.md
Due: none

fix: Fix actions command error to run unit tests and pnpm command error to run submodules
  .github/workflows/pr-tests.yml
  package.json
Due: none

chore: upgrade CM5 to latest version too
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

feat: merge webpack to vite
  packages/graphiql/.gitignore
  packages/graphiql/index.html
  packages/graphiql/package.json
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/main.tsx
  packages/graphiql/tsconfig.json
  packages/graphiql/vite.config.ts
  yarn.lock
Due: graphiql

fix: Fix unit test
  jest.config.base.js
  packages/graphiql/package.json
  packages/graphiql/src/main.tsx
  packages/graphiql/tsconfig.json
  resources/tsconfig.build.esm.json
Due: graphiql

fix: Fixed erroneously compiling main.tsx also as lib
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
Due: graphiql

fix esbuild script
  packages/vscode-graphql/esbuild.js
Due: none

gently trap graphql parse errors in the LS and LSP
  .changeset/wise-birds-notice.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
Due: graphql-language-service, graphql-language-service-server

fix babel config for webpack build
  babel.config.js
Due: none

feat: allow disabling validation (diagnostics)
  .changeset/perfect-teachers-repeat.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

prevent display of "`unexpected EOF`" parser errors
  .changeset/moody-oranges-move.md
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLLanguageService-test.ts
  packages/monaco-graphql/src/GraphQLWorker.ts
Due: graphql-language-service, graphql-language-service-server

update validation toggle changeset
  .changeset/perfect-teachers-repeat.md
Due: none

match behavior in monaco
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLLanguageService-test.ts
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/LanguageService.ts
Due: graphql-language-service, graphql-language-service-server

fix(types): operationName is optional
  .changeset/twelve-dogs-report.md
  packages/graphiql-2-rfc-context/src/types/index.ts
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix(types): components that accept children should declare this
  .changeset/brave-dots-guess.md
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/ToolbarMenu.tsx
  packages/graphiql/src/components/ToolbarSelect.tsx
Due: graphiql

fix(css): use pointer-events:none on Menu dropdown SVG
  .changeset/sweet-ants-knock.md
  packages/graphiql/src/css/app.css
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
