Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: add 1.0.0 branch to lerna allowBranch config
  lerna.json
Due: none

chore: add 1.0.0 branch to lerna allowBranch config (#1583)
  lerna.json
Due: none

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

ci: reintroduce docs build
  netlify.toml
Due: none

ci: further upgrades
  package.json
  typedoc.json
  yarn.lock
Due: none

docs: improvements to monaco-graphql readme
  packages/monaco-graphql/README.md
Due: none

docs: improvements to monaco-graphql readme (#1586)
  packages/monaco-graphql/README.md
Due: none

docs: add temporary typedoc link
  packages/monaco-graphql/README.md
Due: none

docs: easier to read broken typedoc info
  packages/monaco-graphql/README.md
Due: none

chore: finish converting to main branch
  examples/monaco-graphql-webpack/package.json
  lerna.json
  netlify.toml
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/checkgit.sh
  packages/codemirror-graphql/resources/mochaBootload.js
  packages/graphiql/README.md
  packages/graphiql/package.json
  packages/graphiql/resources/checkgit.sh
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/types/index.ts
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/README.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-parser/README.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/README.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/README.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: finish converting to main branch (#1588)
  examples/monaco-graphql-webpack/package.json
  lerna.json
  netlify.toml
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/checkgit.sh
  packages/codemirror-graphql/resources/mochaBootload.js
  packages/graphiql/README.md
  packages/graphiql/package.json
  packages/graphiql/resources/checkgit.sh
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/types/index.ts
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/README.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-parser/README.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/README.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/README.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

docs: add temporary typedoc link (#1587)
  packages/monaco-graphql/README.md
Due: none

Update the header editor to work in the new 2.0 version of GraphiQL.
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/api/actions/sessionActions.ts
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
  packages/graphiql/src/api/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/types/index.ts
Due: graphiql

fix: headers tab - highlighting and schema fetch
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
Due: graphiql

fix: headers tab - highlighting and schema fetch (#1593)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
Due: graphiql

chore(test): set up for monorepo test running
  jest.config.base.js
  jest.config.js
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/jest.config.js
  packages/graphiql/jest.config.js
  packages/graphql-language-service-cli/jest.config.js
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-parser/jest.config.js
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-types/jest.config.js
  packages/graphql-language-service-utils/jest.config.js
  packages/graphql-language-service/jest.config.js
  packages/monaco-graphql/jest.config.js
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

docs: setSchema typo
  packages/monaco-graphql/README.md
Due: none

docs: setSchema typo (#1595)
  packages/monaco-graphql/README.md
Due: none

chore(test): set up for monorepo test running (#1594)
  jest.config.base.js
  jest.config.js
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/jest.config.js
  packages/graphiql/jest.config.js
  packages/graphql-language-service-cli/jest.config.js
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-parser/jest.config.js
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-types/jest.config.js
  packages/graphql-language-service-utils/jest.config.js
  packages/graphql-language-service/jest.config.js
  packages/monaco-graphql/jest.config.js
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feat(merge): make fragment merging type-aware
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

feat(merge-asts): ability to merge duplicate spreads
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

fix(merge-ast): allow mergeAst without schema
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

chore(tests): re-enable GraphiQL utils tests
  packages/graphiql/jest.config.js
Due: graphiql

chore(types): fix type
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

chore(tests): test mergeAst with schema knowledge
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
Due: graphiql

feat(merge): make fragment merging type-aware (#1542)
  packages/graphiql/jest.config.js
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

chore: Add `shouldPersistHeaders` prop in README.md
  packages/graphiql/README.md
Due: graphiql

chore: Add `shouldPersistHeaders` prop in README.md (#1598)
  packages/graphiql/README.md
Due: graphiql

docs: clarify use of headers prop
  packages/graphiql/README.md
Due: graphiql

docs: finally add diagrams
  README.md
  resources/images/current-ecosystem.jpg
  resources/images/graphiql-logo.png
  resources/images/proposed-ecosystem.jpg
Due: none

docs: update github actions build status while we are at it
  README.md
Due: none

docs: clarify use of headers prop (#1600)
  packages/graphiql/README.md
Due: graphiql

docs: finally add diagrams (#1601)
  README.md
  resources/images/current-ecosystem.jpg
  resources/images/graphiql-logo.png
  resources/images/proposed-ecosystem.jpg
Due: none

docs: typo in image url
  README.md
Due: none

docs: fix status badge
  README.md
Due: none

docs: skip graphiql for docs build for now
  netlify.toml
  packages/graphiql/.gitignore
  packages/graphiql/index.html
  typedoc.json
Due: graphiql

ci: reintroduce docs build (#1585)
  netlify.toml
  package.json
  packages/graphiql/.gitignore
  packages/graphiql/index.html
  typedoc.json
  yarn.lock
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
