Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

Fix publish (#343)
  .github/workflows/create-release.yml
  .github/workflows/publish-marketplace.yml
  .github/workflows/publish-open-vsx.yml
Due: none

0.3.20
  package-lock.json
  package.json
Due: none

fix: 'Execute Query' below gql` is shown one line down (#276)
  src/client/graphql-codelens-provider.ts
  src/client/source-helper.ts
Due: none

0.3.21
  package-lock.json
  package.json
Due: none

Include source code in all packages to fix source maps.
  .changeset/grumpy-dolphins-behave.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

Absolute links should work on npm listing (#2033)
  packages/graphiql/README.md
Due: graphiql

chore: update codemirror-graphql's mode-factory.ts to use graphql-language-service directly
  .changeset/lucky-hairs-flash.md
  packages/codemirror-graphql/src/utils/mode-factory.ts
Due: none

fix changeset
  .changeset/grumpy-dolphins-behave.md
Due: none

Include source maps for minified JS and CSS in the graphiql package.
  .changeset/ninety-wasps-grin.md
  packages/graphiql/package.json
Due: graphiql

Added cm6-legacy to files list
  packages/codemirror-graphql/package.json
Due: none

changeset
  .changeset/orange-trees-relate.md
Due: none

Added cm6-legacy to files list (#2052)
  .changeset/orange-trees-relate.md
  packages/codemirror-graphql/package.json
Due: none

Correctly declare dependency on graphql-config
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-types/package.json
Due: graphql-language-service-interface

fix: a few bugs in the language server
  .changeset/cuddly-games-protect.md
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/Logger-test.ts
Due: none

fix: glob paths, document version on cache
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/.graphqlrc.yml
  yarn.lock
Due: none

fix: a few major bugs with SDL and remote schema in the language server (#2055)
  .changeset/cuddly-games-protect.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/.graphqlrc.yml
  packages/graphql-language-service-server/src/__tests__/Logger-test.ts
  yarn.lock
Due: none

add changeset
  .changeset/odd-wolves-whisper.md
Due: none

fix graphql-config type dependency (#2057)
  .changeset/odd-wolves-whisper.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-types/package.json
Due: graphql-language-service-interface

Include source maps for minified JS and CSS in the graphiql package. (#2051)
  .changeset/ninety-wasps-grin.md
  packages/graphiql/package.json
Due: graphiql

fix: upgrade language server, fix major issues
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: none

0.3.22
  package-lock.json
  package.json
Due: none

fix: use @urql/core instead of urql to not pull react
  package-lock.json
  package.json
  src/client/network-helper.ts
Due: none

0.3.23
  package-lock.json
  package.json
Due: none

Parse more JS extensions
  packages/graphql-language-service-server/src/parseDocument.ts
Due: none

Create short-fireants-shake.md
  .changeset/short-fireants-shake.md
Due: none

LSP Server should parse more JS extensions (#2060)
  .changeset/short-fireants-shake.md
  packages/graphql-language-service-server/src/parseDocument.ts
Due: none

support more jas extensions
  CHANGELOG.md
  grammars/graphql.js.json
  package-lock.json
  package.json
Due: none

fix lockfile
  package-lock.json
Due: none

0.3.24
  package-lock.json
  package.json
Due: none

vsce package in ci to check deps
  .github/workflows/test.yml
Due: none

0.3.25
  package-lock.json
  package.json
Due: none

smaller bundle
  .vscodeignore
  CHANGELOG.md
Due: none

0.3.26
  package-lock.json
  package.json
Due: none

improve lsp docs a bit
  packages/graphql-language-service-server/src/startServer.ts
Due: none

Add hover syntax highlighting for types
  .changeset/real-boxes-clap.md
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service/src/LanguageService.ts
Due: graphql-language-service-interface

fix: autocompletion for argument values
  .changeset/green-ghosts-agree.md
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
Due: graphql-language-service-interface

trigger suggestion & insertText for arg completion
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-types/src/index.ts
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
  yarn.lock
Due: graphql-language-service-interface

more trigger characters for the server as well
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/monaco-graphql/src/languageFeatures.ts
Due: graphql-language-service-interface

Adds condition to only create a ws client when executing a subscription operation
  src/client/network-helper.ts
Due: none
