Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

just disable pre-release for now
  .github/disabled-workflows/pre-release.yml
Due: none

almost graphiql react
  packages/graphiql-react/index.html
  packages/graphiql-react/package.json
  packages/graphiql-react/src/example.tsx
  packages/graphiql-react/src/example/App.tsx
  packages/graphiql-react/src/hooks/monaco.ts
  packages/graphiql-react/src/index.tsx
  packages/graphiql-react/src/types.ts
  packages/graphiql-react/tsconfig.json
  packages/graphiql-react/vite.config.ts
  yarn.lock
Due: none

more
  packages/graphiql-react/index.html
  packages/graphiql-react/package.json
  packages/graphiql-react/src/example/App.tsx
  yarn.lock
Due: none

fix(deps): update dependency @urql/core to v2.3.6
  package-lock.json
  package.json
Due: none

feat: react + vite monaco demo, improvements
  .changeset/smart-deers-know.md
  examples/monaco-graphql-react-vite/README.md
  examples/monaco-graphql-react-vite/index.html
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-react-vite/src/App.tsx
  examples/monaco-graphql-react-vite/src/app.css
  examples/monaco-graphql-react-vite/src/debounce.ts
  examples/monaco-graphql-react-vite/src/index.tsx
  examples/monaco-graphql-react-vite/tsconfig.json
  examples/monaco-graphql-react-vite/vite.config.ts
  package.json
  packages/graphiql-react/src/example/App.tsx
  packages/graphiql-react/src/hooks/monaco.ts
  packages/graphiql-react/src/index.tsx
  packages/graphiql-react/src/types.ts
  packages/graphiql-react/tsconfig.json
  packages/graphiql-react/vite.config.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/initializeMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  yarn.lock
Due: none

feat: react + vite monaco demo, improvements (#2116)
  .changeset/smart-deers-know.md
  examples/monaco-graphql-react-vite/README.md
  examples/monaco-graphql-react-vite/index.html
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-react-vite/src/App.tsx
  examples/monaco-graphql-react-vite/src/app.css
  examples/monaco-graphql-react-vite/src/debounce.ts
  examples/monaco-graphql-react-vite/src/index.tsx
  examples/monaco-graphql-react-vite/tsconfig.json
  examples/monaco-graphql-react-vite/vite.config.ts
  package.json
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/initializeMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  yarn.lock
Due: none

fix: monaco getModeId bug
  .changeset/orange-wombats-help.md
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
  yarn.lock
Due: none

upgrade for new key codes for example
  examples/monaco-graphql-webpack/src/index.ts
Due: none

fix: monaco `getModeId` bug for `monaco-editor@^0.30.0` (#2118)
  .changeset/orange-wombats-help.md
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
  yarn.lock
Due: none

chore: fix typo in README.md
  README.md
Due: none

chore: fix typo in README.md (#2134)
  README.md
Due: none

fix: correctly render new lines for doc explorer description fields
  packages/graphiql/src/components/DocExplorer/MarkdownContent.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
  packages/graphiql/test/schema.js
Due: graphiql

chore: add changeset
  .changeset/little-glasses-sort.md
Due: none

feat: add lib cspell
  package.json
  yarn.lock
Due: none

feat: add cspell setting
  cspell.json
  custom-words.txt
Due: none

fix: typo
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

chore: add command
  package.json
Due: none

:art: Adding Darkmode to graphiql
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/css/app.css
Due: graphiql

chore(deps): update dependency @types/node to v16.11.21
  package-lock.json
  package.json
Due: none

fix: Update markdown-it 12.2.0 -> 12.3.2 to fix ReDOS
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

build(deps): bump markdown-it from 12.2.0 to 12.3.2
  .changeset/wild-oranges-learn.md
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

fix: typo
  examples/monaco-graphql-webpack/src/editors.ts
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/codemirror-graphql/src/utils/mode-factory.ts
  packages/graphiql-2-rfc-context/src/api/hooks/useValueRef.ts
  packages/graphiql-2-rfc-context/src/components/common/Resizer/Resizer.tsx
  packages/graphiql-2-rfc-context/src/components/common/Resizer/types.ts
  packages/graphiql-2-rfc-context/src/components/common/themes/types.ts
  packages/graphiql-2-rfc-context/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/__tests__/CharacterStream-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/RuleHelpers-test.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/parseDocument.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service-types/src/index.js.flow
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
  packages/monaco-graphql/src/LanguageService.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/workerManager.ts
Due: graphql-language-service-interface, graphql-language-service-utils

fix: typo .ts, .tsx
  packages/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  packages/graphiql-2-rfc-context/src/components/VariableEditor.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Toolbar.stories.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getDefinition.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
Due: graphiql, graphql-language-service-interface

fix: typo .md
  docs/security/2021-introspection-schema-xss.md
  packages/codemirror-graphql/README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql/CHANGELOG.md
  packages/graphiql/README.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
  working-group/README.md
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: typo .js
  packages/graphiql/test/schema.js
Due: graphiql

fix: re-setting
  cspell.json
  custom-words.txt
  package.json
Due: none

feat: Dark Mode - addressing PR comments
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/css/app.css
Due: graphiql

Adding changeset
  .changeset/sixty-walls-think.md
Due: none

add to changelog entry
  .changeset/sixty-walls-think.md
Due: none

fix: correctly render new lines for doc explorer description fields (#2138)
  .changeset/little-glasses-sort.md
  packages/graphiql/src/components/DocExplorer/MarkdownContent.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
  packages/graphiql/test/schema.js
Due: graphiql

style: Don't invert images for darkMode
  packages/graphiql/src/css/app.css
Due: graphiql

fix: example uses the opts as headers
  examples/graphiql-webpack/src/index.jsx
Due: none

fix: example uses the opts as headers (#2154)
  examples/graphiql-webpack/src/index.jsx
Due: none

fix: should not depend on 'global' global variable (#2155)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add `legacy` graphql config information
  README.md
Due: none

highlight setting snippet
  README.md
Due: none

Improve the document cache miss error message
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

chore(deps): update dependency follow-redirects to 1.14.7 [security]
  package-lock.json
Due: none

chore(deps): update dependency markdown-it to 12.3.2 [security]
  package-lock.json
  package.json
Due: none

chore(deps): update dependency node-fetch to 2.6.7 [security]
  package-lock.json
  package.json
Due: none
