Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

fix: value of documentation in completion list
  packages/codemirror-graphql/src/hint.js
Due: none

refactor: remove unused types
  packages/codemirror-graphql/src/hint.js
Due: none

refactor: stop exporting function
  packages/codemirror-graphql/src/hint.js
Due: none

feat: Introduce Query Params
  packages/graphiql/src/api/actions/browserActions.ts
  packages/graphiql/src/api/hooks/index.ts
  packages/graphiql/src/api/hooks/useQueryParams.ts
  packages/graphiql/src/api/index.ts
  packages/graphiql/src/api/providers/GraphiQLBrowserProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/api/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/utility/parseQueryStringURL.ts
  packages/graphiql/src/utility/updateQueryStringURL.ts
Due: graphiql

chore: instantiate storage only once
  packages/graphiql/src/storage/index.ts
Due: graphiql

chore: fix unit tests
  packages/graphiql/src/storage/index.ts
  packages/graphiql/src/storage/storage.spec.ts
Due: graphiql

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore(release): publish
  examples/graphiql-cdn/CHANGELOG.md
  examples/graphiql-cdn/package.json
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: value of documentation in completion list (#1567)
  packages/codemirror-graphql/src/hint.js
Due: none

fix: remove reducer dispatcher from useCallback dependencies (#1559)
  packages/graphiql/src/api/providers/GraphiQLEditorsProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
Due: graphiql

fix: use new state value
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Update getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
Due: graphql-language-service-interface

fix: highlightNode xxx in xxx syntax to revert back to simple dot notation for checking of existence (#1566)
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

fix: Move all componentWillUnMount functionality to respective events (#1544)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: call debounce statements for resizing
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: call debounce statements as they are functions (#1571)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: add useGraphiQLContext
  packages/graphiql/src/context/useGraphiQLContext.tsx
  packages/graphiql/src/storage/index.ts
Due: graphiql

chore: add comments, and useCallback for useState
  packages/graphiql/src/context/useGraphiQLContext.tsx
Due: graphiql

fix: fix server side rendering by using type only codemirror import
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

fix: fix server side rendering by using type only codemirror import (#1573)
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

chore: up graphql-config, drop graphql<14 peerDeps
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: up graphql-config, drop graphql<14 peerDeps (#1574)
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feature: pull monaco API out and make it better
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/defaults.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
  packages/monaco-graphql/src/workerManager.ts
Due: none

feature: statically set schema
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/webpack.config.js
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/types/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
Due: none

feat: set schema statically
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/types.d.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/workerManager.ts
Due: none

feat: standalone monaco API (#1575)
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/types.d.ts
  examples/monaco-graphql-webpack/webpack.config.js
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/types/index.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/defaults.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
  packages/monaco-graphql/src/workerManager.ts
Due: none

chore: fix problematic definition
  packages/graphiql/src/types.ts
Due: graphiql

chore: fix problematic definition (#1576)
  packages/graphiql/src/types.ts
Due: graphiql

fix: Set headers to localstorage
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: bump GraphiQL to reflect 2.0.0-alpha state
  packages/graphiql/README.md
  packages/graphiql/package.json
Due: graphiql

chore: bump GraphiQL to reflect 2.0.0-alpha state (#1580)
  packages/graphiql/README.md
  packages/graphiql/package.json
Due: graphiql

fix: more server side rendering fixes
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
Due: graphiql

fix: more server side rendering fixes (#1581)
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
Due: graphiql

set headers to storage as opt-in
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

rename setHeadersStorage to shouldPersistHeaders
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: Set headers to localstorage (#1578)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: network cancellation for 1.0
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: network cancellation for 1.0 (#1582)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql
