Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

remove private methods, deprecate public methods, and fix ref forwarding (#2454)
  .changeset/clean-jokes-build.md
  .changeset/kind-carrots-lick.md
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/history/context.tsx
  packages/graphiql-react/src/history/hooks.ts
  packages/graphiql-react/src/history/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/QueryHistory.spec.tsx
Due: graphiql

show proper error when headers or variables are invalid json
  packages/graphiql-react/src/execution.tsx
Due: none

show proper error when headers or variables are invalid json (#2463)
  packages/graphiql-react/src/execution.tsx
Due: none

pass missing props to `EditorContextProvider`
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

pass missing props to `EditorContextProvider` (#2464)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

i broke the canary release script! :sadface:
  scripts/canary-release.js
Due: none

fix bug with lsp server crashing on graphql config errors
  .changeset/tidy-ghosts-happen.md
  .vscode/settings.json
  package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service/src/types.ts
  scripts/prepublish.sh
Due: graphql-language-service, graphql-language-service-server

make exported GraphiQL component a class again
  .changeset/chilly-geese-dress.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Ensure highlighting works with typescript type parameters
  .changeset/sharp-bags-appear.md
  packages/vscode-graphql/README.md
  packages/vscode-graphql/grammars/graphql.js.json
  packages/vscode-graphql/package.json
Due: none

make exported GraphiQL component a class again (#2475)
  .changeset/chilly-geese-dress.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

use `DragResizeContainer` for horizontal editor sizing
  .changeset/dull-pears-clap.md
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
Due: graphiql

remove unused refs
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

use `DragResizeContainer` for resizing docs
  .changeset/dull-pears-clap.md
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/utility/elementPosition.ts
Due: graphiql

add `DragResizeContainer` component
  .changeset/early-roses-shop.md
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
Due: graphiql

use `DragResizeContainer` for secondary editors
  .changeset/dull-pears-clap.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/utility/elementPosition.ts
Due: graphiql

use hooks for greater programatic flexibility
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

remove `headerEditorEnabled` from state
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

rename reset to show and restore size when programmatically hiding and showing elements
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

simplify state
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix resizing of editors
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add generic `DragResizeContainer` component for drag-resizing elements to `@graphiql/react` (#2461)
  .changeset/dull-pears-clap.md
  .changeset/early-roses-shop.md
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/utility/elementPosition.ts
Due: graphiql

correct changeset messages
  .changeset/dull-pears-clap.md
  .changeset/early-roses-shop.md
Due: none

correct changeset messages (#2479)
  .changeset/dull-pears-clap.md
  .changeset/early-roses-shop.md
Due: none

use type assertion functions from graphql-js
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeLink.tsx
Due: graphiql

remove props and consume contexts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
Due: graphiql

simplify field link
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/FieldLink.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/types.ts
Due: graphiql

refactor class components to function components
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
Due: graphiql

simplify type link
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/Argument.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeLink.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/test-utils.ts
  packages/graphiql/src/components/DocExplorer/types.ts
Due: graphiql

run release script if specified for non npm releases
  .changeset/violet-peaches-compete.md
  package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  scripts/prepublish.sh
Due: graphql-language-service, graphql-language-service-server

fix release script, expect default env args
  .github/workflows/release.yml
  packages/vscode-graphql/package.json
Due: none

update eslint, eslint plugins
  .eslintrc.js
  package.json
  yarn.lock
Due: none

Update package.json
  package.json
Due: none

add definition support for operation fields
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/interface/getDefinition.ts
Due: graphql-language-service, graphql-language-service-server
