Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

add formatting
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

remove assert
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

maybe fix lint?
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

use cheap invariant
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

chore: fix/improve examples
  DEVELOPMENT.md
  README.md
  examples/graphiql-cdn/README.md
  examples/graphiql-create-react-app/README.md
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/README.md
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/src/index.ts
  jest.config.base.js
  lerna.json
  package.json
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/LanguageService.ts
  yarn.lock
Due: none

chore: ensure it works as you type
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

feat: interfaces implementing interfaces for the LSP
  packages/graphql-language-service-interface/src/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
Due: graphql-language-service-interface

fix: simplify inline type condition, more tests
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

feat: interfaces implementing interfaces for the LSP (#1742)
  packages/graphql-language-service-interface/src/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
Due: graphql-language-service-interface

chore: cleanup example/rfc tags created by lerna
  package.json
  yarn.lock
Due: none

chore: cleanup example/rfc tags created by lerna (#1745)
  package.json
  yarn.lock
Due: none

chore: add script
  resources/publishCleanup.ts
Due: none

chore: add script (#1746)
  resources/publishCleanup.ts
Due: none

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

feat: merge completion logic for implements &
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/hint.js
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-types/src/index.js.flow
  packages/graphql-language-service-types/src/index.ts
Due: graphql-language-service-interface

chore: revert fragments for now
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/src/hint.js
Due: none

feat: filter out suggestions for interfaces already in the list
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

fix: codemirror hint test, test scripts
  package.json
  packages/codemirror-graphql/src/__tests__/hint-test.js
Due: none

fix: filter suggestions better when extending an object type
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-types/src/index.ts
Due: graphql-language-service-interface

chore: better support for object type edge cases
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

feat: merge completion logic (for implements &, variables) (#1747)
  package.json
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/hint.js
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/src/types.ts
  packages/graphql-language-service-types/src/index.js.flow
  packages/graphql-language-service-types/src/index.ts
  yarn.lock
Due: graphql-language-service-interface

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: fix formatting
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: also support fetcher functions that return Promise<Observable> or Promise<AsyncIterator>
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

refactor: re-use and export types
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: also support fetcher functions that return Promise<Observable> or Promise (#1739)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: implied or external fragments, resolves #612
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/src/hint.js
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/workerManager.ts
  resources/tsconfig.build.esm.json
Due: graphiql, graphql-language-service-interface

feat: add external fragment execution to GraphiQL
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/graphiql-2-rfc-context/src/api/hooks/useQueryFacts.ts
  packages/graphiql-2-rfc-context/src/utility/getQueryFacts.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/__tests__/getQueryFacts.spec.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDefinition.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-interface/src/getOutline.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-types/src/index.js.flow
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-language-service-utils/src/Range.ts
  packages/graphql-language-service-utils/src/__tests__/Range-test.ts
  packages/graphql-language-service-utils/src/__tests__/getASTNodeAtPosition-test.ts
  packages/graphql-language-service-utils/src/fragmentDependencies.ts
  packages/graphql-language-service-utils/src/getASTNodeAtPosition.ts
  packages/graphql-language-service-utils/src/index.js.flow
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/index.ts
  packages/monaco-graphql/src/utils.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feat: validate external fragments, add docs, tests
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/src/lint.js
  packages/graphiql/README.md
  packages/graphiql/src/utility/__tests__/getQueryFacts.spec.ts
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-utils/src/__tests__/getASTNodeAtPosition-test.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: fix flow types to get CI passing
  packages/graphql-language-service-interface/src/index.js.flow
  packages/graphql-language-service-types/src/index.js.flow
  packages/graphql-language-service-utils/src/index.js.flow
Due: graphql-language-service-interface, graphql-language-service-utils

chore: make interfaces consistent
  packages/codemirror-graphql/README.md
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/hint.js
  packages/codemirror-graphql/src/utils/getFragmentDefinitions.js
  packages/graphiql/src/components/QueryEditor.tsx
Due: graphiql

chore: tests to cover both cases
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
Due: graphql-language-service-interface

chore: add API docs links real quick, as we change the APIs
  packages/graphql-language-service-interface/README.md
  packages/graphql-language-service-parser/README.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-types/README.md
  packages/graphql-language-service-utils/README.md
  packages/graphql-language-service/README.md
Due: graphql-language-service-interface, graphql-language-service-utils

chore: fix codemirror documentation
  packages/codemirror-graphql/README.md
Due: none

fix: bug with externalFragments in codemirror
  packages/codemirror-graphql/src/hint.js
  packages/codemirror-graphql/src/lint.js
  packages/codemirror-graphql/src/utils/getFragmentDefinitions.js
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

fix: bug with externalFragments in codemirror (#1751)
  packages/codemirror-graphql/src/hint.js
  packages/codemirror-graphql/src/lint.js
  packages/codemirror-graphql/src/utils/getFragmentDefinitions.js
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface
