Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: toolkit type fixes and doc improvements (#1992)
  .github/workflows/deploy-preview.yml
  examples/graphiql-webpack/package.json
  packages/graphiql-toolkit/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
Due: none

add missing changeset
  .changeset/something-something.md
Due: none

fix(graphiql): add react 17, 18 in peerDependencies (#1934)
  .changeset/hungry-seals-fix.md
  packages/graphiql/package.json
Due: graphiql

Fix unknown fragment errors on save (#1964)
  .changeset/fresh-tables-pretend.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

[RFC] fix: fix block string parsing in language parser (#1777)
  .changeset/thick-baboons-glow.md
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
Due: none

web roadmap!
  working-group/roadmap/web.md
Due: none

target patch changeset
  .changeset/fresh-tables-pretend.md
Due: none

add monaco-graphql to changeset
  .changeset/thick-baboons-glow.md
Due: none

ignore linting working-group directory
  .eslintignore
Due: none

ignore linting working-group directory (#1996)
  .eslintignore
Due: none

chore: introduce more active maintainers
  README.md
Due: none

fix: formatting fix for prettier
  .changeset/light-olives-rush.md
Due: none

Add 7th meeting notes :) (#1978)
  working-group/minutes/2021-10-12.md
Due: none

more roadmap additions
  working-group/roadmap/web.md
Due: none

chore: introduce more active maintainers (#1957)
  README.md
Due: none

fix: updating #999 font colors to #666 (#1883)
  .changeset/light-olives-rush.md
  packages/graphiql-2-rfc-context/src/components/common/themes/default/index.ts
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/codemirror.css
  packages/graphiql/src/css/doc-explorer.css
Due: graphiql

add changeset
  .changeset/afraid-nails-trade.md
Due: none

fix: `monaco-graphql` worker issue, es module config should use `esNext ` (#1979)
  .changeset/afraid-nails-trade.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
Due: none

remove rfc changeset
  .changeset/light-olives-rush.md
Due: none

almost done
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphiql/src/utility/mergeAst.ts
  packages/graphiql/src/utility/onHasCompletion.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/getOutline.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service-utils/src/fragmentDependencies.ts
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
  packages/monaco-graphql/src/api.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

tests work? :)
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
Due: graphiql

temp
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

remove new line
  packages/graphiql/cypress/integration/prettify.spec.ts
Due: graphiql

upgrade to support `graphql@16.0.0-rc.7.experimental-stream-defer.4`
  .changeset/great-eyes-try.md
Due: none

upgrade examples
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  yarn.lock
Due: none

update
  working-group/roadmap/web.md
Due: none

build: upgrade 16.0.0-experimental-stream-defer.5
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

build: remove codemirror dependency from lsp
  .changeset/forty-apes-retire.md
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
Due: graphql-language-service-interface

experiment with alpha releaess workflow
  .changeset/strong-turkeys-live.md
  .github/workflows/canary.yml
  package.json
  scripts/canary-release.js
Due: none

fixes
  .github/workflows/canary.yml
Due: none

try to fix publishing to npm
  .github/workflows/canary.yml
Due: none

fixes
  package.json
Due: none

delete expriment file
  .changeset/strong-turkeys-live.md
Due: none

Update .changeset/great-eyes-try.md
  .changeset/great-eyes-try.md
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
