Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

update eslint to latest, eslint plugins (#2456)
  .eslintrc.js
  package.json
  yarn.lock
Due: none

use `in` operator
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

chore(monaco-graphql): use hash map instead switch cases for better readability (#2458)
  packages/monaco-graphql/src/languageFeatures.ts
Due: none

apply fixes for ESLint `no-unused-vars` rule
  .eslintrc.js
  examples/cm6-graphql-parcel/src/index.ts
  examples/graphiql-2-rfc-context/src/api/providers/__tests__/GraphiQLSchemaProvider.spec.tsx
  examples/graphiql-2-rfc-context/src/types/global.ts
  packages/codemirror-graphql/src/index.d.ts
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/test/afterDevServer.js
  packages/graphiql/test/bad-schema.js
  packages/graphiql/test/schema.js
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParser-test.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParserUtils.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

fix tests
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
Due: none

apply fixes for ESLint `no-useless-catch` rule
  .eslintrc.js
  examples/graphiql-2-rfc-context/src/workers/graphql.worker.ts
  packages/monaco-graphql/src/graphql.worker.ts
Due: none

add `.idea/` to `.gitignore` to make JetBrains users happy
  .gitignore
Due: none

apply fixes for `@typescript-eslint/no-inferrable-types` rule
  .eslintrc.js
  examples/graphiql-2-rfc-context/src/api/providers/__tests__/GraphiQLSchemaProvider.spec.tsx
  examples/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/vscode-graphql/src/apis/statusBar.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

apply fixes for `@typescript-eslint/prefer-as-const` rule
  .eslintrc.js
  packages/graphql-language-service/src/interface/getDiagnostics.ts
  packages/graphql-language-service/src/types.ts
Due: graphql-language-service

apply fixes for `@typescript-eslint/prefer-optional-chain` rule
  .eslintrc.js
  examples/graphiql-2-rfc-context/src/components/DocExplorer/SchemaDoc.tsx
  examples/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  examples/graphiql-2-rfc-context/src/components/QueryEditor.tsx
  examples/graphiql-2-rfc-context/src/components/ToolbarSelect.tsx
  examples/graphiql-2-rfc-context/src/components/common/Toolbar/Tabs.tsx
  examples/graphiql-2-rfc-context/src/utility/getSelectedOperationName.ts
  examples/graphiql-2-rfc-context/src/utility/mergeAst.ts
  packages/codemirror-graphql/src/__tests__/lint-test.ts
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/info-addon.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/src/schema.tsx
  packages/graphiql-toolkit/src/graphql-helpers/merge-ast.ts
  packages/graphiql-toolkit/src/graphql-helpers/operation-name.ts
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/ToolbarSelect.tsx
  packages/graphiql/test/schema.js
  packages/graphql-language-service-cli/bin/graphql.js
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/autocompleteUtils.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/CharacterStream.ts
  packages/graphql-language-service/src/parser/Rules.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
  packages/monaco-graphql/src/LanguageService.ts
  packages/monaco-graphql/src/languageFeatures.ts
  resources/test.config.js
Due: graphiql, graphql-language-service, graphql-language-service-server

fix build
  packages/graphql-language-service/src/parser/CharacterStream.ts
Due: graphql-language-service

add changeset
  .changeset/itchy-bananas-wink.md
Due: none

add `.idea/` to `.gitignore` to make JetBrains users happy (#2491)
  .gitignore
Due: none

feature: add definition support for operation fields (#2486)
  .changeset/itchy-bananas-wink.md
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/interface/getDefinition.ts
Due: graphql-language-service, graphql-language-service-server

Version Packages (#2495)
  .changeset/itchy-bananas-wink.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: graphiql, graphql-language-service, graphql-language-service-server

apply fixes for `@typescript-eslint/prefer-optional-chain` rule (#2494)
  .eslintrc.js
  examples/graphiql-2-rfc-context/src/components/DocExplorer/SchemaDoc.tsx
  examples/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  examples/graphiql-2-rfc-context/src/components/QueryEditor.tsx
  examples/graphiql-2-rfc-context/src/components/ToolbarSelect.tsx
  examples/graphiql-2-rfc-context/src/components/common/Toolbar/Tabs.tsx
  examples/graphiql-2-rfc-context/src/utility/getSelectedOperationName.ts
  examples/graphiql-2-rfc-context/src/utility/mergeAst.ts
  packages/codemirror-graphql/src/__tests__/lint-test.ts
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/info-addon.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/src/schema.tsx
  packages/graphiql-toolkit/src/graphql-helpers/merge-ast.ts
  packages/graphiql-toolkit/src/graphql-helpers/operation-name.ts
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/ToolbarSelect.tsx
  packages/graphiql/test/schema.js
  packages/graphql-language-service-cli/bin/graphql.js
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/autocompleteUtils.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/CharacterStream.ts
  packages/graphql-language-service/src/parser/Rules.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
  packages/monaco-graphql/src/LanguageService.ts
  packages/monaco-graphql/src/languageFeatures.ts
  resources/test.config.js
Due: graphiql, graphql-language-service, graphql-language-service-server

apply fixes for `@typescript-eslint/prefer-as-const` rule (#2493)
  .eslintrc.js
  packages/graphql-language-service/src/interface/getDiagnostics.ts
  packages/graphql-language-service/src/types.ts
Due: graphql-language-service

remove unused declaration in cm6 parcel example
  examples/cm6-graphql-parcel/src/index.ts
Due: none

fix project references, upgrade @types/graphql
  examples/monaco-graphql-react-vite/package.json
  package.json
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-react/tsconfig.esm.json
  packages/graphiql-react/tsconfig.json
  packages/graphiql/package.json
  resources/tsconfig.base.cjs.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.graphiql.build.cjs.json
  resources/tsconfig.graphiql.build.esm.json
  resources/tsconfig.graphiql.json
  yarn.lock
Due: graphiql

apply fixes for ESLint `no-useless-catch` rule (#2490)
  .eslintrc.js
  examples/graphiql-2-rfc-context/src/workers/graphql.worker.ts
  packages/monaco-graphql/src/graphql.worker.ts
Due: none

apply fixes for ESLint `no-unused-vars` rule (#2489)
  .eslintrc.js
  examples/cm6-graphql-parcel/src/index.ts
  examples/graphiql-2-rfc-context/src/api/providers/__tests__/GraphiQLSchemaProvider.spec.tsx
  examples/graphiql-2-rfc-context/src/types/global.ts
  packages/codemirror-graphql/src/index.d.ts
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/execution.tsx
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/test/afterDevServer.js
  packages/graphiql/test/bad-schema.js
  packages/graphiql/test/schema.js
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParser-test.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParserUtils.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

fix the default value of the `headerEditorEnabled` prop
  .changeset/strange-schools-wave.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add back schema prop to DocExplorer
  packages/graphiql/src/components/DocExplorer.tsx
Due: graphiql

fix the default value of the `headerEditorEnabled` prop (#2499)
  .changeset/strange-schools-wave.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

simplify doc explorer components (#2477)
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/Argument.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/FieldLink.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeLink.spec.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/test-utils.ts
  packages/graphiql/src/components/DocExplorer/types.ts
Due: graphiql

Version Packages (#2500)
  .changeset/strange-schools-wave.md
  examples/graphiql-webpack/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

chore: use the same TypeScript version
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-2-rfc-context/package.json
  examples/graphiql-parcel/package.json
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/graphiql/package.json
  packages/graphql-language-service/package.json
  yarn.lock
Due: graphiql, graphql-language-service

fix: resolve TypeScript errors
  packages/codemirror-graphql/src/utils/jsonParse.ts
  packages/codemirror-graphql/src/variables/lint.ts
  packages/graphiql-react/src/history/context.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/ToolbarButton.tsx
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/getDiagnostics.ts
  packages/graphql-language-service/src/parser/Rules.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

feat: add lib cspell
  package.json
  yarn.lock
Due: none

feat: add cspell setting
  cspell.json
  custom-words.txt
Due: none

fix: typo
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

chore: add command
  package.json
Due: none

fix: typo
  examples/graphiql-2-rfc-context/src/api/hooks/useValueRef.ts
  examples/graphiql-2-rfc-context/src/components/common/Resizer/Resizer.tsx
  examples/graphiql-2-rfc-context/src/components/common/Resizer/types.ts
  examples/graphiql-2-rfc-context/src/components/common/themes/types.ts
  examples/graphiql-2-rfc-context/src/utility/__tests__/mergeAst-fixture.ts
  examples/monaco-graphql-webpack/src/editors.ts
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/codemirror-graphql/src/utils/mode-factory.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphql-language-service-cli/src/client.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/parser/Rules.ts
  packages/graphql-language-service/src/parser/__tests__/CharacterStream-test.ts
  packages/graphql-language-service/src/parser/__tests__/OnlineParser-test.ts
  packages/graphql-language-service/src/parser/__tests__/RuleHelpers-test.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
  packages/graphql-language-service/src/parser/types.ts
  packages/graphql-language-service/src/types.js.flow
  packages/monaco-graphql/src/typings/index.ts
Due: graphql-language-service, graphql-language-service-server

fix: typo .ts, .tsx
  examples/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  examples/graphiql-2-rfc-context/src/components/VariableEditor.tsx
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getDefinition.ts
Due: graphql-language-service

fix: typo .md
  docs/security/2021-introspection-schema-xss.md
  packages/codemirror-graphql/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql/CHANGELOG.md
  packages/graphiql/README.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
  working-group/README.md
Due: graphiql, graphql-language-service, graphql-language-service-server

fix: typo .js
  packages/graphiql/test/schema.js
Due: graphiql

fix: re-setting
  cspell.json
  custom-words.txt
  package.json
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
