Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

graphql-ws upgrade, move to peerDependency (#2017)
  .changeset/lovely-cycles-call.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/graphqlWs.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/test/afterDevServer.js
  packages/graphiql/test/e2e-server.js
  packages/graphiql/test/schema.js
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
  yarn.lock
Due: graphiql

chore: enable header editor by default (#1925)
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: fail netlify, remove example
  .github/workflows/deploy-preview.yml
  examples/graphiql-cdn-create-fetcher/README.md
  examples/graphiql-cdn-create-fetcher/index.html
  examples/graphiql-cdn-create-fetcher/package.json
  examples/graphiql-create-fetcher/README.md
  examples/graphiql-create-fetcher/babel.config.js
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-fetcher/src/index.html.ejs
  examples/graphiql-create-fetcher/webpack.config.js
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/webpack.config.js
Due: none

chore: fail netlify, consolidate graphiql webpack examples (#2024)
  .github/workflows/deploy-preview.yml
  examples/graphiql-cdn-create-fetcher/README.md
  examples/graphiql-cdn-create-fetcher/index.html
  examples/graphiql-cdn-create-fetcher/package.json
  examples/graphiql-create-fetcher/README.md
  examples/graphiql-create-fetcher/babel.config.js
  examples/graphiql-create-fetcher/package.json
  examples/graphiql-create-fetcher/src/index.html.ejs
  examples/graphiql-create-fetcher/webpack.config.js
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/webpack.config.js
Due: none

Create crunch42-analysis.yml
  .github/workflows/crunch42-analysis.yml
Due: none

fix: schema prop type fix
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

Declare graphql-language-service-utils dependency
  packages/codemirror-graphql/package.json
Due: none

fix: Add graphql-language-service-utils to dependencies of codemirror-graphql
  packages/codemirror-graphql/package.json
Due: none

fix: Add graphql-language-service-utils to dependencies of codemirror-graphql
  .changeset/beige-boxes-suffer.md
Due: none

Absolute links should work on npm listing
  packages/graphiql/README.md
Due: graphiql

Ask for graphql config in issue template
  ISSUE_TEMPLATE.md
Due: none

0.3.19
  package-lock.json
  package.json
Due: none

chore: fix graphql peer resolutions
  .changeset/few-numbers-check.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

Added Codemirror 6 legacy mode support
  examples/cm6-graphql-parcel/.gitignore
  examples/cm6-graphql-parcel/README.md
  examples/cm6-graphql-parcel/package.json
  examples/cm6-graphql-parcel/src/index.html
  examples/cm6-graphql-parcel/src/index.ts
  examples/cm6-graphql-parcel/src/sample-query.ts
  examples/cm6-graphql-parcel/tsconfig.json
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/cm6-legacy/mode.ts
  packages/codemirror-graphql/src/mode.ts
  packages/codemirror-graphql/src/utils/mode-factory.ts
  packages/codemirror-graphql/src/utils/mode-indent.ts
  yarn.lock
Due: none

added changeset
  .changeset/soft-spoons-love.md
Due: none

Create Sjenica1
  Sjenica1
Due: none

Added Codemirror 6 legacy mode support (#2035)
  .changeset/soft-spoons-love.md
  examples/cm6-graphql-parcel/.gitignore
  examples/cm6-graphql-parcel/README.md
  examples/cm6-graphql-parcel/package.json
  examples/cm6-graphql-parcel/src/index.html
  examples/cm6-graphql-parcel/src/index.ts
  examples/cm6-graphql-parcel/src/sample-query.ts
  examples/cm6-graphql-parcel/tsconfig.json
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/cm6-legacy/mode.ts
  packages/codemirror-graphql/src/mode.ts
  packages/codemirror-graphql/src/utils/mode-factory.ts
  packages/codemirror-graphql/src/utils/mode-indent.ts
  yarn.lock
Due: none

chore: update codemirror-graphql to use graphql-language-service directly
  .changeset/red-laws-argue.md
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/jump.ts
  packages/codemirror-graphql/src/lint.ts
  packages/codemirror-graphql/src/results/mode.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/runParser.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/codemirror-graphql/src/variables/mode.ts
  packages/codemirror-graphql/tsconfig.esm.json
  packages/codemirror-graphql/tsconfig.json
Due: none

use graphql-lang-service in codemirror-graphql (#2037)
  .changeset/red-laws-argue.md
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/hint.ts
  packages/codemirror-graphql/src/info.ts
  packages/codemirror-graphql/src/jump.ts
  packages/codemirror-graphql/src/lint.ts
  packages/codemirror-graphql/src/results/mode.ts
  packages/codemirror-graphql/src/utils/forEachState.ts
  packages/codemirror-graphql/src/utils/getTypeInfo.ts
  packages/codemirror-graphql/src/utils/runParser.ts
  packages/codemirror-graphql/src/variables/__tests__/lint-test.ts
  packages/codemirror-graphql/src/variables/hint.ts
  packages/codemirror-graphql/src/variables/mode.ts
  packages/codemirror-graphql/tsconfig.esm.json
  packages/codemirror-graphql/tsconfig.json
Due: none

upgrade `graphql-config` in language server
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  yarn.lock
Due: graphql-language-service-interface

remove ignored example changeset
  .changeset/soft-spoons-love.md
Due: none

get tests passing with new undici fetch in config
  jest.config.base.js
  package.json
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  yarn.lock
Due: graphql-language-service-interface

add changeset
  .changeset/young-eggs-taste.md
Due: none

mode details for changeset
  .changeset/young-eggs-taste.md
Due: none

ugprade graphql-config in language server (#2038)
  .changeset/young-eggs-taste.md
  jest.config.base.js
  package.json
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-types/package.json
  yarn.lock
Due: graphql-language-service-interface

remove non-deploy preview examples from workspaces
  examples/cm6-graphql-parcel/README.md
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-create-fetcher/src/index.jsx
  examples/graphiql-create-react-app/README.md
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/package.json
  package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

remove non-deploy preview examples from workspaces (#2039)
  examples/cm6-graphql-parcel/README.md
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-create-fetcher/src/index.jsx
  examples/graphiql-create-react-app/README.md
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/package.json
  package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

deduplicate lockfile?
  yarn.lock
Due: none

chore: fix graphql peer resolutions
  .changeset/few-numbers-check.md
  examples/graphiql-webpack/package.json
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

remove non-deploy preview examples from workspaces (#2039)
  examples/cm6-graphql-parcel/README.md
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-create-fetcher/src/index.jsx
  examples/graphiql-create-react-app/README.md
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/package.json
  package.json
  packages/graphiql/package.json
  packages/graphiql/test/schema.js
  yarn.lock
Due: graphiql

fix: schema prop type fix (#2029)
  .changeset/bright-knives-cough.md
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphiql/src/utility/mergeAst.ts
Due: graphiql

fix graphql-js peer deps
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix graphql peer deps (#2044)
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

missing changeset, fix e2e
  .changeset/nervous-squids-flow.md
  packages/graphiql/test/schema.js
  yarn.lock
Due: graphiql

node 16
  .changeset/nervous-squids-flow.md
  .github/workflows/canary.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
  .nvmrc
Due: none

missing changeset, fix e2e, node 16 (#2045)
  .changeset/nervous-squids-flow.md
  .github/workflows/canary.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-check.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
  .nvmrc
  packages/graphiql/test/schema.js
  yarn.lock
Due: graphiql

chore: update codemirror-graphql's mode-factory.ts to use graphql-language-service directly
  .changeset/lucky-hairs-flash.md
  packages/codemirror-graphql/src/utils/mode-factory.ts
Due: none

chore: upgrades, apollo-client => urql, cleanup (#338)
  .github/workflows/publish-marketplace.yml
  .vscode/launch.json
  .vscode/tasks.json
  CHANGELOG.md
  package-lock.json
  package.json
  src/client/graphql-codelens-provider.ts
  src/client/graphql-content-provider.ts
  src/client/network-helper.ts
  src/client/source-helper.ts
  src/extension.ts
  src/server/server.ts
  tsconfig.json
  yarn.lock
Due: none

fix publish (#342)
  package-lock.json
  package.json
Due: none

Embed source code in source maps, as typescript files are not included in the packages.
  .changeset/three-zoos-decide.md
  resources/tsconfig.base.cjs.json
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
