Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

test(parser): add benchmarks
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-parser/src/benchmark/fixtures/github.graphql
  packages/graphql-language-service-parser/src/benchmark/fixtures/kitchen-sink.graphql
  packages/graphql-language-service-parser/src/benchmark/index.ts
Due: none

variables in FetcherParams
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

variables in FetcherParams (#1633)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: drop IE support, remove regenerator runtime
  .browserslistrc
  README.md
  babel.config.js
  examples/graphiql-webpack/babel.config.js
  examples/monaco-graphql-webpack/babel.config.js
  examples/monaco-graphql-webpack/src/index.ts
  package.json
  packages/graphiql/index.html
  packages/graphiql/package.json
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/workers/graphql.worker.ts
  packages/monaco-graphql/tsconfig.json
  resources/jestBabelTransform.js
  resources/tsconfig.base.cjs.json
  resources/tsconfig.base.esm.json
  yarn.lock
Due: graphiql

chore: drop IE support, remove regenerator runtime (#1628)
  .browserslistrc
  README.md
  babel.config.js
  examples/graphiql-webpack/babel.config.js
  examples/monaco-graphql-webpack/babel.config.js
  examples/monaco-graphql-webpack/src/index.ts
  package.json
  packages/graphiql/index.html
  packages/graphiql/package.json
  packages/graphiql/resources/webpack.config.js
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/workers/graphql.worker.ts
  packages/monaco-graphql/tsconfig.json
  resources/jestBabelTransform.js
  resources/tsconfig.base.cjs.json
  resources/tsconfig.base.esm.json
  yarn.lock
Due: graphiql

chore: resolve example versions, publish fix
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  lerna.json
  packages/graphiql/package.json
Due: graphiql

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

improvement: make fragment merging type-aware (#1611)
  jest.config.base.js
  jest.config.js
  packages/codemirror-graphql/.gitignore
  packages/codemirror-graphql/jest.config.js
  packages/graphiql/jest.config.js
  packages/graphiql/src/utility/__tests__/mergeAst-fixture.ts
  packages/graphiql/src/utility/__tests__/mergeAst.spec.ts
  packages/graphiql/src/utility/mergeAst.ts
  packages/graphql-language-service-cli/jest.config.js
  packages/graphql-language-service-interface/jest.config.js
  packages/graphql-language-service-parser/jest.config.js
  packages/graphql-language-service-server/jest.config.js
  packages/graphql-language-service-types/jest.config.js
  packages/graphql-language-service-utils/jest.config.js
  packages/graphql-language-service/jest.config.js
  packages/monaco-graphql/jest.config.js
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

feat: Publish extension to open-vsx.org
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: none

Show AST directives for fields in the codemirror.
  packages/codemirror-graphql/src/info.js
Due: none

Show directives inside of FieldDoc.
  packages/graphiql/src/components/DocExplorer/Directive.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
Due: graphiql

remove npx as dependency
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: none

fmt
  packages/codemirror-graphql/src/info.js
Due: none

binaries are not registered globally
  .github/workflows/publish.yml
Due: none

chore: revert changes to interface
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service-types/package.json
  yarn.lock
Due: graphql-language-service-interface

feat: graphql-config@3 support in lsp server (#1616)
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/.graphqlrc.yml
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/startServer.ts
  yarn.lock
Due: none

fix: pre-cacheing schema bugs, new server config options
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/parseDocument.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service-server/src/types.ts
Due: none

fix: be sure to register directive def at source scope in grammar (#188)
  grammars/graphql.json
Due: none

0.2.30
  package-lock.json
  package.json
Due: none

chore: cleanup startServer docs
  packages/graphql-language-service-server/src/startServer.ts
Due: none

fix: pre-cacheing schema bugs, new server config options (#1636)
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLCache-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/parseDocument.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service-server/src/types.ts
Due: none

improvement: server only LSP bugfix for config extensions
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
Due: graphql-language-service-interface

improvement: server only LSP bugfix for config extensions (#1637)
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
Due: graphql-language-service-interface

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

separate marketplace and open vsx publish
  .github/workflows/create-release.yml
  .github/workflows/publish-marketplace.yml
  .github/workflows/publish-open-vsx.yml
  package.json
  publish.sh
Due: none

cleanup
  .github/workflows/publish-marketplace.yml
  .github/workflows/publish-open-vsx.yml
Due: none

fix: unify how observables are consumed in different places
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix missing end of line
  package.json
Due: none

0.2.31
  package-lock.json
  package.json
Due: none

fix invalid yml
  .github/workflows/publish-marketplace.yml
  .github/workflows/publish-open-vsx.yml
Due: none

fix: cleanup
  .github/workflows/publish-marketplace.yml
Due: none

0.2.32
  package-lock.json
  package.json
Due: none

fix: workflow name
  .github/workflows/publish-marketplace.yml
  .github/workflows/publish-open-vsx.yml
Due: none

fix broken apollo dependency
  package-lock.json
  package.json
Due: none

0.2.33
  package-lock.json
  package.json
Due: none

fix: downgrade graphql to 0.12.x
  package-lock.json
  package.json
Due: none

test: compile and check for peer dependencies in pull requests
  .github/workflows/test.yml
Due: none

0.2.34
  package-lock.json
  package.json
Due: none

ci: add no-automerge on minor as well
  renovate.json
Due: none

0.2.35
  package-lock.json
  package.json
Due: none
