Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

meros out of beta (#1799)
  packages/graphiql-toolkit/package.json
  yarn.lock
Due: none

Update EasyCLA section to include bot info (#1801)
  README.md
Due: none

fixed paths and tests and storybook
  babel.config.js
  package.json
  packages/graphiql-2-rfc-context/.storybook/config.js
  packages/graphiql-2-rfc-context/.storybook/main.js
  packages/graphiql-react/package.json
  packages/graphiql-react/src/components/Layout.stories.tsx
  packages/graphiql-react/src/components/Nav.stories.tsx
  packages/graphiql-react/src/components/Nav.tsx
  packages/graphiql-react/src/components/Toolbar/Tabs.stories.tsx
  packages/graphiql-react/src/components/Toolbar/Tabs.tsx
  packages/graphiql-react/src/components/Toolbar/Toolbar.stories.tsx
  packages/graphiql-react/src/components/Type.stories.tsx
  packages/graphiql-react/src/components/__tests__/__snapshots__/stories.spec.js.snap
  packages/graphiql-react/src/components/__tests__/stories.spec.js
  packages/graphiql-react/src/components/themes/provider.tsx
  packages/graphiql-react/src/themes/README.md
  packages/graphiql-react/src/themes/decorators.tsx
  packages/graphiql-react/src/themes/default/Layout.tsx
  packages/graphiql-react/src/themes/default/index.ts
  packages/graphiql-react/src/themes/provider.tsx
  packages/graphiql-react/src/themes/types.ts
  yarn.lock
Due: none

fixed git history
  packages/graphiql-react/.storybook/preview.js
  packages/graphiql-react/src/themes/provider.tsx
Due: none

fix: dset doesnt deepmerge
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

chore: adds changeset
  .changeset/violet-cougars-greet.md
Due: none

fix: e2e's amended
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/dset-merger.ts
  packages/graphiql/test/schema.js
  yarn.lock
Due: graphiql

updates to yarn.lock
  yarn.lock
Due: none

upgrade typedoc
  package.json
  typedoc.json
  yarn.lock
Due: none

add changeset
  .changeset/eleven-gorillas-hug.md
Due: none

chore: upgrades dset to be used now
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/dset-merger.ts
  yarn.lock
Due: graphiql

escape a pipe within code in table so that row correctly closes
  packages/graphiql/README.md
Due: graphiql

fix: format table row
  packages/graphiql/README.md
Due: graphiql

reorganize github actions for better visibility
  .github/workflows/ci.yml
  .github/workflows/push-pr.yml
Due: none

build into build and lint job
  .github/workflows/push-pr.yml
Due: none

more cleanup, add license checker
  .github/workflows/license-check.yml
  .github/workflows/push-pr.yml
  DEVELOPMENT.md
  examples/graphiql-webpack/README.md
  examples/graphiql-webpack/src/index.jsx
  js-green-licenses.json
  package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/package.json
  packages/graphql-language-service-server/package.json
  resources/prepublish.sh
  yarn.lock
Due: graphiql

reorganize github push/PR actions for better visibility (#1815)
  .github/workflows/ci.yml
  .github/workflows/license-check.yml
  .github/workflows/push-pr.yml
  DEVELOPMENT.md
  examples/graphiql-webpack/README.md
  examples/graphiql-webpack/src/index.jsx
  js-green-licenses.json
  package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/package.json
  packages/graphql-language-service-server/package.json
  resources/prepublish.sh
  yarn.lock
Due: graphiql

ci: cleanup labelling for ci
  .github/workflows/license-check.yml
  .github/workflows/push-pr.yml
Due: none

ci: cleanup labelling workflows/steps (#1817)
  .github/workflows/license-check.yml
  .github/workflows/push-pr.yml
Due: none

fix: fix peer resolutions, limit example workspaces
  .changeset/young-bottles-taste.md
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

ci: deploy to netlify using github actions
  .github/workflows/deploy.yml
  .github/workflows/push-pr.yml
Due: none

chore: replace netlify production build as well
  .github/workflows/deploy-preview.yml
Due: none

chore: branches in workflow
  .github/workflows/deploy.yml
Due: none

ci: deploy to netlify using github actions (#1818)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/push-pr.yml
Due: none

feat: createFetcher legacyClient option, simplofy, docs
  .changeset/two-bulldogs-doubt.md
  packages/graphiql-toolkit/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
  packages/graphiql-toolkit/src/create-fetcher/index.ts
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql-toolkit/src/index.ts
Due: none

chore: render query history panel only when it's toggled
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

trigger github actions on creating a PR
  .github/workflows/deploy-preview.yml
  .github/workflows/license-check.yml
  .github/workflows/push-pr.yml
Due: none

fix test cases by toggling the history panel
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

more specific changelog entry
  .changeset/young-bottles-taste.md
Due: none

fix: set peer resolutions for graphql@14.5 at minumum, limit example workspaces (#1816)
  .changeset/young-bottles-taste.md
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: cleanup, tests, bump dependencies
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

update changeset
  .changeset/two-bulldogs-doubt.md
Due: none

`GraphiQL.createClient()` accepts custom `legacyClient`, exports typescript types, fixes #1800. (#1819)
  .changeset/two-bulldogs-doubt.md
  packages/graphiql-toolkit/README.md
  packages/graphiql-toolkit/docs/create-fetcher.md
  packages/graphiql-toolkit/package.json
  packages/graphiql-toolkit/src/create-fetcher/__tests__/buildFetcher.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
  packages/graphiql-toolkit/src/create-fetcher/index.ts
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

add changeset
  .changeset/metal-cougars-fry.md
Due: none

chore: convert changelogs to new format
  .changeset/two-bulldogs-doubt.md
  CHANGELOG.md
  packages/codemirror-graphql/CHANGELOG.md
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql/CHANGELOG.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: convert changelogs to new format (#1824)
  .changeset/two-bulldogs-doubt.md
  CHANGELOG.md
  packages/codemirror-graphql/CHANGELOG.md
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql/CHANGELOG.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: normalize versions with manypkg fix
  examples/monaco-graphql-webpack/package.json
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix lint issue
  .changeset/metal-cougars-fry.md
Due: none
