Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

0.3.27
  package-lock.json
  package.json
Due: none

fix: lsp server paths for windows, special chars
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  yarn.lock
Due: none

fix file URI parsing for windows
  .changeset/fifty-actors-sleep.md
Due: none

remove filePathToUrl as well, fix tests
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
Due: none

fix: lsp server paths for windows, special chars, fragment/object cache (#2072)
  .changeset/fifty-actors-sleep.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  yarn.lock
Due: none

fix: autocompletion for argument values, more trigger characters (#2070)
  .changeset/green-ghosts-agree.md
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-types/src/index.ts
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
Due: graphql-language-service-interface

Add hover syntax highlighting for types (#2065)
  .changeset/real-boxes-clap.md
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service/src/LanguageService.ts
Due: graphql-language-service-interface

Update green-ghosts-agree.md
  .changeset/green-ghosts-agree.md
Due: none

Use yaml formatting for yaml example
  README.md
Due: none

0.3.28
  package-lock.json
  package.json
Due: none

upgrade lang server, more extensions
  package-lock.json
  package.json
  src/extension.ts
Due: none

0.3.29
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v16.11.11
  package-lock.json
  package.json
Due: none

0.3.30
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/ws to v8.2.1
  package-lock.json
  package.json
Due: none

0.3.31
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vsce to v2.5.1
  package-lock.json
  package.json
Due: none

0.3.32
  package-lock.json
  package.json
Due: none

check protocol for https and else disable agent
  src/client/network-helper.ts
Due: none

0.3.33
  package-lock.json
  package.json
Due: none

fix: export `CompletionItemKind` from `vscode-languageserver-types`
  packages/graphql-language-service-types/src/index.ts
Due: none

fix: fix typo
  packages/graphql-language-service-types/src/index.ts
Due: none

fix: append insertText instead of variable labels
  .changeset/early-clouds-speak.md
  package.json
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  yarn.lock
Due: graphql-language-service-interface

Enable schemaDescription for getIntrospectionQuery
  .changeset/smooth-elephants-eat.md
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
  packages/graphiql/src/utility/introspectionQueries.ts
  packages/graphiql/test/schema.js
Due: graphiql

feat: deprecation docs behavior for input types
  .changeset/smooth-elephants-eat.md
  package.json
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
  packages/graphiql/src/utility/introspectionQueries.ts
  packages/graphiql/test/schema.js
Due: graphiql

Enable schemaDescription & inputTypeDeprecation (#2077)
  .changeset/smooth-elephants-eat.md
  package.json
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/FieldDoc.spec.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/ExampleSchema.ts
  packages/graphiql/src/utility/introspectionQueries.ts
  packages/graphiql/test/schema.js
Due: graphiql

fix: append insertText instead of variable labels (#2076)
  .changeset/early-clouds-speak.md
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  yarn.lock
Due: graphql-language-service-interface

update changeset changelog plugin
  package.json
  yarn.lock
Due: none

until we fix deploy previews for forks
  .github/workflows/deploy-preview.yml
Due: none

update changeset changelog plugin (#2079)
  package.json
  yarn.lock
Due: none

fail deploy previews quietly for now (#2080)
  .github/workflows/deploy-preview.yml
Due: none

fail deploy previews quietly for now (#2080)
  .changeset/weak-elephants-do.md
  .github/workflows/deploy-preview.yml
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
Due: graphql-language-service-interface

Auto-expand selection sets & invoke completion with all fields on newline (#2081)
  .changeset/weak-elephants-do.md
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/index.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/utils.ts
Due: graphql-language-service-interface

trigger deploy previews
  examples/monaco-graphql-webpack/src/index.ts
Due: none

feat: variables json working
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/webpack.config.js
  packages/graphiql-toolkit/src/getOperationFacts.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-utils/src/collectVariables.ts
  packages/graphql-language-service-utils/src/getOperationFacts.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphql.worker.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

move json schema logic into LS, improve schema loading
  examples/monaco-graphql-webpack/src/index.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/workerManager.ts
Due: graphql-language-service-utils

improve example
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
Due: none

fix: login re-render, graphql query
  examples/monaco-graphql-webpack/src/index.ts
Due: none

fix: only load variables json features when schema
  examples/monaco-graphql-webpack/src/index.ts
Due: none

fix initial auth issue in demo
  examples/monaco-graphql-webpack/src/index.ts
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
