Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

fix(css): use pointer-events:none on Menu dropdown SVG (#2388)
  .changeset/sweet-ants-knock.md
  packages/graphiql/src/css/app.css
Due: graphiql

fix(types): components that accept children should declare this (#2387)
  .changeset/brave-dots-guess.md
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/ToolbarMenu.tsx
  packages/graphiql/src/components/ToolbarSelect.tsx
Due: graphiql

fix(toolkit): operationName is optional (#2373)
  .changeset/twelve-dogs-report.md
  packages/graphiql-2-rfc-context/src/types/index.ts
  packages/graphiql-toolkit/src/create-fetcher/createFetcher.ts
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

use graphql@16.3.0, matrix for the range
  .github/workflows/pr-graphql-compat-check.yml
  examples/cm6-graphql-parcel/package.json
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/package.json
  packages/graphiql/resources/index.html.ejs
  packages/graphiql/resources/renderExample.js
  packages/graphiql/resources/webpack.config.js
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphiql, graphql-language-service, graphql-language-service-server

use a custom PAT for deploy & PR creation now
  .github/workflows/canary.yml
  .github/workflows/release.yml
Due: none

fix vscode publishing with changesets
  .changeset/happy-kangaroos-taste.md
  packages/vscode-graphql/package.json
Due: none

Update 2022-05-10.md
  working-group/agendas/2022/2022-05-10.md
Due: none

update example/graphiql-create-react-app
  examples/graphiql-create-react-app/package.json
Due: none

update examples/graphiql-parcel
  examples/graphiql-parcel/.gitignore
  examples/graphiql-parcel/package.json
  examples/graphiql-parcel/src/index.html
Due: none

fix codemirror imports for parcel example
  packages/graphiql/src/utility/importCodeMirror.ts
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

update graphiql
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-2-rfc-context/resources/index.html.ejs
  packages/graphiql/package.json
  packages/graphiql/resources/index.html.ejs
  yarn.lock
Due: graphiql

update graphiql-cdn
  examples/graphiql-cdn/index.html
Due: none

upgrade storybook to avoid react 16 as dependency
  packages/graphiql-2-rfc-context/.storybook/main.js
  packages/graphiql-2-rfc-context/.storybook/preview.js
  packages/graphiql-2-rfc-context/package.json
  yarn.lock
Due: none

update graphiql-webpack
  examples/graphiql-webpack/package.json
Due: none

update examples/monaco-graphql-webpack
  examples/monaco-graphql-webpack/package.json
  yarn.lock
Due: none

add changeset
  .changeset/hungry-colts-raise.md
Due: none

chore(deps): use React v17 consistently (#2397)
  .changeset/hungry-colts-raise.md
  examples/graphiql-cdn/index.html
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/.gitignore
  examples/graphiql-parcel/package.json
  examples/graphiql-parcel/src/index.html
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/package.json
  packages/graphiql-2-rfc-context/.storybook/main.js
  packages/graphiql-2-rfc-context/.storybook/preview.js
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql-2-rfc-context/resources/index.html.ejs
  packages/graphiql/package.json
  packages/graphiql/resources/index.html.ejs
  packages/graphiql/src/utility/importCodeMirror.ts
  packages/graphiql/src/utility/onHasCompletion.ts
  yarn.lock
Due: graphiql

enable `react/jsx-curly-brace-presence` and disable `react/jsx-no-literals` (#2273)
  .eslintrc.js
  examples/graphiql-webpack/src/index.jsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql-2-rfc-context/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  packages/graphiql-2-rfc-context/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql-2-rfc-context/src/components/common/Layout.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/List/List.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Nav.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Resizer/Resizer.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Tabs.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Toolbar/Toolbar.stories.tsx
  packages/graphiql-2-rfc-context/src/components/common/Type.stories.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/Directive.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/SchemaDoc.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeLink.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

enable `react/jsx-no-useless-fragment` (#2284)
  .eslintignore
  .eslintrc.js
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
Due: none

enable `react/no-unused-state` (#2285)
  .eslintrc.js
  packages/graphiql-2-rfc-context/src/components/GraphiQL.tsx
Due: none

fix bad changeset and avoid warnings
  .changeset/hungry-colts-raise.md
  examples/graphiql-webpack/package.json
  yarn.lock
Due: none

fix bad changeset and avoid warnings (#2398)
  .changeset/hungry-colts-raise.md
  examples/graphiql-webpack/package.json
  yarn.lock
Due: none

move async helper functions to toolkit
  packages/graphiql-toolkit/src/async-helpers/index.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

deprecate unused property
  packages/graphiql-toolkit/src/create-fetcher/types.ts
Due: none

move format functions to toolkit
  packages/graphiql-toolkit/src/format/index.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add changeset
  .changeset/rude-singers-tap.md
  .changeset/wise-maps-divide.md
Due: none

more elaborate comment
  packages/graphiql-toolkit/src/create-fetcher/types.ts
Due: none

move more reusable logic into toolkit package (#2401)
  .changeset/rude-singers-tap.md
  .changeset/wise-maps-divide.md
  packages/graphiql-toolkit/src/async-helpers/index.ts
  packages/graphiql-toolkit/src/create-fetcher/types.ts
  packages/graphiql-toolkit/src/format/index.ts
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Version Packages (#2400)
  .changeset/hungry-colts-raise.md
  .changeset/rude-singers-tap.md
  .changeset/wise-maps-divide.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/graphiql-toolkit/CHANGELOG.md
  packages/graphiql-toolkit/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

add @graphiql/react package with context provider
  package.json
  packages/graphiql-react/.eslintrc
  packages/graphiql-react/.gitignore
  packages/graphiql-react/package.json
  packages/graphiql-react/src/explorer.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/tsconfig.json
  packages/graphiql-react/tsconfig.node.json
  packages/graphiql-react/vite.config.ts
  yarn.lock
Due: none

upgrade eslint-plugin-react
  package.json
  yarn.lock
Due: none

replace docs state with context provider from @graphiql/react
  packages/graphiql/package.json
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/DefaultValue.tsx
  packages/graphiql/src/components/DocExplorer/FieldDoc.tsx
  packages/graphiql/src/components/DocExplorer/TypeDoc.tsx
  packages/graphiql/src/components/DocExplorer/types.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryEditor.tsx
Due: graphiql

correct type annotation
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

build @graphiql/react before graphiql
  package.json
Due: none

add type annotation for variable
  packages/graphiql/src/components/DocExplorer.tsx
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
