Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

fix: intialize => initializeMode
  custom-words.txt
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
Due: graphql-language-service

fix: exclude css files from cspell check
  custom-words.txt
  package.json
Due: none

use --gitignore flag for excluding untracked files
  cspell.json
  package.json
Due: none

spell-check css in general and exclude graphiql for now
  cspell.json
  package.json
Due: none

only lint changed files
  package.json
Due: none

feat: add prettier!
  .changeset/fair-snails-drum.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  yarn.lock
Due: graphiql

add keymap option
  .changeset/cool-owls-drop.md
  .eslintignore
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/types.ts
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Revert "feat: add prettier!"
  .changeset/fair-snails-drum.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  yarn.lock
Due: graphiql

Remove redundant check
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

Create sixty-poems-punch.md
  .changeset/sixty-poems-punch.md
Due: none

Remove redundant check (#2506)
  .changeset/sixty-poems-punch.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

chore: extend `eslint:recommended` config
  .eslintrc.js
  examples/graphiql-2-rfc-context/__mocks__/codemirror.js
  examples/graphiql-2-rfc-context/__mocks__/codemirror.ts
  examples/graphiql-2-rfc-context/src/components/DocExplorer/TypeDoc.tsx
  examples/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  examples/graphiql-2-rfc-context/src/components/__tests__/helpers/storage.js
  packages/graphiql/__mocks__/codemirror.ts
Due: graphiql

fix remaining spelling issues
  custom-words.txt
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/src/editor/__tests__/tabs.spec.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/schema.tsx
  packages/graphiql/CHANGELOG.md
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/README.md
Due: graphiql, graphql-language-service, graphql-language-service-server

run spell checks when linting
  package.json
Due: none

add postcss config to allow nesting
  packages/graphiql-react/package.json
  packages/graphiql-react/postcss.config.js
  yarn.lock
Due: none

add css files for default fonts
  packages/graphiql-react/font/fira-code.css
  packages/graphiql-react/font/roboto.css
  packages/graphiql-react/package.json
  packages/graphiql/src/cdn.ts
Due: graphiql

add long description with markdown to dev schema
  packages/graphiql/test/schema.js
Due: graphiql

avoid processing css from `@graphiql/react` with postcss
  packages/graphiql/resources/webpack.config.js
Due: graphiql

rewrite completion tooltip
  packages/codemirror-graphql/src/info.ts
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/completion.ts
  yarn.lock
Due: none

move editor css to @graphiql/react
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/editor/style/fold.css
  packages/graphiql-react/src/editor/style/hint.css
  packages/graphiql-react/src/editor/style/info.css
  packages/graphiql-react/src/editor/style/jump.css
  packages/graphiql-react/src/editor/style/lint.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/deprecation.css
  packages/graphiql-react/src/style/markdown.css
  packages/graphiql-react/src/style/root.css
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/codemirror.css
  packages/graphiql/src/css/foldgutter.css
  packages/graphiql/src/css/info.css
  packages/graphiql/src/css/jump.css
  packages/graphiql/src/css/lint.css
  packages/graphiql/src/css/show-hint.css
Due: graphiql

git mv editor components to `@graphiql/react`
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
Due: none

move styles for auto-inserted leads
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/style/auto-insertion.css
  packages/graphiql/src/css/app.css
Due: graphiql

make dynamic padding more resilient and add explanatory comment
  packages/graphiql-react/src/editor/completion.ts
Due: none

add changesets
  .changeset/five-pillows-fail.md
  .changeset/gentle-forks-rule.md
  .changeset/perfect-flowers-hunt.md
  .changeset/pre.json
Due: none

add extra color to avoid conflicts
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/style/root.css
Due: none

colocate markdown and deprecation styles
  packages/graphiql-react/src/editor/style/hint.css
  packages/graphiql-react/src/editor/style/info.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/deprecation.css
  packages/graphiql-react/src/style/markdown.css
Due: none

adjust editor components after moving to `@graphiql/react`
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/index.ts
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/index.tsx
Due: graphiql

fix spell checking
  custom-words.txt
Due: none

add changeset for graphiql@2
  .changeset/lazy-clouds-lay.md
Due: none

propose new maintainers
  README.md
  custom-words.txt
Due: none

use graphql-config legacy mode by default
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

ts-ignore to ts-expect-error. fix eslint bug with no-undef
  .eslintrc.js
  cspell.json
  examples/graphiql-2-rfc-context/src/api/providers/GraphiQLSchemaProvider.tsx
  examples/graphiql-2-rfc-context/src/api/providers/GraphiQLSessionProvider.tsx
  examples/graphiql-2-rfc-context/src/cdn.ts
  examples/graphiql-2-rfc-context/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  examples/graphiql-2-rfc-context/src/components/GraphiQL.tsx
  examples/graphiql-2-rfc-context/src/utility/__tests__/StorageAPI.spec.ts
  examples/graphiql-2-rfc-context/src/workers/graphql.worker.ts
  examples/monaco-graphql-webpack/src/editors.ts
  packages/graphiql-toolkit/src/create-fetcher/__tests__/lib.spec.ts
  packages/graphiql-toolkit/src/create-fetcher/lib.ts
  packages/graphiql-toolkit/src/format/index.ts
  packages/graphiql-toolkit/src/storage/__tests__/base.spec.ts
  packages/graphiql/cypress/plugins/index.js
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service/src/interface/__tests__/getDefinition-test.ts
  packages/graphql-language-service/src/interface/__tests__/getOutline-test.ts
  packages/graphql-language-service/src/interface/getDiagnostics.ts
  packages/graphql-language-service/src/interface/getOutline.ts
  packages/graphql-language-service/src/parser/onlineParser.ts
  packages/graphql-language-service/src/utils/__tests__/Range-test.ts
  packages/graphql-language-service/src/utils/__tests__/getASTNodeAtPosition-test.ts
  packages/graphql-language-service/src/utils/__tests__/validateWithCustomRules-test.ts
  packages/graphql-language-service/src/utils/getVariablesJSONSchema.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/languageFeatures.ts
Due: graphiql, graphql-language-service, graphql-language-service-server

create changeset
  .changeset/early-games-pretend.md
Due: none
