Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

fix: languageserver filepath on Windows
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: formatting
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: use nodes fileURLToPath cause minimal node version is v10.17
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: new URL can be omitted since fileURLToPath accepts string
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: remove unused URL
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: dont log undefined if there isnt an error
  packages/graphql-language-service-server/src/Logger.ts
Due: none

chore: apply feedback for new api from pr comments
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat(graphiql): add prop for adding toolbar content while preserving the default buttons
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: crash on receiving an LSP message in "stream" mode
  CONTRIBUTING.md
  packages/graphql-language-service-server/src/Logger.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/Logger-test.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: none

docs: maintainer status update
  README.md
Due: none

Update README.md
  README.md
Due: none

0.3.12
  package-lock.json
  package.json
Due: none

fix: readFileSync without encoding returns typename of buffer
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: use pathToFileURL instead of manuel build file uris
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: convert to path only right before fs
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: make go to definition work
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: linter fails on readme, even I did not changed it
  README.md
Due: none

fix: tests
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
Due: none

fix: upgrades for graphql@15.4.0
  package.json
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  packages/graphiql/src/utility/mergeAst.ts
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface

chore: add lines to flowconfig ignore
  .flowconfig
Due: none

fix: rename queryDir to queryPathUri
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
Due: none

chore: stream is experimental
  README.md
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
Due: graphql-language-service-interface

chore: graphql 15.4 for rfc as well
  packages/graphiql-2-rfc-context/package.json
  yarn.lock
Due: none

chore: fix mocha tests
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

chore: upgrades for graphql@15.4.0 (#1714)
  .flowconfig
  README.md
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  packages/graphiql/src/utility/mergeAst.ts
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface

fix: remove assert module dependency
  packages/graphql-language-service-interface/src/getDefinition.ts
Due: graphql-language-service-interface

fix: improve props in GraphiQL readme
  packages/graphiql/README.md
Due: graphiql

chore: more links, remove defaults column
  packages/graphiql/README.md
Due: graphiql

chore: fix rfc readme
  README.md
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/README.md
  yarn.lock
Due: graphiql

chore: eslint, docs cleanup for monaco, example
  .eslintrc.js
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  packages/graphiql-2-rfc-context/README.md
  packages/graphiql-2-rfc-context/resources/webpack.config.js
  packages/graphiql-2-rfc-context/src/api/providers/GraphiQLSessionProvider.tsx
  packages/graphiql-2-rfc-context/src/components/ResultViewer.tsx
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/graphqlMode.ts
Due: none

[parser] add CharacterStream tests
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/__tests__/CharacterStream-test.ts
  packages/graphql-language-service-parser/src/__tests__/RuleHelpers-test.ts
Due: none

[parser] Add gql sdl tests for Online Parser
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
Due: none

Add Online Parser Query Tests
  packages/graphql-language-service-parser/src/__tests__/OnlineParser-test.ts
  packages/graphql-language-service-parser/src/__tests__/OnlineParserUtils.ts
Due: none
