Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

ci: upgrade LSP doc tooling
  package.json
  yarn.lock
Due: none

ci: remove codecov token
  .github/workflows/ci.yml
  .gitignore
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.ts
  typedoc.json
Due: graphiql

chore(dev-deps): upgrade babel, jest, eslint (#1470)
  .codecov.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierrc
  examples/graphiql-cdn/index.html
  jest.config.js
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/resources/bootJSDOM.js
  packages/codemirror-graphql/resources/mochaBootload.js
  packages/codemirror-graphql/src/utils/info-addon.js
  packages/graphiql/README.md
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ImagePreview.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/debounce.ts
  packages/graphiql/test/e2e-server.js
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-utils/package.json
  resources/pretty.js
  resources/test.config.js
  typedoc.json
  working-group/agendas/2020-04-14.md
  working-group/agendas/2020-05-12.md
  yarn.lock
Due: graphiql, graphql-language-service-utils

ci: remove branch cleanup action, failed last master build
  .github/workflows/ci-merge.yml
  .github/workflows/ci.yml
  .nvmrc
Due: none

ci: remove branch cleanup action (#1471)
  .github/workflows/ci-merge.yml
  .github/workflows/ci.yml
  .nvmrc
Due: none

ci: fix lockfile
  yarn.lock
Due: none

ci: PR notifications test
  .github/workflows/review-submitted.yml.archived
Due: none

rename file to trigger changes
  .github/workflows/review-submitted.yml
Due: none

chore: cleanup formatting
  .github/workflows/review-submitted.yml
Due: none

ci: fix netlify build issues with babel
  .nvmrc
  examples/graphiql-webpack/package.json
  netlify.toml
  yarn.lock
Due: none

ci: fix netlify build issues with babel (#1473)
  .nvmrc
  examples/graphiql-webpack/package.json
  netlify.toml
  yarn.lock
Due: none

chore: graphiql dev deps
  package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

chore: last few dev updates
  examples/graphiql-webpack/package.json
  packages/codemirror-graphql/package.json
  packages/graphql-language-service-types/package.json
  yarn.lock
Due: none

chore: fix @types and revert devDeps declaration
  package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

fix: cleanup
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/state/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/state/GraphiQLSessionProvider.tsx
Due: graphiql

fix: cleanup * consolidated loadCurrentSchema and loadSchema * started adding errors to result viewer
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/state/GraphiQLSchemaProvider.tsx
Due: graphiql

ci: force build for publish
  package.json
  packages/graphiql/tsconfig.json
  yarn.lock
Due: graphiql

chore: more windows compatible contributor DX
  package.json
  resources/README.md
Due: none

chore: add some docs and root scripts
  DEVELOPMENT.md
  package.json
Due: none

ci: force build (#1476)
  DEVELOPMENT.md
  package.json
  packages/graphiql/tsconfig.json
  resources/README.md
  yarn.lock
Due: graphiql

chore(release): publish
  examples/graphiql-cdn/CHANGELOG.md
  examples/graphiql-cdn/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: target es5 for graphiql
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
Due: graphiql

chore: cleanup
  packages/graphiql/tsconfig.json
Due: graphiql

ci: more publish commands
  package.json
Due: none

chore: target es5 for graphiql (#1477)
  package.json
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
Due: graphiql

chore(release): publish
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

chore: fix example credentials, which breaks /cdn netlify demo
  examples/graphiql-cdn/index.html
Due: none

fix: alpha has broken reference to types
  packages/graphql-language-service-interface/package.json
  yarn.lock
Due: graphql-language-service-interface

chore: add bugfixes option to optimize build output
  babel.config.js
Due: none

fix: graphiql@1.0.0-alpha.7 has broken reference to vscode types (#1479)
  babel.config.js
  packages/graphql-language-service-interface/package.json
  yarn.lock
Due: graphql-language-service-interface

chore: fix example credentials, /cdn netlify demo (#1478)
  examples/graphiql-cdn/index.html
Due: none

chore(release): publish
  examples/graphiql-cdn/CHANGELOG.md
  examples/graphiql-cdn/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface

chore: fixed minor platform specific test failures and lint errors
  .eslintrc.js
  package.json
  packages/graphiql/src/new-components/Layout.stories.js
  packages/graphql-language-service-utils/src/__tests__/file-test.ts
  resources/pretty.js
  yarn.lock
Due: graphiql, graphql-language-service-utils

chore: fixed minor platform specific test failures and lint err… (#1480)
  .eslintrc.js
  package.json
  packages/graphiql/src/new-components/Layout.stories.js
  packages/graphql-language-service-utils/src/__tests__/file-test.ts
  resources/pretty.js
  yarn.lock
Due: graphiql, graphql-language-service-utils

fix: hover log
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: graphql-language-service-interface

fix: handle all schema and LSP errors
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/startServer.ts
Due: graphql-language-service-interface

chore: converted new-components to typescript
  .gitignore
  package.json
  packages/graphiql/.storybook/config.js
  packages/graphiql/.storybook/main.js
  packages/graphiql/package.json
  packages/graphiql/src/new-components/Layout.stories.tsx
  packages/graphiql/src/new-components/List/List.js
  packages/graphiql/src/new-components/List/List.stories.tsx
  packages/graphiql/src/new-components/List/List.tsx
  packages/graphiql/src/new-components/Nav.tsx
  packages/graphiql/src/new-components/Toolbar/Content.js
  packages/graphiql/src/new-components/Toolbar/Content.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.stories.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.tsx
  packages/graphiql/src/new-components/Toolbar/Toolbar.stories.tsx
  packages/graphiql/src/new-components/Toolbar/Toolbar.tsx
  packages/graphiql/src/new-components/Toolbar/support/WithDividers.tsx
  packages/graphiql/src/new-components/Type.stories.tsx
  packages/graphiql/src/new-components/Type.tsx
  packages/graphiql/src/new-components/themes/constants.js
  packages/graphiql/src/new-components/themes/decorators.js
  packages/graphiql/src/new-components/themes/decorators.tsx
  packages/graphiql/src/new-components/themes/default/Layout.tsx
  packages/graphiql/src/new-components/themes/default/index.ts
  packages/graphiql/src/new-components/themes/index.tsx
  packages/graphiql/src/new-components/themes/provider.tsx
  packages/graphiql/src/types.ts
  packages/graphiql/tsconfig.json
  yarn.lock
Due: graphiql

fix: fix cli, improve error handling
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/cli.ts
  packages/graphql-language-service/tsconfig.json
Due: graphql-language-service-interface

chore: renamed list to index and likewise for toolbar
  packages/graphiql/src/new-components/List/index.tsx
  packages/graphiql/src/new-components/Toolbar/index.tsx
  packages/graphiql/src/new-components/themes/index.ts
Due: graphiql

chore: fixed breaking unit tests
  packages/graphiql/src/new-components/Layout.stories.tsx
  packages/graphiql/src/new-components/List/List.stories.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.stories.tsx
  packages/graphiql/src/new-components/Toolbar/Toolbar.stories.tsx
  packages/graphiql/src/new-components/Type.stories.tsx
Due: graphiql

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
