Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

ci: force build (#1476)
  DEVELOPMENT.md
  package.json
  packages/graphiql/tsconfig.json
  resources/README.md
  yarn.lock
Due: graphiql

chore: target es5 for graphiql (#1477)
  package.json
  packages/graphiql/tsconfig.esm.json
  packages/graphiql/tsconfig.json
Due: graphiql

chore(release): publish
  examples/graphiql-cdn/CHANGELOG.md
  examples/graphiql-cdn/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore(release): publish
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

fix: graphiql@1.0.0-alpha.7 has broken reference to vscode types (#1479)
  babel.config.js
  packages/graphql-language-service-interface/package.json
  packages/graphql-languageservice/package.json
  yarn.lock
Due: graphql-language-service-interface

chore: fix example credentials, /cdn netlify demo (#1478)
  examples/graphiql-cdn/index.html
Due: none

chore(release): publish
  examples/graphiql-cdn/CHANGELOG.md
  examples/graphiql-cdn/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
Due: graphiql, graphql-language-service-interface

chore: fixed minor platform specific test failures and lint err… (#1480)
  .eslintrc.js
  package.json
  packages/graphiql/src/new-components/Layout.stories.js
  packages/graphql-language-service-utils/src/__tests__/file-test.ts
  resources/pretty.js
  yarn.lock
Due: graphiql, graphql-language-service-utils

improvement: changes to LSP to prepare for monaco
  packages/graphql-languageservice/package.json
Due: none

feat: new graphql-languageservice package
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/RuleHelpers.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-languageservice/README.md
  packages/graphql-languageservice/package.json
  packages/graphql-languageservice/src/index.ts
  packages/graphql-languageservice/tsconfig.esm.json
  packages/graphql-languageservice/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
Due: none

fix: repair CLI, handle all schema and LSP errors (#1482)
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/src/cli.ts
  packages/graphql-language-service/tsconfig.json
Due: graphql-language-service-interface

feat: new graphql-languageservice package (#1485)
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/RuleHelpers.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-languageservice/README.md
  packages/graphql-languageservice/package.json
  packages/graphql-languageservice/src/index.ts
  packages/graphql-languageservice/tsconfig.esm.json
  packages/graphql-languageservice/tsconfig.json
  resources/tsconfig.build.cjs.json
  resources/tsconfig.build.esm.json
Due: none

chore: relative path for lookup
  packages/graphiql/src/components/ResultViewer.tsx
Due: graphiql

chore: another relative path
  packages/graphiql/src/components/QueryHistory.tsx
Due: graphiql

chore: relative paths for imports (#1487)
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/ResultViewer.tsx
Due: graphiql

feat: introduce proper vscode completion kinds
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-types/src/index.ts
Due: graphql-language-service-interface

feat: kind to symbol kind
  examples/graphiql-webpack/webpack.config.js
  packages/graphiql/resources/webpack.config.js
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
Due: graphiql, graphql-language-service-interface

feat: introduce proper vscode completion kinds (#1488)
  examples/graphiql-webpack/webpack.config.js
  packages/graphiql/resources/webpack.config.js
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-types/src/index.ts
Due: graphiql, graphql-language-service-interface

chore: schema no longer needed in variables editor
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/state/types.ts
Due: graphiql

fix: remove problematic file resolution module from webpack scope
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-utils/src/index.ts
Due: graphql-language-service-interface, graphql-language-service-utils

fix: webpack dev build issue, parser types
  packages/graphiql/resources/webpack.config.js
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/autocompleteUtils.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/RuleHelpers.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/index.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-language-service-utils/src/__tests__/file-test.ts
  packages/graphql-language-service-utils/src/file.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: remove problematic file resolution module from webpack sco… (#1489)
  packages/graphiql/resources/webpack.config.js
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/autocompleteUtils.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/graphql-language-service-parser/src/CharacterStream.ts
  packages/graphql-language-service-parser/src/RuleHelpers.ts
  packages/graphql-language-service-parser/src/Rules.ts
  packages/graphql-language-service-parser/src/index.ts
  packages/graphql-language-service-parser/src/onlineParser.ts
  packages/graphql-language-service-parser/src/types.ts
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-language-service-utils/src/__tests__/file-test.ts
  packages/graphql-language-service-utils/src/file.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: cleanup, fix execution kinda (#13)
  packages/graphiql/src/components/ExecuteButton.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/state/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/state/GraphiQLSessionProvider.tsx
  packages/graphiql/src/state/useReducers.ts
Due: graphiql

chore: renamed index to types in themes
  packages/graphiql/src/new-components/themes/default/Layout.tsx
  packages/graphiql/src/new-components/themes/default/index.ts
  packages/graphiql/src/new-components/themes/types.ts
Due: graphiql

chore: added back js files to correctly preserve history
  packages/graphiql/src/new-components/List/List.js
  packages/graphiql/src/new-components/Toolbar/Content.js
  packages/graphiql/src/new-components/themes/decorators.js
Due: graphiql

chore: added typescript contents to js files as preliminary step
  packages/graphiql/src/new-components/List/List.js
  packages/graphiql/src/new-components/List/index.tsx
  packages/graphiql/src/new-components/Toolbar/Content.js
  packages/graphiql/src/new-components/Toolbar/Content.tsx
  packages/graphiql/src/new-components/themes/decorators.js
  packages/graphiql/src/new-components/themes/decorators.tsx
Due: graphiql

chore: finally renamed js files to tsx ones
  packages/graphiql/src/new-components/List/index.tsx
  packages/graphiql/src/new-components/Toolbar/Content.tsx
  packages/graphiql/src/new-components/themes/decorators.tsx
Due: graphiql

chore: add agenda for tomorrow
  working-group/agendas/2020-04-14.md
Due: none

Added attendee for working group.
  working-group/agendas/2020-04-14.md
Due: none

chore: added myself as attendee
  working-group/agendas/2020-04-14.md
Due: none

chore: added myself as attendee (#1492)
  working-group/agendas/2020-04-14.md
Due: none

chore: added attendee for working group. (#1491)
  working-group/agendas/2020-04-14.md
Due: none

chore: converted new-components to typescript (#1483)
  .gitignore
  package.json
  packages/graphiql/.storybook/config.js
  packages/graphiql/.storybook/main.js
  packages/graphiql/package.json
  packages/graphiql/src/new-components/Layout.stories.tsx
  packages/graphiql/src/new-components/List/List.js
  packages/graphiql/src/new-components/List/List.stories.tsx
  packages/graphiql/src/new-components/List/index.tsx
  packages/graphiql/src/new-components/Nav.tsx
  packages/graphiql/src/new-components/Toolbar/Content.js
  packages/graphiql/src/new-components/Toolbar/Content.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.stories.tsx
  packages/graphiql/src/new-components/Toolbar/Tabs.tsx
  packages/graphiql/src/new-components/Toolbar/Toolbar.stories.tsx
  packages/graphiql/src/new-components/Toolbar/index.tsx
  packages/graphiql/src/new-components/Toolbar/support/WithDividers.tsx
  packages/graphiql/src/new-components/Type.stories.tsx
  packages/graphiql/src/new-components/Type.tsx
  packages/graphiql/src/new-components/themes/constants.js
  packages/graphiql/src/new-components/themes/decorators.js
  packages/graphiql/src/new-components/themes/decorators.tsx
  packages/graphiql/src/new-components/themes/default/Layout.tsx
  packages/graphiql/src/new-components/themes/default/index.ts
  packages/graphiql/src/new-components/themes/provider.tsx
  packages/graphiql/src/new-components/themes/types.ts
  packages/graphiql/src/types.ts
  packages/graphiql/tsconfig.json
  yarn.lock
Due: graphiql

improvement: don't trap these other schema loading errors
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
Due: graphql-language-service-interface

improvement: don't trap these other schema loading errors (#1494)
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
Due: graphql-language-service-interface

Add Benjie to April WG
  working-group/agendas/2020-04-14.md
Due: none

Add Ryan Walker to 2020-04-14 attendees
  working-group/agendas/2020-04-14.md
Due: none

Add Ryan Walker to 2020-04-14 attendees (#1496)
  working-group/agendas/2020-04-14.md
Due: none

Add Benjie to April WG (#1495)
  working-group/agendas/2020-04-14.md
Due: none
