Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

Remove unnecessary non-null asssertions
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

Extract the parseVueSFC's return type
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

Add tests
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
Due: graphql-language-service, graphql-language-service-server

Rename inner 'result' to 'parseVueSFCResult'
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

Add a test for JSX in SFC
  packages/graphql-language-service-server/src/__tests__/findGraphQLTags-test.ts
Due: graphql-language-service, graphql-language-service-server

refactor: extract create diagnostics
  packages/graphql-language-service-server/src/WorkspaceMessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

pre release for lsp
  .changeset/pre.json
Due: none

pre release for lsp (#2610)
  .changeset/pre.json
Due: none

fix changeset for LSP ecosystem
  .changeset/thick-years-sort.md
Due: none

updates package.json
  packages/graphiql-react/package.json
Due: none

fix changeset for LSP ecosystem (#2611)
  .changeset/thick-years-sort.md
Due: none

adds functions for injecting and processing our initial 7 token values
  packages/graphiql-react/src/theme.ts
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

more work on the readme, bump version
  packages/vscode-graphql-syntax/README.md
  packages/vscode-graphql-syntax/package.json
Due: none

renames css custom properties
  packages/graphiql-react/src/editor/style/auto-insertion.css
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/editor/style/fold.css
  packages/graphiql-react/src/editor/style/hint.css
  packages/graphiql-react/src/editor/style/lint.css
  packages/graphiql-react/src/explorer/components/argument.css
  packages/graphiql-react/src/explorer/components/default-value.css
  packages/graphiql-react/src/explorer/components/deprecation-reason.css
  packages/graphiql-react/src/explorer/components/directive.css
  packages/graphiql-react/src/explorer/components/doc-explorer.css
  packages/graphiql-react/src/explorer/components/field-link.css
  packages/graphiql-react/src/explorer/components/schema-documentation.css
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/explorer/components/type-documentation.css
  packages/graphiql-react/src/explorer/components/type-link.css
  packages/graphiql-react/src/history/style.css
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/theme.ts
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/dialog.css
  packages/graphiql-react/src/ui/markdown.css
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

Revert "feat: support vscode multi-root workspaces (#2594)"
  .changeset/thick-years-sort.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/WorkspaceMessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

Revert "feat: support vscode multi-root workspaces (#2594)" (#2612)
  .changeset/thick-years-sort.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/WorkspaceMessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

Remove pre-release state
  .changeset/pre.json
Due: none

Remove pre-release state (#2614)
  .changeset/pre.json
Due: none

move vscode grammars, basic language support to standalone syntax extension (#2573)
  .changeset/lovely-dancers-complain.md
  .gitignore
  custom-words.txt
  packages/graphiql-react/LICENSE
  packages/graphiql-toolkit/LICENSE
  packages/vscode-graphql-syntax/LICENSE
  packages/vscode-graphql-syntax/README.md
  packages/vscode-graphql-syntax/assets/images/logo.png
  packages/vscode-graphql-syntax/grammars/graphql.js.json
  packages/vscode-graphql-syntax/grammars/graphql.json
  packages/vscode-graphql-syntax/grammars/graphql.markdown.codeblock.json
  packages/vscode-graphql-syntax/grammars/graphql.php.json
  packages/vscode-graphql-syntax/grammars/graphql.python.json
  packages/vscode-graphql-syntax/grammars/graphql.re.json
  packages/vscode-graphql-syntax/grammars/graphql.rescript.json
  packages/vscode-graphql-syntax/language/language-configuration.json
  packages/vscode-graphql-syntax/package.json
  packages/vscode-graphql/README.md
  packages/vscode-graphql/package.json
  packages/vscode-graphql/snippets/graphql.json
Due: none

edit changelog entry for syntax extension release
  .changeset/lovely-dancers-complain.md
Due: none

edit changelog entry for syntax extension release (#2615)
  .changeset/lovely-dancers-complain.md
Due: none

Version Packages (#2603)
  .changeset/lovely-dancers-complain.md
  packages/vscode-graphql-syntax/CHANGELOG.md
  packages/vscode-graphql-syntax/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: none

manually re-trigger introspection
  .changeset/shy-parents-bow.md
  .changeset/wild-rings-leave.md
  packages/graphiql-react/src/schema.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/TypeDoc.spec.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/vscode-graphql-syntax/CHANGELOG.md
Due: graphiql

set default background color for editors (#2528)
  .changeset/serious-actors-accept.md
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/style.css
Due: graphiql

implement footer in new design (#2540)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

set default background colors via css variables (#2530)
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

move editor styles to `@graphiql/react` (#2532)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql/src/style.css
Due: graphiql

add caller argument to editor hooks (#2538)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

[redesign] layout for editor components (#2515)
  .changeset/long-gorillas-act.md
  .changeset/nice-garlics-help.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/icons/chevron-down.svg
  packages/graphiql-react/src/icons/chevron-up.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

refresh editor after hiding (#2537)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

[redesign] add dark mode (#2596)
  .changeset/five-pillows-fail.md
  .changeset/ninety-pumpkins-reflect.md
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/theme.ts
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/ui/button-group.css
  packages/graphiql-react/src/ui/button-group.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

move tab components to `@graphiql/react` (#2591)
  .changeset/five-pillows-fail.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add `Search` component to `@graphiql/react` (#2586)
  .changeset/five-pillows-fail.md
  custom-words.txt
  packages/graphiql-react/package.json
  packages/graphiql-react/src/explorer/components/__tests__/test-utils.ts
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/explorer/components/search.tsx
  packages/graphiql-react/src/explorer/components/type-link.tsx
  packages/graphiql-react/src/explorer/components/utils.tsx
  packages/graphiql-react/src/explorer/context.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/magnifying-glass.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/SearchBox.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  yarn.lock
Due: graphiql

increment versions from release
  .changeset/pre.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
Due: graphiql

fix opening doc explorer when clicking references (#2578)
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

[redesign] implement new design for history plugin (#2571)
  .changeset/fifty-elephants-divide.md
  .changeset/fluffy-pianos-mix.md
  .changeset/mean-chefs-happen.md
  babel.config.js
  packages/graphiql-react/jest.config.js
  packages/graphiql-react/mocks/svg.js
  packages/graphiql-react/package.json
  packages/graphiql-react/src/history/__tests__/components.spec.tsx
  packages/graphiql-react/src/history/components.tsx
  packages/graphiql-react/src/history/hooks.ts
  packages/graphiql-react/src/history/index.ts
  packages/graphiql-react/src/history/style.css
  packages/graphiql-react/src/icons/close.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/pen.svg
  packages/graphiql-react/src/icons/star-filled.svg
  packages/graphiql-react/src/icons/star.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/cypress/integration/lint.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/components/__tests__/QueryHistory.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/css/history.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] implement new design for tabs (#2592)
  .changeset/five-pillows-fail.md
  .changeset/spotty-fans-lie.md
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/plus.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/tabs.css
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql-react/src/utility/compose.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] implement new toolbar design (#2524)
  .changeset/real-waves-enjoy.md
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql-react/src/icons/copy.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/merge.svg
  packages/graphiql-react/src/icons/play.svg
  packages/graphiql-react/src/icons/prettify.svg
  packages/graphiql-react/src/icons/stop.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/button.tsx
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/toolbar/index.ts
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarGroup.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql
