Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

remove variables from react state and get them from editor state
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

mock useVariableEditor and mock editor getter and setter
  packages/graphiql/__mocks__/@graphiql/react.ts
Due: graphiql

add changeset
  .changeset/kind-dolphins-drop.md
Due: none

add `useVariableEditor` hook to `@graphiql/react` (#2409)
  .changeset/kind-dolphins-drop.md
  packages/graphiql-react/src/editor/completion.ts
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/hooks.ts
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql

add useResultEditor to @graphiql/react
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/result-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/types.ts
  packages/graphiql/src/utility/CodeMirrorSizer.ts
  packages/graphiql/src/utility/commonKeys.ts
  packages/graphiql/src/utility/importCodeMirror.ts
Due: graphiql

rename result-editor to response-editor
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ResultViewer.tsx
Due: graphiql

refactor image preview
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ImagePreview.tsx
  packages/graphiql/src/components/ResultViewer.tsx
Due: graphiql

move ImagePreview to @graphiql/react
  packages/graphiql-react/src/editor/components/image-preview.tsx
  packages/graphiql-react/src/editor/components/index.ts
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql/src/components/ResultViewer.tsx
Due: graphiql

add changeset
  .changeset/olive-seals-shake.md
Due: none

mock useResponseEditor in tests
  packages/graphiql/__mocks__/@graphiql/react.ts
Due: graphiql

avoid using refs in e2e tests
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/support/commands.ts
Due: graphiql

clean up image preview state
  packages/graphiql-react/src/editor/components/image-preview.tsx
Due: none

move test file to @graphiql/react
  packages/graphiql-react/src/editor/__tests__/common.spec.ts
Due: none

add `useResponseEditor` hook to `@graphiql/react` (#2411)
  .changeset/olive-seals-shake.md
  packages/graphiql-react/src/editor/__tests__/common.spec.ts
  packages/graphiql-react/src/editor/components/image-preview.tsx
  packages/graphiql-react/src/editor/components/index.ts
  packages/graphiql-react/src/editor/context.tsx
  packages/graphiql-react/src/editor/index.ts
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ImagePreview.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/types.ts
  packages/graphiql/src/utility/CodeMirrorSizer.ts
  packages/graphiql/src/utility/commonKeys.ts
  packages/graphiql/src/utility/importCodeMirror.ts
Due: graphiql

move QueryStore to @graphiql/toolkit
  .changeset/curvy-news-pull.md
  packages/graphiql-toolkit/src/storage/__tests__/query.spec.ts
  packages/graphiql-toolkit/src/storage/index.ts
  packages/graphiql-toolkit/src/storage/query.ts
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/utility/HistoryStore.ts
Due: graphiql

move storage api to toolkit
  .changeset/strong-olives-beg.md
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/storage/__tests__/base.spec.ts
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql-toolkit/src/storage/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/index.ts
  packages/graphiql/src/utility/HistoryStore.ts
  packages/graphiql/src/utility/QueryStore.ts
Due: graphiql

move HistoryStore to @graphiql/toolkit
  .changeset/friendly-cougars-divide.md
  packages/graphiql-toolkit/src/storage/history.ts
  packages/graphiql-toolkit/src/storage/index.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/QueryHistory.tsx
Due: graphiql

move storage classes to toolkit (#2412)
  .changeset/curvy-news-pull.md
  .changeset/friendly-cougars-divide.md
  .changeset/strong-olives-beg.md
  packages/graphiql-toolkit/src/index.ts
  packages/graphiql-toolkit/src/storage/__tests__/base.spec.ts
  packages/graphiql-toolkit/src/storage/__tests__/query.spec.ts
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql-toolkit/src/storage/history.ts
  packages/graphiql-toolkit/src/storage/index.ts
  packages/graphiql-toolkit/src/storage/query.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/index.ts
Due: graphiql

fix persisting headers in tab state
  .changeset/witty-papayas-remain.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix vscode release, trigger characters for lsp
  .changeset/nine-schools-cross.md
  examples/monaco-graphql-react-vite/package.json
  package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

fix persisting headers in tab state (#2418)
  .changeset/witty-papayas-remain.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: use || instead of | in peerDependencies
  packages/graphiql-react/package.json
Due: none

add changeset
  .changeset/lovely-onions-rhyme.md
Due: none

format changelog
  packages/graphiql-react/CHANGELOG.md
Due: none

fix: use || instead of | in peerDependencies (#2423)
  .changeset/lovely-onions-rhyme.md
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
Due: none

Version Packages (#2424)
  .changeset/lovely-onions-rhyme.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

remove erroneously re-added package.json files from #2208
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/package.json
Due: graphql-language-service

cleanup - token usage in actions
  .github/workflows/canary.yml
  .github/workflows/release.yml
  yarn.lock
Due: none

fix linting in query editor
  .changeset/olive-cooks-juggle.md
  .changeset/orange-clocks-march.md
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/vite.config.ts
Due: none

add e2e test suite for query and variable linting
  packages/graphiql/cypress/integration/lint.spec.ts
  packages/graphiql/cypress/support/commands.ts
Due: graphiql

fix error message assertion based on GraphQL version
  packages/graphiql/cypress/integration/lint.spec.ts
Due: graphiql

fix linting in query and variable editor (#2427)
  .changeset/olive-cooks-juggle.md
  .changeset/orange-clocks-march.md
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
  packages/graphiql-react/vite.config.ts
  packages/graphiql/cypress/integration/lint.spec.ts
  packages/graphiql/cypress/support/commands.ts
Due: graphiql

build all the things when running yarn build:watch
  DEVELOPMENT.md
  package.json
  packages/graphiql-react/package.json
Due: none

Version Packages (#2430)
  .changeset/olive-cooks-juggle.md
  .changeset/orange-clocks-march.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
Due: graphiql

allow creating noop StorageAPI instances
  .changeset/gold-zebras-agree.md
  packages/graphiql-toolkit/src/storage/base.ts
Due: none

avoid re-setting state after initial render
  packages/graphiql-react/src/storage.tsx
Due: none
