Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

cleanup, re-enable graphql-js workaround bc of failing test
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/editors.ts
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/style.css
  packages/graphql-language-service-utils/src/__tests__/getVariablesJSONSchema.spec.ts
  packages/graphql-language-service-utils/src/collectVariables.ts
  packages/graphql-language-service-utils/src/getOperationFacts.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/schemaLoader.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: graphql-language-service-utils

chore: cleanup, revert unneeded changes
  examples/monaco-graphql-webpack/src/style.css
  packages/graphql-language-service-interface/src/getHoverInformation.ts
  packages/monaco-graphql/src/graphql.worker.ts
Due: graphql-language-service-interface

chore: cleanup, add tests
  .changeset/shiny-starfishes-reflect.md
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/tsconfig.json
  packages/graphiql-toolkit/src/getOperationFacts.ts
  packages/graphiql/src/utility/getQueryFacts.ts
  packages/graphql-language-service-utils/src/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service-utils/src/__tests__/collectVariables.spec.ts
  packages/graphql-language-service-utils/src/__tests__/getVariablesJSONSchema.spec.ts
  packages/graphql-language-service-utils/src/collectVariables.ts
  packages/graphql-language-service/tsconfig.esm.json
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/workerManager.ts
  packages/monaco-graphql/tsconfig.esm.json
  packages/monaco-graphql/tsconfig.json
Due: graphiql, graphql-language-service-utils

feat: allow passing json diagnostic settings
  examples/monaco-graphql-webpack/src/editors.ts
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/style.css
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/typings/index.ts
Due: none

feat: simplify, schemas w/ fileMatch ala jsonSchema
  examples/monaco-graphql-webpack/src/index.ts
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/schemaLoader.ts
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: none

chore: remove unused methods
  packages/graphiql/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/src/graphqlMode.ts
Due: graphiql

simplify worker usage, fix worker creation
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/schema.ts
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service-utils/src/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service-utils/src/__tests__/getVariablesJSONSchema.spec.ts
  packages/graphql-language-service-utils/src/fillLeafs.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service-utils/src/validateWithCustomRules.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/graphqlMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/utils.ts
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

chore: improve tests, revert feature for later
  jest.config.base.js
  packages/codemirror-graphql/src/__tests__/testSchema.ts
  packages/graphiql/src/utility/fillLeafs.ts
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-utils/src/__tests__/__schema__/StarWarsSchema.graphql
  packages/graphql-language-service-utils/src/__tests__/getVariablesJSONSchema.spec.ts
  packages/graphql-language-service-utils/src/fillLeafs.ts
  packages/graphql-language-service-utils/src/fragmentDependencies.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/monaco-graphql/src/init.ts
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

more docs, validationrules, cleanup
  .changeset/shiny-starfishes-reflect.md
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/webpack.config.js
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-types/src/index.ts
  packages/graphql-language-service-utils/src/index.ts
  packages/graphql-language-service/src/LanguageService.ts
  packages/graphql-language-service/src/schemaLoader.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/api.ts
  packages/monaco-graphql/src/init.ts
  packages/monaco-graphql/src/initializeMode.ts
  packages/monaco-graphql/src/languageFeatures.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/typings/index.ts
  packages/monaco-graphql/src/workerManager.ts
Due: graphql-language-service-interface, graphql-language-service-utils

a few tiny fixes for monaco-graphql
  .changeset/shiny-starfishes-reflect.md
  .github/workflows/deploy.yml
  examples/monaco-graphql-webpack/package.json
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  yarn.lock
Due: none

a few tiny fixes for monaco-graphql (#2082)
  .changeset/shiny-starfishes-reflect.md
  .github/workflows/deploy.yml
  examples/monaco-graphql-webpack/package.json
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  yarn.lock
Due: none

fix: setup pre-release for monaco
  .changeset/pre.json
Due: none

fix: setup pre-release for monaco (#2083)
  .changeset/pre.json
Due: none

Reverting pre config
  .changeset/pre.json
Due: none

Reverting pre config (#2084)
  .changeset/pre.json
Due: none

Enable in vue files
  README.md
  src/extension.ts
  src/status/index.ts
Due: none

0.3.34
  package-lock.json
  package.json
Due: none

explicitly export everything from lang service
  .changeset/lazy-plums-speak.md
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/types/index.ts
Due: none

fix: graphiql introspection bug with <graphql@16 servers
  .changeset/silver-trainers-double.md
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/introspectionQueries.ts
Due: graphiql

fix: graphiql introspection bug with <graphql@16 servers (#2087)
  .changeset/silver-trainers-double.md
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/introspectionQueries.ts
Due: graphiql

fix: export types & modules from `graphql-language-service` explicitly (#2086)
  .changeset/lazy-plums-speak.md
  packages/graphql-language-service/src/index.ts
  packages/graphql-language-service/src/types/index.ts
Due: none

fix: graphql 15 fixes, feature flags, tests
  .changeset/small-bats-fix.md
  .github/workflows/pr-graphql-15-check.yml
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  resources/buildJs.js
  resources/publishCleanup.ts
  scripts/buildFlow.js
  scripts/prepublish.sh
  scripts/pretty.js
  scripts/renameFileExtensions.js
  scripts/set-resolution.js
  scripts/util.js
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: graphql 15 fixes, feature flags, tests (#2091)
  .changeset/small-bats-fix.md
  .github/workflows/pr-graphql-15-check.yml
  package.json
  packages/codemirror-graphql/package.json
  packages/codemirror-graphql/src/__tests__/hint-test.ts
  packages/graphiql/cypress/integration/incrementalDelivery.spec.ts
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/prettify.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphql-language-service-interface/src/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-utils/src/getVariablesJSONSchema.ts
  resources/buildJs.js
  resources/publishCleanup.ts
  scripts/buildFlow.js
  scripts/prepublish.sh
  scripts/pretty.js
  scripts/renameFileExtensions.js
  scripts/set-resolution.js
  scripts/util.js
  yarn.lock
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix: export LANGUAGE_ID
  .changeset/moody-moles-do.md
  packages/monaco-graphql/src/monaco.contribution.ts
Due: none

export LANGUAGE_ID (#2093)
  .changeset/moody-moles-do.md
  packages/monaco-graphql/src/monaco.contribution.ts
Due: none

fix: changesets action version
  .github/workflows/release.yml
Due: none

fix: changesets action version (#2096)
  .github/workflows/release.yml
Due: none

add codesandbox and stackblitz examples
  README.md
Due: none

chore(deps): update dependency @types/ws to v8.2.2
  package-lock.json
  package.json
Due: none

0.3.35
  package-lock.json
  package.json
Due: none

fix: disable schema documentation by default, props docs
  .changeset/rude-chicken-count.md
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: disable schema documentation by default, props docs (#2097)
  .changeset/rude-chicken-count.md
  packages/graphiql/README.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore(deps): update dependency @types/node to v16.11.12
  package-lock.json
  package.json
Due: none

0.3.36
  package-lock.json
  package.json
Due: none

chore: check the ecosystem packages frequently
  renovate.json
Due: none

0.3.37
  package-lock.json
  package.json
Due: none

fix: escape response html
  package-lock.json
  package.json
  src/client/graphql-content-provider.ts
Due: none

0.3.38
  package-lock.json
  package.json
Due: none

chore: upgrade the language server
  package-lock.json
  package.json
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
