Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

add prerelease versions
  .changeset/pre.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
Due: graphiql

implement footer in new design (#2540)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

set default background colors via css variables (#2530)
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

[redesign] implement new toolbar design (#2524)
  .changeset/real-waves-enjoy.md
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql-react/src/icons/copy.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/merge.svg
  packages/graphiql-react/src/icons/play.svg
  packages/graphiql-react/src/icons/prettify.svg
  packages/graphiql-react/src/icons/stop.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/button.tsx
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/toolbar/index.ts
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarGroup.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

add caller argument to editor hooks (#2538)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

extract loading spinner to `@graphiql/react` (#2581)
  .changeset/smooth-countries-shout.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/spinner.css
  packages/graphiql-react/src/ui/spinner.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

add `Search` component to `@graphiql/react` (#2586)
  .changeset/five-pillows-fail.md
  custom-words.txt
  packages/graphiql-react/package.json
  packages/graphiql-react/src/explorer/components/__tests__/test-utils.ts
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/explorer/components/search.tsx
  packages/graphiql-react/src/explorer/components/type-link.tsx
  packages/graphiql-react/src/explorer/components/utils.tsx
  packages/graphiql-react/src/explorer/context.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/magnifying-glass.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/DocExplorer/SearchBox.tsx
  packages/graphiql/src/components/DocExplorer/SearchResults.tsx
  yarn.lock
Due: graphiql

[redesign] docs (#2588)
  .changeset/five-pillows-fail.md
  .changeset/red-zoos-divide.md
  packages/graphiql-react/src/explorer/components/__tests__/doc-explorer.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/example-schema.ts
  packages/graphiql-react/src/explorer/components/__tests__/field-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/type-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/deprecation-reason.css
  packages/graphiql-react/src/explorer/components/deprecation-reason.tsx
  packages/graphiql-react/src/explorer/components/doc-explorer.css
  packages/graphiql-react/src/explorer/components/doc-explorer.tsx
  packages/graphiql-react/src/explorer/components/field-documentation.tsx
  packages/graphiql-react/src/explorer/components/schema-documentation.css
  packages/graphiql-react/src/explorer/components/schema-documentation.tsx
  packages/graphiql-react/src/explorer/components/section.css
  packages/graphiql-react/src/explorer/components/section.tsx
  packages/graphiql-react/src/explorer/components/type-documentation.css
  packages/graphiql-react/src/explorer/components/type-documentation.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/icons/argument.svg
  packages/graphiql-react/src/icons/chevron-left.svg
  packages/graphiql-react/src/icons/deprecated-argument.svg
  packages/graphiql-react/src/icons/deprecated-enum-value.svg
  packages/graphiql-react/src/icons/deprecated-field.svg
  packages/graphiql-react/src/icons/directive.svg
  packages/graphiql-react/src/icons/enum-value.svg
  packages/graphiql-react/src/icons/field.svg
  packages/graphiql-react/src/icons/implements.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/root-type.svg
  packages/graphiql-react/src/icons/type.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/style.css
Due: graphiql

move remaining doc explorer component to `@graphiql/react` (#2587)
  .changeset/five-pillows-fail.md
  .changeset/red-zoos-divide.md
  packages/graphiql-react/src/explorer/components/__tests__/doc-explorer.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/example-schema.ts
  packages/graphiql-react/src/explorer/components/__tests__/field-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/__tests__/type-documentation.spec.tsx
  packages/graphiql-react/src/explorer/components/doc-explorer.tsx
  packages/graphiql-react/src/explorer/components/field-documentation.tsx
  packages/graphiql-react/src/explorer/components/schema-documentation.tsx
  packages/graphiql-react/src/explorer/components/type-documentation.tsx
  packages/graphiql-react/src/explorer/index.ts
  packages/graphiql-react/src/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/DocExplorer/__tests__/test-utils.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/index.tsx
Due: graphiql

move tab components to `@graphiql/react`
  .changeset/five-pillows-fail.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Proposing @jonathanawesome as a maintainer
  README.md
Due: none

move tab components to `@graphiql/react` (#2591)
  .changeset/five-pillows-fail.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add back `tab` role
  packages/graphiql-react/src/ui/tabs.tsx
Due: none

implement new design for tabs
  .changeset/five-pillows-fail.md
  .changeset/spotty-fans-lie.md
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/plus.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/tabs.css
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql-react/src/utility/compose.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

add changeset
  .changeset/thick-years-sort.md
Due: none

[redesign] implement new design for tabs (#2592)
  .changeset/five-pillows-fail.md
  .changeset/spotty-fans-lie.md
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/plus.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/tabs.css
  packages/graphiql-react/src/ui/tabs.tsx
  packages/graphiql-react/src/utility/compose.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

increment versions from release
  .changeset/pre.json
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-react-vite/package.json
  packages/codemirror-graphql/package.json
  packages/graphiql-react/package.json
  packages/graphiql-toolkit/package.json
  packages/graphiql/package.json
Due: graphiql

make sure to show dialog above editor scrollbars
  packages/graphiql-react/src/ui/dialog.css
Due: none

add `Dialog` component to `@graphiql/react`
  .changeset/five-pillows-fail.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/dialog.css
  packages/graphiql-react/src/ui/dialog.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  yarn.lock
Due: graphiql

add settings dialog
  packages/graphiql-react/src/style/root.css
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

add a `clear` method to the `Storage` type
  .changeset/tender-impalas-provide.md
  packages/graphiql-toolkit/src/storage/base.ts
Due: none

add success and failure states to `Button` component
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
Due: none

[redesign] add settings dialog (#2595)
  .changeset/five-pillows-fail.md
  .changeset/tender-impalas-provide.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/dialog.css
  packages/graphiql-react/src/ui/dialog.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-toolkit/src/storage/base.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

dark mode
  .changeset/ninety-pumpkins-reflect.md
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/theme.ts
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

add `ButtonGroup` component to `@graphiql/react`
  .changeset/five-pillows-fail.md
  packages/graphiql-react/src/ui/button-group.css
  packages/graphiql-react/src/ui/button-group.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
Due: graphiql

[redesign] add dark mode (#2596)
  .changeset/five-pillows-fail.md
  .changeset/ninety-pumpkins-reflect.md
  packages/graphiql-react/src/explorer/components/search.css
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/theme.ts
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/ui/button-group.css
  packages/graphiql-react/src/ui/button-group.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

Proposing @jonathanawesome as a maintainer (#2597)
  README.md
Due: none

fix: language server duplication
  packages/vscode-graphql/src/extension.ts
Due: none

add back styles for editor search
  packages/graphiql-react/src/editor/style/codemirror.css
Due: none

add back styles for editor search (#2599)
  packages/graphiql-react/src/editor/style/codemirror.css
Due: none

feat: use single server
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/extension.ts
Due: graphql-language-service, graphql-language-service-server

refactor: separate WorkspaceMessageProcessor
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/WorkspaceMessageProcessor.ts
Due: graphql-language-service, graphql-language-service-server

fix: tests
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
Due: graphql-language-service, graphql-language-service-server

feat: support vscode multi-root workspaces (#2594)
  .changeset/thick-years-sort.md
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/WorkspaceMessageProcessor.ts
  packages/graphql-language-service-server/src/__tests__/MessageProcessor-test.ts
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

move vscode grammars, basic language support and snippets to graphql syntax extension.
  .changeset/lovely-dancers-complain.md
  .gitignore
  packages/graphiql-react/LICENSE
  packages/graphiql-toolkit/LICENSE
  packages/vscode-graphql-syntax/LICENSE
  packages/vscode-graphql-syntax/README.md
  packages/vscode-graphql-syntax/grammars/graphql.js.json
  packages/vscode-graphql-syntax/grammars/graphql.json
  packages/vscode-graphql-syntax/grammars/graphql.markdown.codeblock.json
  packages/vscode-graphql-syntax/grammars/graphql.php.json
  packages/vscode-graphql-syntax/grammars/graphql.python.json
  packages/vscode-graphql-syntax/grammars/graphql.re.json
  packages/vscode-graphql-syntax/grammars/graphql.rescript.json
  packages/vscode-graphql-syntax/language/language-configuration.json
  packages/vscode-graphql-syntax/package.json
  packages/vscode-graphql-syntax/snippets/graphql.json
  packages/vscode-graphql/package.json
Due: none

Add license
  custom-words.txt
  packages/vscode-graphql-syntax/README.md
  packages/vscode-graphql-syntax/package.json
  packages/vscode-graphql-syntax/snippets/graphql.json
  packages/vscode-graphql/README.md
  packages/vscode-graphql/package.json
Due: none

move snippets back
  packages/vscode-graphql-syntax/assets/images/logo.png
  packages/vscode-graphql-syntax/package.json
  packages/vscode-graphql/package.json
  packages/vscode-graphql/snippets/graphql.json
Due: none

feat: provide intellisense for Vue SFC files
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/findGraphQLTags.ts
  packages/graphql-language-service-server/src/parseDocument.ts
  packages/vscode-graphql/esbuild.js
  packages/vscode-graphql/src/apis/statusBar.ts
  packages/vscode-graphql/src/extension.ts
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

Remove console.log
  packages/graphql-language-service-server/src/findGraphQLTags.ts
Due: graphql-language-service, graphql-language-service-server

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service: any of: packages/graphql-language-service
  graphql-language-service-server: any of: packages/graphql-language-service-server
