Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix(grammar): end in graphql-variable-assignment
  grammars/graphql.json
Due: none

improvement: improve types for monaco-graphql
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
Due: none

improvement: cleaner types for monaco-graphql (#1549)
  examples/monaco-graphql-webpack/src/index.ts
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/typings/monaco.d.ts
Due: none

feat: set schema statically
  .npmignore
  examples/monaco-graphql-webpack/src/types.d.ts
  packages/graphiql/src/components/common/__tests__/__snapshots__/stories.spec.ts.snap
  packages/graphiql/src/components/common/__tests__/stories.spec.ts
  packages/graphql-language-service/README.md
  packages/graphql-language-service/src/LanguageService.ts
  packages/monaco-graphql/README.md
  packages/monaco-graphql/package.json
  packages/monaco-graphql/src/GraphQLWorker.ts
  packages/monaco-graphql/src/defaults.ts
  packages/monaco-graphql/src/monaco.contribution.ts
  packages/monaco-graphql/src/monaco.d.ts
  packages/monaco-graphql/src/typings/refs.d.ts
  packages/monaco-graphql/src/workerManager.ts
Due: graphiql

feat: Introduce Query Params
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/VariableEditor.tsx
Due: graphiql

chore: fix storybook and graphiql namespace
  babel.config.js
  jest.config.js
  package.json
  packages/graphiql/.storybook/babel.config.js
  packages/graphiql/src/api/providers/__tests__/GraphiQLSchemaProvider.spec.tsx
  packages/graphiql/src/components/common/__tests__/stories.spec.js
Due: graphiql

docs: version notices for the GraphiQL readme
  packages/graphiql/README.md
Due: graphiql

docs: version notices for the GraphiQL readme (#1554)
  packages/graphiql/README.md
Due: graphiql

chore: fix monaco types for SchemaConfig
  packages/monaco-graphql/src/typings/monaco.d.ts
Due: none

chore: fix monaco types for SchemaConfig (#1555)
  packages/monaco-graphql/src/typings/monaco.d.ts
Due: none

fix: Safe setState (#1547)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Readme: remove copy/paste artifact
  README.md
Due: none

docs: remove copy/paste artifact (#1556)
  README.md
Due: none

fix: change the second argument to opts so it can be expanded later
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: headers needs to actually be defined
  packages/graphiql/resources/renderExample.js
Due: graphiql

improvement: change the active/inactive tabs to grey and black
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: pass the headers as part of an object
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

improvement: set the enableHeaderEditor prop to false by default
  packages/graphiql/README.md
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

feat: Add Headers Editor to GraphiQL (#1543)
  packages/graphiql/README.md
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/HistoryQuery.tsx
  packages/graphiql/src/components/QueryHistory.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/components/__tests__/HistoryQuery.spec.tsx
  packages/graphiql/src/components/__tests__/fixtures.ts
  packages/graphiql/src/css/app.css
  packages/graphiql/src/utility/QueryStore.ts
Due: graphiql

chore(release): publish
  examples/graphiql-create-react-app/CHANGELOG.md
  examples/graphiql-create-react-app/package.json
  examples/graphiql-parcel/CHANGELOG.md
  examples/graphiql-parcel/package.json
  examples/graphiql-webpack/CHANGELOG.md
  examples/graphiql-webpack/package.json
  examples/monaco-graphql-webpack/CHANGELOG.md
  examples/monaco-graphql-webpack/package.json
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

improvement: always target es5 except for node
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-cli/tsconfig.esm.json
  packages/graphql-language-service-cli/tsconfig.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/tsconfig.esm.json
  packages/graphql-language-service-server/tsconfig.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
  resources/tsconfig.base.cjs.json
  resources/tsconfig.base.esm.json
Due: graphiql, graphql-language-service-interface

fix: ignore tsbuild cache to reduce npm size
  .npmignore
Due: none

fix: cleanup cache entry from lerna publish
  packages/codemirror-graphql/package.json
  packages/graphiql/package.json
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service/package.json
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface

chore: add storage and its unit tests
  packages/graphiql/src/storage/helper.ts
  packages/graphiql/src/storage/index.ts
  packages/graphiql/src/storage/storage.interface.ts
  packages/graphiql/src/storage/storage.spec.ts
Due: graphiql

Revert "chore: fix storybook and graphiql namespace"
  babel.config.js
  jest.config.js
  package.json
  packages/graphiql/.storybook/babel.config.js
  packages/graphiql/src/api/providers/__tests__/GraphiQLSchemaProvider.spec.tsx
  packages/graphiql/src/components/common/__tests__/stories.spec.js
Due: graphiql

chore: refactor methods to async methods
  packages/graphiql/src/storage/index.ts
  packages/graphiql/src/storage/storage.spec.ts
Due: graphiql

chore: add more features to storage api
  packages/graphiql/src/storage/index.ts
  packages/graphiql/src/storage/storage.spec.ts
Due: graphiql

chore: remove unnecessary useCallbacks while creating context
  packages/graphiql/src/api/providers/GraphiQLEditorsProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
Due: graphiql

chore: remove dispatch from useCallback dependencies
  packages/graphiql/src/api/providers/GraphiQLEditorsProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSchemaProvider.tsx
  packages/graphiql/src/api/providers/GraphiQLSessionProvider.tsx
Due: graphiql

fix: display variable editor when headers are not enabled
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

fix: make list type and non-nullable type available (#902)
  packages/codemirror-graphql/src/__tests__/hint-test.js
  packages/codemirror-graphql/src/__tests__/testSchema.js
  packages/codemirror-graphql/src/hint.js
  packages/graphql-language-service-types/src/index.ts
Due: none

test: fix test cases
  packages/codemirror-graphql/src/__tests__/hint-test.js
Due: none

refactor: remove unused function
  packages/codemirror-graphql/src/__tests__/hint-test.js
Due: none

fix: fix highlightNode xxx in xxx syntax to revert back to simple dot notation for checking of existence
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

test: fix test cases for codemirror-graphql (#1563)
  packages/codemirror-graphql/src/__tests__/hint-test.js
Due: none

fix: updating getDiagnostics.ts to error when node.name===undefined
  packages/graphql-language-service-interface/src/__tests__/getDiagnostics-test.ts
  packages/graphql-language-service-interface/src/getDiagnostics.ts
Due: graphql-language-service-interface

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
