Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

refresh editor after hiding (#2537)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

add caller argument to editor hooks
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

add caller argument to editor hooks (#2538)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/header-editor.tsx
  packages/graphiql-react/src/editor/query-editor.tsx
  packages/graphiql-react/src/editor/response-editor.tsx
  packages/graphiql-react/src/editor/variable-editor.tsx
Due: none

implement footer in new design
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

fix the `onSchemaChange` prop
  .changeset/flat-humans-attend.md
  .changeset/warm-weeks-allow.md
  packages/graphiql-react/src/schema.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix the `onSchemaChange` prop (#2541)
  .changeset/flat-humans-attend.md
  .changeset/warm-weeks-allow.md
  packages/graphiql-react/src/schema.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

implement footer in new design (#2540)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/style.css
Due: graphiql

implement new toolbar design
  .changeset/real-waves-enjoy.md
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql-react/src/icons/copy.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/merge.svg
  packages/graphiql-react/src/icons/play.svg
  packages/graphiql-react/src/icons/prettify.svg
  packages/graphiql-react/src/icons/stop.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/button.tsx
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/toolbar/index.ts
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarGroup.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

add `caller` argument for better errors
  packages/graphiql-react/src/toolbar/execute.tsx
Due: none

[redesign] implement new toolbar design (#2524)
  .changeset/real-waves-enjoy.md
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql-react/src/icons/copy.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/merge.svg
  packages/graphiql-react/src/icons/play.svg
  packages/graphiql-react/src/icons/prettify.svg
  packages/graphiql-react/src/icons/stop.svg
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/toolbar/button.css
  packages/graphiql-react/src/toolbar/button.tsx
  packages/graphiql-react/src/toolbar/execute.css
  packages/graphiql-react/src/toolbar/execute.tsx
  packages/graphiql-react/src/toolbar/index.ts
  packages/graphiql-react/src/ui/dropdown.css
  packages/graphiql-react/src/ui/dropdown.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarGroup.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

add spinner component to `@graphiql/react`
  .changeset/rotten-cars-wait.md
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/ui/spinner.css
  packages/graphiql-react/src/ui/spinner.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/style.css
Due: graphiql

move editor styles to `@graphiql/react` (#2532)
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/response-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/editor.css
  packages/graphiql/src/style.css
Due: graphiql

[redesign] layout for editor components (#2515)
  .changeset/long-gorillas-act.md
  .changeset/nice-garlics-help.md
  packages/graphiql-react/package.json
  packages/graphiql-react/src/editor/components/header-editor.tsx
  packages/graphiql-react/src/editor/components/query-editor.tsx
  packages/graphiql-react/src/editor/components/variable-editor.tsx
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql-react/src/icons/chevron-down.svg
  packages/graphiql-react/src/icons/chevron-up.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/index.ts
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/ui/button.css
  packages/graphiql-react/src/ui/button.tsx
  packages/graphiql-react/src/ui/index.ts
  packages/graphiql-react/src/vite-env.d.ts
  packages/graphiql-react/vite.config.ts
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/cypress/integration/tabs.spec.ts
  packages/graphiql/cypress/support/commands.ts
  packages/graphiql/src/cdn.ts
  packages/graphiql/src/components/DocExplorer.tsx
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/__tests__/DocExplorer.spec.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/style.css
  yarn.lock
Due: graphiql

set default background colors via css variables (#2530)
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/css/app.css
Due: graphiql

set default background color for editors (#2528)
  .changeset/serious-actors-accept.md
  packages/graphiql-react/src/editor/style/codemirror.css
  packages/graphiql/src/style.css
Due: graphiql

implement sidebar in new design
  packages/graphiql-react/src/icons/docs.svg
  packages/graphiql-react/src/icons/history.svg
  packages/graphiql-react/src/icons/index.tsx
  packages/graphiql-react/src/icons/keyboard-shortcut.svg
  packages/graphiql-react/src/icons/settings.svg
  packages/graphiql-react/src/style/root.css
  packages/graphiql-react/src/utility/resize.tsx
  packages/graphiql/__mocks__/@graphiql/react.tsx
  packages/graphiql/cypress/integration/docs.spec.ts
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/ToolbarButton.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/index.tsx
  packages/graphiql/src/style.css
Due: graphiql

fix race condition in test by waiting for search results to appear
  packages/graphiql/cypress/integration/docs.spec.ts
Due: graphiql

fix race condition in test by waiting for search results to appear (#2544)
  packages/graphiql/cypress/integration/docs.spec.ts
Due: graphiql

avoid top-level codemirror imports
  .changeset/tame-owls-wink.md
  packages/graphiql-react/src/editor/common.ts
Due: none

adjust changeset message
  .changeset/tame-owls-wink.md
Due: none

avoid top-level dynamic codemirror imports (#2545)
  .changeset/tame-owls-wink.md
  packages/graphiql-react/src/editor/common.ts
Due: none

Version Packages (#2529)
  .changeset/early-games-pretend.md
  .changeset/flat-humans-attend.md
  .changeset/tame-owls-wink.md
  .changeset/three-rice-matter.md
  .changeset/warm-weeks-allow.md
  examples/graphiql-webpack/package.json
  packages/graphiql-react/CHANGELOG.md
  packages/graphiql-react/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: graphiql, graphql-language-service, graphql-language-service-server

fix cspell config from last release
  custom-words.txt
Due: none

fix cspell config from last release (#2550)
  custom-words.txt
Due: none

Permanently fix cspell + changeset bug
  cspell.json
Due: none

Permanently fix cspell + changeset bug (#2552)
  cspell.json
Due: none

fix the lsp cli for vim users, thanks @xuanduc!
  .changeset/dual-poems-call.md
  custom-words.txt
  packages/graphql-language-service-server/package.json
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

feat: Add support for graphql in python snippets
  packages/vscode-graphql/grammars/graphql.python.json
  packages/vscode-graphql/package.json
Due: none

upgrade vscode-languageserver
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/types.ts
  packages/monaco-graphql/package.json
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

fix cli stderr bug
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/vscode-graphql/src/apis/statusBar.ts
Due: graphql-language-service

upgrade vscode-languageserver (#2557)
  .changeset/chatty-insects-poke.md
  packages/graphql-language-service-cli/src/cli.ts
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  packages/graphql-language-service/package.json
  packages/graphql-language-service/src/interface/__tests__/getAutocompleteSuggestions-test.ts
  packages/graphql-language-service/src/interface/getAutocompleteSuggestions.ts
  packages/graphql-language-service/src/types.ts
  packages/monaco-graphql/package.json
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/apis/statusBar.ts
  packages/vscode-graphql/src/extension.ts
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

chore: Add changeset
  .changeset/green-buses-dance.md
Due: none

Version Packages (#2558)
  .changeset/chatty-insects-poke.md
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/package.json
Due: graphql-language-service, graphql-language-service-server

simplify callback
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql
