Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service-interface:
    paths:
      - packages/graphql-language-service-interface/
  graphql-language-service-utils:
    paths:
      - packages/graphql-language-service-utils/

fix: don't use initial query/headers on re-render
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: dont use initial query on every re-render (#1663)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

chore: clean up examples, remove from toolchain for now
  examples/graphiql-cdn-subscriptions/index.html
  examples/graphiql-cdn-subscriptions/subscriptionsExample.js
  examples/graphiql-cdn/README.md
  examples/graphiql-create-react-app/README.md
  examples/graphiql-parcel/README.md
  examples/graphiql-webpack/README.md
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/package.json
  lerna.json
  package.json
  yarn.lock
Due: none

chore: mismatched dependencies and yarn cleanup
  package.json
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/package.json
  yarn.lock
Due: graphiql

chore(release): publish
  packages/codemirror-graphql/CHANGELOG.md
  packages/codemirror-graphql/package.json
  packages/graphiql-2-rfc-context/CHANGELOG.md
  packages/graphiql-2-rfc-context/package.json
  packages/graphiql/CHANGELOG.md
  packages/graphiql/package.json
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-interface/CHANGELOG.md
  packages/graphql-language-service-interface/package.json
  packages/graphql-language-service-parser/CHANGELOG.md
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-types/CHANGELOG.md
  packages/graphql-language-service-types/package.json
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service-utils/package.json
  packages/graphql-language-service/CHANGELOG.md
  packages/graphql-language-service/package.json
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/package.json
Due: graphiql, graphql-language-service-interface, graphql-language-service-utils

ci: ignore CRA example from root eslint config
  .eslintignore
Due: none

improvement: completion for implicit fragments, LSP settings
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/benchmark/fixtures/github.graphql
  packages/graphql-language-service-parser/benchmark/fixtures/kitchen-sink.graphql
  packages/graphql-language-service-parser/benchmark/index.ts
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-types/src/index.ts
Due: graphql-language-service-interface

improvement: completion for implicit fragments, LSP settings (#1665)
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/__tests__/GraphQLLanguageService-test.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  packages/graphql-language-service-parser/benchmark/fixtures/github.graphql
  packages/graphql-language-service-parser/benchmark/fixtures/kitchen-sink.graphql
  packages/graphql-language-service-parser/benchmark/index.ts
  packages/graphql-language-service-parser/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-types/src/index.ts
Due: graphql-language-service-interface

chore: cleanup, simplify implicit fragment completion API
  packages/graphql-language-service-interface/src/GraphQLLanguageService.ts
  packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts
  yarn.lock
Due: graphql-language-service-interface

improvement: allow new useSchemaFileDefinition LSP setting (#215)
  README.md
  package.json
  src/client/graphql-codelens-provider.ts
  src/extension.ts
Due: none

improvement: associate with graphqls file extension (#211)
  package.json
  src/extension.ts
Due: none

bump package lock
  package-lock.json
Due: none

0.3.3
  package-lock.json
  package.json
Due: none

chore: remove insiders statement for now (#216)
  README.md
Due: none

0.3.4
  package-lock.json
  package.json
Due: none

fix: update cli server instructions for #1645
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-cli/src/cli.ts
Due: none

chore/readme cleanup (#217)
  README.md
Due: none

0.3.5
  package-lock.json
  package.json
Due: none

chore: fix docs example (#220)
  README.md
Due: none

0.3.6
  package-lock.json
  package.json
Due: none

fix: better error handling when the config isn't present
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

fix: better error handling when the config isn't present (#1667)
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

chore: update cli server instructions for #1645 (#1666)
  packages/graphql-language-service-cli/README.md
  packages/graphql-language-service-cli/src/cli.ts
Due: none

chore(release): publish
  packages/graphql-language-service-cli/CHANGELOG.md
  packages/graphql-language-service-cli/package.json
  packages/graphql-language-service-server/CHANGELOG.md
  packages/graphql-language-service-server/package.json
Due: none

fix: re-introduce allowed extensions
  packages/graphql-language-service-server/src/parseDocument.ts
Due: none

fix: re-introduce allowed extensions (#1668)
  packages/graphql-language-service-server/src/parseDocument.ts
Due: none

chore: bump gls server for improvements, add changelog (#221)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

0.3.7
  package-lock.json
  package.json
Due: none

fix: warn with no graphql config, instead of error
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

improvement: dotenv, reload on config changes
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  yarn.lock
Due: none

improvement: dotenv, reload on config changes (#1670)
  packages/graphql-language-service-server/README.md
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/MessageProcessor.ts
  packages/graphql-language-service-server/src/startServer.ts
  yarn.lock
Due: none

improvement: transfer, server dotenv & config reload
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/extension.ts
Due: none

0.3.8
  package-lock.json
  package.json
Due: none

feat: add an opt-in feature to run multiple queries
  packages/graphiql/README.md
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/BatchExecuteButton.tsx
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql
