Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service-interface, graphql-language-service-utils

fix(examples): :bug: Fixed path to css file in index.html
  examples/monaco-graphql-react-vite/index.html
Due: none

chore: run prettier on css files
  examples/monaco-graphql-webpack/src/style.css
  package.json
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/codemirror.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/css/foldgutter.css
  packages/graphiql/src/css/history.css
  packages/graphiql/src/css/info.css
  packages/graphiql/src/css/lint.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/css/show-hint.css
  scripts/pretty.js
Due: graphiql

chore: run prettier on css files (#2196)
  examples/monaco-graphql-webpack/src/style.css
  package.json
  packages/graphiql/src/css/app.css
  packages/graphiql/src/css/codemirror.css
  packages/graphiql/src/css/doc-explorer.css
  packages/graphiql/src/css/foldgutter.css
  packages/graphiql/src/css/history.css
  packages/graphiql/src/css/info.css
  packages/graphiql/src/css/lint.css
  packages/graphiql/src/css/loading.css
  packages/graphiql/src/css/show-hint.css
  scripts/pretty.js
Due: graphiql

feat(examples): :sparkles: Added vue vite example
  examples/monaco-graphql-vue-vite/README.md
  examples/monaco-graphql-vue-vite/index.html
  examples/monaco-graphql-vue-vite/package.json
  examples/monaco-graphql-vue-vite/src/App.vue
  examples/monaco-graphql-vue-vite/src/debounce.ts
  examples/monaco-graphql-vue-vite/src/index.ts
  examples/monaco-graphql-vue-vite/tsconfig.json
  examples/monaco-graphql-vue-vite/vite.config.ts
  examples/monaco-graphql-vue-vite/yarn.lock
Due: none

chore: add wg 8
  working-group/agendas/2022-01-11.md
  working-group/minutes/2022-01-11.md
Due: none

chore: add recording link
  working-group/minutes/2022-01-11.md
Due: none

chore: clean up attendees list
  working-group/agendas/2022-01-11.md
Due: none

chore: add wg 9 agenda
  working-group/agendas/2022-03-08.md
Due: none

Add Working Group 8 agenda and minutes (#2200)
  working-group/agendas/2022-01-11.md
  working-group/minutes/2022-01-11.md
Due: none

chore: add wg 9 agenda (#2201)
  working-group/agendas/2022-03-08.md
Due: none

Add monaco-graphql special wg minutes
  working-group/agendas/2022-22-02-monaco.md
Due: none

Add monaco-graphql special wg minutes (#2203)
  working-group/agendas/2022-22-02-monaco.md
Due: none

fix: should not depend on 'global' global variable (#2155)
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

fix: should not depend on 'global' global variable (#2155)
  .changeset/tasty-pillows-compare.md
Due: none

fix: should not depend on 'global' global variable (#2155) (#2205)
  .changeset/tasty-pillows-compare.md
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

Fix legacy client featcher example code
  packages/graphiql-toolkit/docs/create-fetcher.md
Due: none

Fix legacy client fetcher example code (#2207)
  packages/graphiql-toolkit/docs/create-fetcher.md
Due: none

fix(variable editor): limit height of editor (#2188)
  packages/graphiql/src/css/app.css
Due: graphiql

feat: add command
  package.json
Due: none

fix: intialize => initializeMode
  custom-words.txt
  packages/graphql-language-service-utils/CHANGELOG.md
  packages/graphql-language-service/CHANGELOG.md
  packages/monaco-graphql/CHANGELOG.md
  packages/monaco-graphql/README.md
Due: graphql-language-service-utils

style: remove IE7 CSS star property hack
  packages/graphiql/src/css/codemirror.css
Due: graphiql

style: remove IE7 CSS star property hack
  .changeset/swift-pumpkins-sort.md
  packages/graphiql/src/css/codemirror.css
Due: graphiql

fix: exclude css files from cspell check
  custom-words.txt
  package.json
Due: none

fix: fix Windows fileUri to resolve type definition
  .changeset/rare-roses-give.md
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/graphql-language-service-server/src/MessageProcessor.ts
Due: none

style: remove IE7 CSS star property hack (#2213)
  .changeset/swift-pumpkins-sort.md
  packages/graphiql/src/css/codemirror.css
Due: graphiql

Move static import
  packages/graphiql/src/components/HeaderEditor.tsx
Due: graphiql

Cleaning up README based on GraphQL project voice rules
  README.md
Due: none

trigger editor update externalFragments change
  packages/graphiql/src/components/QueryEditor.tsx
Due: graphiql

add changeset
  .changeset/cold-monkeys-compare.md
Due: none

fixed this binding for parse in monaco-graphql
  .changeset/five-avocados-hammer.md
  packages/monaco-graphql/src/LanguageService.ts
Due: none

update node version matrix
  .github/workflows/pr-tests.yml
Due: none

disable manual netlify actions, use netlify deploy previews
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
Due: none

Path conditions:
  graphiql: any of: packages/graphiql/
  graphql-language-service-interface: any of: packages/graphql-language-service-interface/
  graphql-language-service-utils: any of: packages/graphql-language-service-utils/
