Repository graphql/graphiql: changes, and which Codecov flags are due for each by the changed paths.
All: graphiql, graphql-language-service, graphql-language-service-server

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

coverage:
  precision: 2
  round: down
  range: "30...100"

  status:
    project: no
    patch: no
    changes: no

flags:
  graphiql:
    paths:
      - packages/graphiql/
  graphql-language-service:
    paths:
      - packages/graphql-language-service

  graphql-language-service-server:
    paths:
      - packages/graphql-language-service-server

fix lockfile and imports from LSP merge (#2243)
  .changeset/giant-hats-camp.md
  packages/graphql-language-service-cli/package.json
  yarn.lock
Due: graphql-language-service

build & test working, get the launch task running
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/vscode-graphql/package.json
  packages/vscode-graphql/src/apis/statusBar.ts
  packages/vscode-graphql/src/extension.ts
  packages/vscode-graphql/tsconfig.json
  resources/tsconfig.build.cjs.json
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

default to es6 target for language service, fix #2240
  packages/graphql-language-service/tsconfig.esm.json
Due: graphql-language-service

fix lockfile and imports from LSP merge (#2243)
  .changeset/giant-hats-camp.md
  .changeset/rude-walls-mix.md
  packages/graphql-language-service-cli/package.json
  yarn.lock
Due: graphql-language-service

extratc operation title for tabs
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix: only persist headers if shouldPersistHeaders option is used
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

a11y tweaks, use button for tab, tabs prop optional
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
Due: graphiql

test: simple Tab tests
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

adding changeset
  .changeset/lemon-eagles-knock.md
Due: none

adjust styles
  packages/graphiql/src/css/app.css
Due: graphiql

never persist response
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

make tab feature opt-in
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

feat: tabs
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/css/app.css
Due: graphiql

fix(tabs): fix styling
  packages/graphiql/src/css/app.css
Due: graphiql

fix(tabs): styling adjustments :nail_care:
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/css/app.css
Due: graphiql

feat: onTabChange event
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/guid.ts
  packages/graphiql/src/utility/id-from-tab-contents.ts
Due: graphiql

refactor: move state updates to reducer-like functions
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

refactor: smaller render function
  packages/graphiql/src/components/GraphiQL.tsx
Due: graphiql

handle _ in op names, unit tests
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix tab add tests
  package.json
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
Due: graphiql

Initial implementation of vscode-graphql inside the graphiql repo (#2239)
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  packages/graphql-language-service-server/package.json
  packages/graphql-language-service-server/src/GraphQLCache.ts
  packages/vscode-graphql/.gitignore
  packages/vscode-graphql/CHANGELOG.md
  packages/vscode-graphql/LICENSE
  packages/vscode-graphql/assets/graphql-fonts.woff
  packages/vscode-graphql/assets/images/logo.png
  packages/vscode-graphql/grammars/graphql.js.json
  packages/vscode-graphql/grammars/graphql.json
  packages/vscode-graphql/grammars/graphql.markdown.codeblock.json
  packages/vscode-graphql/grammars/graphql.re.json
  packages/vscode-graphql/grammars/graphql.rescript.json
  packages/vscode-graphql/language/language-configuration.json
  packages/vscode-graphql/package.json
  packages/vscode-graphql/snippets/graphql.json
  packages/vscode-graphql/src/apis/statusBar.ts
  packages/vscode-graphql/src/extension.ts
  packages/vscode-graphql/src/server/index.ts
  packages/vscode-graphql/tsconfig.json
  resources/tsconfig.build.cjs.json
  yarn.lock
Due: graphql-language-service, graphql-language-service-server

one more regex edge case, valid element nesting
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

use dynamic imports, remove usage of `require()`
  .changeset/slimy-flies-grin.md
  package.json
  packages/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  packages/graphiql-2-rfc-context/src/utility/onHasCompletion.ts
  packages/graphiql/__mocks__/codemirror.js
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/types.ts
  packages/graphiql/src/utility/__tests__/importCodeMirror.spec.ts
  packages/graphiql/src/utility/importCodeMirror.ts
  packages/graphiql/src/utility/onHasCompletion.ts
  yarn.lock
Due: graphiql

Finally remove inline `require()` for codemirror addon imports, replace with modern dynamic `import()` (which enables `esbuild`, `vite`, etc).
  packages/graphiql/src/components/QueryEditor.tsx
  yarn.lock
Due: graphiql

feat: tabs (#2197)
  .changeset/lemon-eagles-knock.md
  package.json
  packages/graphiql/resources/renderExample.js
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/Tabs.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/css/app.css
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
  packages/graphiql/src/utility/guid.ts
  packages/graphiql/src/utility/id-from-tab-contents.ts
Due: graphiql

use dynamic imports, remove usage of `require()` (#2249)
  .changeset/slimy-flies-grin.md
  package.json
  packages/graphiql-2-rfc-context/src/components/HeaderEditor.tsx
  packages/graphiql-2-rfc-context/src/utility/onHasCompletion.ts
  packages/graphiql/__mocks__/codemirror.js
  packages/graphiql/cypress/integration/init.spec.ts
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/components/HeaderEditor.tsx
  packages/graphiql/src/components/QueryEditor.tsx
  packages/graphiql/src/components/ResultViewer.tsx
  packages/graphiql/src/components/VariableEditor.tsx
  packages/graphiql/src/components/__tests__/GraphiQL.spec.tsx
  packages/graphiql/src/types.ts
  packages/graphiql/src/utility/__tests__/importCodeMirror.spec.ts
  packages/graphiql/src/utility/importCodeMirror.ts
  packages/graphiql/src/utility/onHasCompletion.ts
  yarn.lock
Due: graphiql

fix operation name regex
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix: regex in fuzzyExtractOperationTitle
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix: try operationName, then fuzzy approach
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix operation name regex (#2252)
  packages/graphiql/src/components/GraphiQL.tsx
  packages/graphiql/src/utility/__tests__/fuzzyExtractOperationTitle.spec.ts
  packages/graphiql/src/utility/fuzzyExtractOperationTitle.ts
Due: graphiql

fix worker + n problem when changing config
  packages/monaco-graphql/src/workerManager.ts
Due: none

add changeset
  .changeset/brown-eggs-tulip.md
Due: none

fix worker creation problem when changing config (#2253)
  .changeset/brown-eggs-tulip.md
  packages/monaco-graphql/src/workerManager.ts
Due: none

improve the examples
  examples/monaco-graphql-react-vite/README.md
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/editors.ts
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/schema.ts
  examples/monaco-graphql-webpack/src/style.css
  examples/monaco-graphql-webpack/webpack.config.js
  package.json
  packages/graphiql-2-rfc-context/.gitignore
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: none

replace dset with set-value for @defer and @stream
  .changeset/beige-weeks-end.md
  package.json
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

replace dset with set-value for @defer and @stream (#2257)
  .changeset/beige-weeks-end.md
  package.json
  packages/graphiql/package.json
  packages/graphiql/src/components/GraphiQL.tsx
  yarn.lock
Due: graphiql

improve the `monaco-graphql` examples (#2255)
  examples/monaco-graphql-react-vite/README.md
  examples/monaco-graphql-react-vite/package.json
  examples/monaco-graphql-webpack/README.md
  examples/monaco-graphql-webpack/package.json
  examples/monaco-graphql-webpack/src/editors.ts
  examples/monaco-graphql-webpack/src/index.html.ejs
  examples/monaco-graphql-webpack/src/index.ts
  examples/monaco-graphql-webpack/src/schema.ts
  examples/monaco-graphql-webpack/src/style.css
  examples/monaco-graphql-webpack/webpack.config.js
  package.json
  packages/graphiql-2-rfc-context/.gitignore
  packages/monaco-graphql/README.md
  packages/monaco-graphql/src/workerManager.ts
  yarn.lock
Due: none

fix ts path resolution, for #2260
  .changeset/witty-owls-sit.md
  packages/codemirror-graphql/src/utils/hintList.ts
  packages/codemirror-graphql/src/utils/info-addon.ts
  packages/codemirror-graphql/src/utils/jump-addon.ts
  packages/codemirror-graphql/src/variables/hint.ts
Due: none

fix ts path resolution, for #2260 (#2261)
  .changeset/witty-owls-sit.md
  packages/codemirror-graphql/src/utils/hintList.ts
  packages/codemirror-graphql/src/utils/info-addon.ts
  packages/codemirror-graphql/src/utils/jump-addon.ts
  packages/codemirror-graphql/src/variables/hint.ts
Due: none

fix `codemirror` import for `onHasCompletion`
  packages/graphiql/src/utility/onHasCompletion.ts
Due: graphiql
